<style>

    #productSummary>.row>div{
        padding: 5px;
    }
    #productSummary>.row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }
    #productSummary>.row>div:nth-child(2){
        padding: 10px;
    }
    #productSummary>.row{
        border-bottom: silver solid 1px;
    }
    #productSummary>.row:last-of-type{
        border-bottom: none;
    }
    #productSummary>.row>div:nth-child(3) {
        display: none;
    }
    #productSummary.editMode>.row>div:nth-child(2) {
        display: none;
    }
    #productSummary.editMode>.row>div:nth-child(3) {
        display: inline-block;
    }
    .btn.btn-save{
        display: none;
    }
    .editMode .btn.btn-edit, .editMode .btn.btn-delete{
        display: none;
    }
    .editMode .btn.btn-save{
        display: block;
    }
    .editMode .hide-on-edit{
        display: none;
    }

</style>

<div class="checkRequired" data-module="catalog" data-level="1">
    <form id="productFormSubmit">
        <div class="content" id="productSummary">
            <div class="row hide-on-edit">
                <div class="col-3">ID Produs</div>
                <div class="col-9"><%= id %></div>
                <div class="col-9"><input name="id" class="form-control form-control-sm" type="text" value="<%= id %>"></div>
            </div>
            <div class="row">
                <div class="col-3">Denumire</div>
                <div class="col-9"><%= attributes.name %></div>
                <div class="col-9"><input name="name" class="form-control form-control-sm" value="<%= attributes.name %>" type="text"></div>
            </div>
            <div class="row hide-on-edit">
                <div class="col-3">Status</div>
                <div class="col-9">
                    <button type="button" id="employeeStatusButton" class="btn btn-sm btn-danger dropdown-toggle checkUpdate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= attributes.active === "1" ? "Activ" : "Inactiv" %></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="change_active" style="cursor:pointer;" onclick="changeStatus(this);" value="attributes.active"><%= attributes.active !== "1" ? "Activ" : "Inactiv" %></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">Tip</div>
                <div class="col-9"><%= attributes.type === "service" ? "Serviciu" : (attributes.type === "product" ? "Produs" : "Produs Compus") %></div>
                <div class="col-9">
                    <select class="form-control" id="productTypeSelect" name="type">
                        <option value="service">Serviciu</option>
                        <option value="product">Produs</option>
                        <option value="product_composed">Produs Compus</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-3">Grupa de cost</div>
                <div class="col-9"><%= attributes.grouping %></div>
                <div class="col-9">
                    <input type="text" name="grouping" class="form-control" value="<%= attributes.grouping %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Unitate</div>
                <div class="col-9"><%= relationships.unit.id %></div>
                <div class="col-9">
                    <select id="productUnitSelect" name="unit" class="form-control-sm form-control" data-operator="="><option><%= relationships.unit.id %></option></select>
                </div>
            </div>
            <div class="row">
                <div class="col-3">Pret</div>
                <div class="col-9"><%= attributes.unit_price ? attributes.unit_price : "-" %> <%= relationships.currency !== null ? relationships.currency.id : "" %></div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-8"><input name="unit_price" step=0.01 class="form-control form-control-sm" value="<%= attributes.unit_price ? attributes.unit_price : '' %>" type="number"></div>
                        <div class="col-4"><select id="productPriceUnitSelect" name="currency" class="form-control-sm form-control" data-operator="="><option><%= relationships.currency !== null ? relationships.currency.id : "" %></option></select></div>
                    </div>
                </div>
            </div>

            <div class="input-group mt-5">
                <button class="btn btn-success btn-save" onclick="" type="submit">Salveaza</button>
                &nbsp;
                <button class="btn btn-secondary btn-save" type="button" onclick="$('#productSummary').removeClass('editMode');" id="cancelButtonEditCatalog">Renunta</button>
            </div>
            <div class="row">
                <% if(attributes.active === "1") { %>
                    &nbsp;
                    <button class="btn btn-warning btn-edit checkUpdate" onclick="editMode($(this).data('instance'))" type="button">Editeaza</button>
                    &nbsp;
                    <button class="btn btn-danger btn-delete checkDelete hide-on-edit" data-dismiss="modal" onclick="deleteProduct($(this).data('instance'))" type="button">Sterge</button>
                <% } else { %>
                    &nbsp;
                    <button class="btn btn-warning btn-edit checkUpdate" onclick="editMode($(this).data('instance'))" type="button" disabled>Editeaza</button>
                    &nbsp;
                    <button class="btn btn-danger btn-delete checkDelete" data-dismiss="modal" onclick="deleteProduct($(this).data('instance'))" type="button" disabled>Sterge</button>
                <% } %>
            </div>
        </div>
    </form>
</div>

<script>

    function changeStatus(src){
        let instance = $(src).data().instance;

        komponentor.intent("/common/messagemodal").data({
            body: "Sigur doriti sa schimbati starea produsului in <strong>" + (instance.attributes.active === "1" ? "inactiv" : "activ") + "</strong>?",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        data = {
                            active: instance.attributes.active === "1" ? "0" : "1",
                        };
                        instance.update(data).catch(function(data){
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
    }

    function editMode(instance){
        $("#productSummary").addClass("editMode");

        $("#productTypeSelect").select2({placeholder: "", allowClear: true}).val(instance.attributes.type).trigger("change");
        $("#productUnitSelect").select2wrapper({url: apiRoot+"/units",labelfld:"unit"});
        $("#productPriceUnitSelect").select2wrapper({url: apiRoot+"/currencies",labelfld:"id"});

        let util = instance.getUtilities();
        let form = $("#productFormSubmit")[0];

        util.captureFormSubmit(form, function (data) {
            data.unit_price = parseFloat(data.unit_price);
            console.log(data);
            instance.update(data);
        });
    }

    function deleteProduct(instance){

        komponentor.intent("/common/messagemodal").data({
            body:"Sigur vrei sa elimini elementul <strong>"+instance.attributes.name+"</strong>?",
            buttons:[
                {
                    label: "Da",
                    attrs: {
                        "data-dismiss": "modal",
                    },
                    class: "btn btn-danger",
                    callback: function () {
                        instance.delete().catch(function(data){
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    attrs: {
                        "data-dismiss": "modal",
                    },
                    class: "btn btn-secondary",
                }
            ]
        }).send();
    }

    function init_komponent(k) {
        let instance = k.data.instance;
        instance.bindView($("#productSummary")).loadFromRemote();
    }
</script>