
<!--<div class="app-container app-theme-white body-tabs-shadow fixed-header" id="mainc">-->
<!--<div class="app-container app-theme-white body-tabs-shadow fixed-header sidebar-mini layout-fixed" >-->
    <div is='komponent' data-url="/common/header" id="mainc" data-replace="true"></div>
    <div is='komponent' data-url="/common/sidebar" id="sidebar" data-replace="true"></div>
    <div class="content-wrapper" id="pageContent"></div>
<!--</div>-->
<script>

    function init_komponent(k) {
        const pageContentContainer = '#pageContent';
        // load static defined komponents

        komponentor.loadKomponents(k.$el);


        // load main app according to routing path
        let url = typeof defaultView!=="undefined" ? defaultView : null;
        let paras;

        if(komponentor.routing.path) {
            url = komponentor.routing.path;
            paras = komponentor.routing.paras;
        }

        if(!url) {
            return;
        }

        $(pageContentContainer).komponent({
            url: url,
            paras: paras
        }).catch(function (e) {
            console.log(e);
            $('#pageContent').html("<h3>Page not found</h3>");
        });
    }
</script>