<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar" id="mainc">
    <div class="app-header header-shadow" is='komponent' data-url="/common/header"></div>
    <div class="app-main">
        <div class="app-sidebar sidebar-shadow" is='komponent' data-url="/common/sidebar" id="sidebar"></div>
        <div class="app-main__outer" id="pageContent"></div>
    </div>
</div>
<script>

    function init_komponent(k) {
        const pageContentContainer = '#pageContent';
        // load static defined komponents

        komponentor.loadKomponents(k.$el);


        // load main app according to routing path
        let url = typeof defaultView!=="undefined" ? defaultView : null;
        let paras;

        if(komponentor.routing.path) {
            url = komponentor.routing.path;
            paras = komponentor.routing.paras;
        }

        if(!url) {
            return;
        }

        $(pageContentContainer).komponent({
            url: url,
            paras: paras
        }).catch(function () {
            $('#pageContent').html("<h3>Page not found</h3>");
        });
    }
</script>