<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
                </div>
                <div>Catalog
                    <div class="page-title-subheading"></div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <button class="btn btn-primary">New order</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col">
                    <div class="card">
                        <div class="card-body">

                            <form id="filterUsers"></form>
                            <table class="table table-sm table-hover">
                                <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Denumire</th>
                                    <th>Tip</th>
                                    <th>P.U.</th>
                                    <th>Stare</th>
                                    <th width="100">
                                        <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Adauga</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>3</td>
                                    <td>tabla metal 4mm</td>
                                    <td>materie prima</td>
                                    <td>4 EURO / kg</td>
                                    <td><span class="badge badge-secondary">inactiv</span></td>
                                    <td>
                                        <button class="btn btn-warning btn-sm" onclick="komponentor.intent('/views/catalog/reper').send()"><i class="fa fa-edit"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>lacatuserie</td>
                                    <td>servicii</td>
                                    <td>10 EURO / ora</td>
                                    <td><span class="badge badge-secondary">inactiv</span></td>
                                    <td width="100">
                                        <button class="btn btn-warning btn-sm" onclick="komponentor.intent('/views/catalog/reper').send()"><i class="fa fa-edit"></i></button>
                                    </td>
                                </tr>
                                </tbody>

                                <tfoot>
                                <tr>
                                    <td colspan="5" align="left">
                                        <div class="btn-group" id="usersPaging" data-pagesize="20">
                                            <button data-type="first" class="btn btn-outline-secondary">&lt;&lt;</button>
                                            <button data-type="prev" class="btn btn-outline-secondary">&lt;</button>
                                            <button data-type="page" class="btn btn-outline-secondary">1</button>
                                            <button data-type="next" class="btn btn-outline-secondary">&gt;</button>
                                            <button data-type="last" class="btn btn-outline-secondary">&gt;&gt;</button>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                            <script>
                                function init(k,html) {
                                    // $("#users").apiator({url:apiRoot+"/users?page[users][limit]=20"});

                                    // k.exec = function (options) {
                                    //     console.log(options);
                                    // }
                                }
                            </script>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
