<style>

    #productListHeader a {
        cursor: pointer;
    }

</style>

<div class="checkRequired" data-module="catalog" data-level="1">
    <div class="container-fluid">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Catalog</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6 ">

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body checkRead">
                        <div id="newProductButtons">
                            <button type="button" aria-haspopup="true" aria-expanded="false" class="mb-2 mr-2 btn btn-primary checkCreate" id="newProdButt">Produs nou</button>
                        </div>
                        <form id="productListFilter" class="d-none"><button type="submit" name="submit"></button></form>
                        <table class="table  table-hover table-striped">
                            <thead class="thead-dark" id="productListHeader">
                            <tr>
                                <th class="align-top" style="width: 90px">
                                    <a class="text-white" data-sortfld="id">Nr. crt.
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                </th>
                                <th class="align-top">
                                    <a class="text-white" data-sortfld="name">Denumire
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                    <input type="text" name="name" class="form-control-sm form-control" form="productListFilter" data-operator="~=~">
                                </th>
                                <th class="align-top" style="width: 110px">
                                    <a class="text-white" data-sortfld="type">Tip
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                    <br>
                                    <select id="productTypeFilter" style="width: 150px" name="type" class="form-control-sm form-control" form="productListFilter" data-operator="=">
                                        <option value="service">Serviciu</option>
                                        <option value="product">Produs</option>
                                        <option value="product_composed">Produs Compus</option>
                                    </select>

                                </th>
                                <th class="align-top" style="width: 130px">
                                    <a class="text-white" data-sortfld="grouping">Grupaj
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                    <br>
                                    <input id="groupingFilter" type="text" name="grouping" class="form-control-sm form-control" form="productListFilter" data-operator="~=~">

                                </th>

                                <th class="align-top" style="width: 110px">
                                    <a class="text-white" data-sortfld="unit">Unitate
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                    <!--                                    <input type="text" name="unit" class="form-control-sm form-control" form="productListFilter" data-operator="~=~">-->
                                    <br>
                                    <select id="productUnitFilter" name="unit" class="form-control-sm form-control" form="productListFilter" data-operator="="><option> </option></select>

                                </th>
                                <th class="align-top" style="width: 110px">
                                    <a class="text-white" data-sortfld="unit_price">Pret
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                    <input type="text" name="unit_price" class="form-control-sm form-control" form="productListFilter" data-operator="~=~">
                                </th>
                                <th class="align-top" style="width: 110px">
                                    <a class="text-white" data-sortfld="active">Activ
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                    <br>
                                    <select id="productActiveFilter" style="width: 110px" name="active" class="form-control-sm form-control" form="productListFilter" data-operator="=">
                                        <option value="1">Activ</option>
                                        <option value="0">Inactiv</option>
                                        <option value="">Toate</option>
                                    </select>

                                </th>
                            </tr>
                            </thead>
                            <tbody id="productList" data-resourcetype="collection"
                                   data-type="catalog"
                                   data-pagesizeinp="#productListSizeInp"
                                   data-paging="#productListPaging"
                                   data-filter="#productListFilter"
                                   data-sort="#productListHeader">


                            <tr onclick="openProductModal(this);" style="cursor:pointer;">
                                <td><%= id %></td>
                                <td><%= attributes.name %></td>
                                <td><%= attributes.type === "service" ? "Serviciu" : (attributes.type === "product" ? "Produs" : "Produs Compus") %></td>
                                <td><%= attributes.grouping %></td>
                                <td><%= relationships.unit.id %></td>
                                <td><%= attributes.unit_price ? attributes.unit_price : "-" %> <%= relationships.currency !== null ? relationships.currency.id : "" %></td>
                                <td><span class="badge badge-pill badge-<%= attributes.active*1 ? 'success' : 'danger' %> "><%= attributes.active === "1" ? "Activ" : "Inactiv" %></span></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div class="btn-group"  id="productListPaging" data-pagesize="10">
                                        <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                                        <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                                        <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                                        <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                                        <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
                                    </div>
                                    <select id="productListSizeInp">
                                        <option>10</option>
                                        <option selected>25</option>
                                        <option>50</option>
                                        <option>75</option>
                                    </select> inregistrari pe pagina
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>

    function openProductModal(src){

        if ($(src).data("instance").id*1 === 0) {
            return;
        }
        // $(src).data("locked", true);
        komponentor
            .intent('/views/catalog/productModal')
            .data({instance:$(src).data('instance')})
            .send()
            .then(function (k) {
            })
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    function init_komponent(k) {

        let instance = $("#productList").apiator(apiRoot+"/catalog?page[catalog][offset]=0&filter=active=1").data("instance");


        k.$el.find("#productUnitFilter").select2wrapper({url: apiRoot+"/units",labelfld:"unit"});


        let formElements = $($("#productListFilter")[0].elements);
        formElements.filter("input").on("keyup",function () {
            formElements.filter("button[type=submit]").click();
        })
            .on("change",function () {
                formElements.filter("button[type=submit]").click();

            });
        formElements.filter("select").on("change",function () {
            formElements.filter("button[type=submit]").click();

        });
        let formData;
        formData = {
            callback: function (data) {
                let formModal = data.k;
                data = data.data;
                if (data.name === "" || data.type === null || data.unit === null) {
                    komponentor.intent("/common/errormodal").data({
                        body: "Denumirea, tipul si unitatea sunt necesare."
                    }).send();
                    return 1;
                }

                if (data.unit_price === "" || data.unit_price === null)
                    data.unit_price = 0.00;

                instance.createItem(data).then(() => {
                    formModal.hide();
                    instance.view.el.children().last().fadeIn(500)[0].scrollIntoView();
                }).catch(function(data){
                    komponentor.intent("/common/errormodal").data({
                        body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                    }).send();
                });
            },
            title:"Adauga reper in catalog",
            autoClose: false,
            fields: [
                {
                    label: "Denumire",
                    type: "text",
                    name: "name",
                },
                {
                    label: "Tip",
                    type: "select",
                    name: "type",
                    options: [{id: "service", description: "Serviciu"}, {id: "product", description: "Produs"}, {id: "product_composed", description: "Produs compus"}],
                },
                {
                    label: "Grupaj",
                    type: "text",
                    name: "grouping"
                },
                {
                    label: "Unitate",
                    type: "select",
                    name: "unit",
                    url: "/units",
                    labelfnc: "unit",
                    idfnc: "unit"
                },
                {
                    label: "Pret",
                    type: "number",
                    name: "unit_price",
                },
                {
                    label: "Moneda",
                    type: "select",
                    name: "currency",
                    url: "/currencies",
                    labelfnc: "id",
                    idfnc: "id"
                }
            ]
        };

        k.$el.find("#newProdButt").on("click", function () {
            komponentor.intent("/common/formmodal").data(formData).send();
        });

        k.$el.find("#productActiveFilter").select2();
        k.$el.find("#productActiveFilter").val("3").trigger('change');
        k.$el.find("#productTypeFilter").select2({placeholder: '', allowClear: true});
        k.$el.find("#productTypeFilter").val("3").trigger('change');

    }
</script>