<style>
    .ul-cards {
        list-style: none;
        padding: 0px;
    }
    .ul-cards li{
        margin: 0px;
    }
    .card:hover{
        box-shadow: 2px 2px 2px silver;
    }
</style>

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div>Angajati
                    <div class="page-title-subheading"></div>
                </div>
            </div>
            <div class="page-title-actions">
                <button onclick="addNewEmployee()" type="button" data-toggle="tooltip" title="Adauga angajat" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
                    <i class="fa fa-user-plus"></i> Angajat nou
                </button>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="filterEmployees"></form>
                        <input type="text" name="card" data-operator="=" form="filterEmployees">
                        <input type="reset" form="filterEmployees" onclick="function f() {
                            $(this).blur();
                        }">
                        <div class="row mt-4" data-resourcetype="collection" id="employees"
                            data-filter="#filterEmployees"
                            data-paging="#employeesPaging" data-filter="#filterEmployees">
                            <div class="col-3 mb-3" onclick="openEmployeeModal(this)">
                                <div class="card" style="width: 200px; height: 150px">
                                    <div class="card-body text-center">
                                        <span class="d-inline-block" style="width: 60px">
                                            <img class="rounded-circle" src="assets/img/pexels-photo-220453.webp" alt="" width="52" height="52">
                                        </span><br>
                                        <strong><%=attributes.fname%> <%=attributes.lname%></strong><br>
                                        <span class="font-weight-normal"><%=relationships.jobtitle.attributes.name%>  </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- HTML TEMPLATE SECTION: STOP-->
                    </div>
                    <div class="card-footer" id="employeesPaging">
                        <div class="btn-group" id="" data-pagesize="20">
                            <button data-type="first" class="btn btn-outline-secondary">&lt;&lt;</button>
                            <button data-type="prev" class="btn btn-outline-secondary">&lt;</button>
                            <button data-type="page" class="btn btn-outline-secondary">1</button>
                            <button data-type="next" class="btn btn-outline-secondary">&gt;</button>
                            <button data-type="last" class="btn btn-outline-secondary">&gt;&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /**
     *
     * @param src
     */
    function openEmployeeModal(src) {
        if($(src).data("locked")) {
            return;
        }

        $(src).data("locked",true);

        komponentor
            .intent('/views/employees/employee')
            .data({
                instance:$(src).data('instance')
            })
            .send()
            .then(function (kmp) {
                // console.log("**************",kmp);
            })
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    /**
     *
     */
    function addNewEmployee() {
        komponentor
            .intent('/views/employees/employee')
            .data({
                instance:$("#employees").data('instance'),
                action:'new',
                loadrecursive:'inhibit'
            })
            .send();
    }

    /**
     *
     * @param k
     * @param html
     */
    function init_komponent(k,html) {
        $("#employees").apiator({url:apiRoot+"/employees?page[employees][limit]=20&include=team,jobtitle&fields[employees]=fname,lname"});

        function codeRcvd(code,qty){
            let frm = $("#filterEmployees");
            console.log(frm);
            frm[0].card.value = code;
            frm.submit();
        }

        function longPress(){
            console.log(arguments);
        }

        $(document).scannerDetection({
            timeBeforeScanTest: 200, // wait for the next character for upto 200m0006075014s
            endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
            avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
            ignoreIfFocusOn: 'input', // turn off scanner detection if an input has focus
            onComplete: codeRcvd, // main callback function
            scanButtonKeyCode: 116, // the hardware scan button acts as key 116 (F5)
            scanButtonLongPressThreshold: 5, // assume a long press if 5 or more events come in sequence
            onScanButtonLongPressed: longPress, // callback for long pressing the scan button
            onError: function(string){alert('Error ' + string);}
        });


        k.exec = function (options) {
            console.log(options);
        }
    }
</script>