<style>
    .ul-cards {
        list-style: none;
        padding: 0px;
    }
    .ul-cards li{
        margin: 0px;
    }
    .card:hover{
        box-shadow: 2px 2px 2px silver;
    }
</style>

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div>Angajati
                    <div class="page-title-subheading"></div>
                </div>
            </div>
            <div class="page-title-actions">
                <button onclick="addNewEmployee()" type="button" data-toggle="tooltip" title="Adauga angajat" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
                    <i class="fa fa-user-plus"></i> Angajat nou
                </button>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div is="komponent" data-url="/views/employees/list" id="employeesList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    /**
     *
     */
    function addNewEmployee() {
        komponentor
            .intent('/views/employees/newemployee')
            .data({
                instance: $("#employeesList").data('komponent').getListInstance(),
                action:'new',
                loadrecursive:'inhibit'
            })
            .send();
    }

    /**
     *
     * @param k
     * @param html
     */
    function init_komponent(k,html) {

        komponentor.loadKomponents(k.$el);
        $("#employeesList").komponent();

        k.exec = function (options) {
            console.log(options);
        }
    }
</script>