<style>
    .ul-cards {
        list-style: none;
        padding: 0px;
    }
    .ul-cards li{
        margin: 0px;
    }
    .card:hover{
        box-shadow: 2px 2px 2px silver;
    }
</style>

<div class="container-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Angajati</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div id="employeesList" data-url="/views/employees/list" data-replace="true" ></div>
        </div>
    </section>
</div>

<script>


    /**
     *
     * @param k
     * @param html
     */
    function init_komponent(k,html) {
       $("#employeesList").komponent();

    }
</script>