<style>
    .ul-cards {
        list-style: none;
        padding: 0px;
    }
    .ul-cards li{
        margin: 0px;
    }
</style>

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-industry"></i>
                </div>
                <div>Angajati
                    <div class="page-title-subheading"></div>
                </div>
            </div>
            <div class="page-title-actions">
                <button onclick="addNewEmployee()" type="button" data-toggle="tooltip" title="Adauga angajat" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
                    <i class="fa fa-user-plus"></i> Angajat nou
                </button>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="row mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="filterEmployees"></form>
                        <ul class="row ul-cards" data-resourcetype="collection" id="employees"
                            data-filter="filterEmployees"
                            data-paging="#employeesPaging" data-filter="#filterEmployees">
                            <li class="m-3" onclick="openEmployeeModal(this)">
                                <div class="card" style="width: 200px; height: 150px">
                                    <div class="card-body text-center">
                                        <span class="d-inline-block" style="width: 60px">
                                            <img class="rounded-circle" src="assets/img/pexels-photo-220453.webp" alt="" width="52" height="52">
                                        </span><br>
                                        <strong><%=attributes.fname%> <%=attributes.lname%></strong><br>
                                        <span class="font-weight-normal"><%=relationships.jobtitle.attributes.name%>  </span>

                                    </div>
                                </div>
                            </li>

                        </ul>
                        <!-- HTML TEMPLATE SECTION: STOP-->
                    </div>
                    <div class="card-footer" id="employeesPaging">
                        <div class="btn-group" id="" data-pagesize="20">
                            <button data-type="first" class="btn btn-outline-secondary">&lt;&lt;</button>
                            <button data-type="prev" class="btn btn-outline-secondary">&lt;</button>
                            <button data-type="page" class="btn btn-outline-secondary">1</button>
                            <button data-type="next" class="btn btn-outline-secondary">&gt;</button>
                            <button data-type="last" class="btn btn-outline-secondary">&gt;&gt;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /**
     *
     * @param src
     */
    function openEmployeeModal(src) {
        if($(src).data("locked"))
            return;
        $(src).data("locked",true);
        komponentor
            .intent('/views/employees/employee')
            .data({
                instance:$(src).data('instance')
            })
            .send()
            .then(function (kmp) {
                // console.log("**************",kmp);
            })
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    /**
     *
     */
    function addNewEmployee() {
        komponentor
            .intent('/views/employees/employee')
            .data({
                instance:$("#employees").data('instance'),
                action:'new',
                loadrecursive:'inhibit'
            })
            .send();
    }

    /**
     *
     * @param k
     * @param html
     */
    function init_komponent(k,html) {
        $("#employees").apiator({url:apiRoot+"/employees?page[employees][limit]=20&include=team,jobtitle&fields[employees]=fname,lname"});

        k.exec = function (options) {
            console.log(options);
        }
    }
</script>