<style>

    .deleteBtn{
        display: none;
    }
    .jobs.allowDelete .deleteBtn{
        display: unset;
    }

    .justDisplay{
    }

    .editOnClick{
        display: none;
    }

    .jobs.allowEdit .justDisplay{
        display: none;
    }

    .jobs.allowEdit .editOnClick{
        display: unset;
    }

</style>

<div class="container-fluid jobs">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Posturi</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">
                    <div class="breadcrumb float-sm-right checkCreate">
                        <button class="btn btn-primary btn-sm" id="newJobModalButton"><i class="fa fa-plus"></i> Post nou</button>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body checkRead">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Nume</th>
<!--                            <th>Actiuni</th>-->
                        </tr>
                        </thead>
                        <tbody id="jobsList" data-paging="#jobsListPaging"
                               data-pagesizeinp="#jobsPageSizeInp" 
                               data-resourcetype="collection" data-type="jobs">
<!--                        <tr class="tr-job" onclick="openJobModal(this)" style="cursor:pointer;">-->
                        <tr class="tr-job" onclick="jobDetailsModal(this)" style="cursor: pointer">
                            <td><%= id %></td>
                            <td><%= attributes.name %></td>
<!--                            <td><button class="btn-danger btn btn-sm" onclick="deleteUnit(this, event);"><i class="fa fa-trash-alt"></i> Sterge</button></td>-->
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div>
                        <div class="btn-group" id="jobsListPaging" data-pagesize="10">
                            <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                            <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                            <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                            <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                            <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
                        </div>
                        <select id="jobsPageSizeInp">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>75</option>
                        </select> inregistrari pe pagina
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    // function openJobModal(src){
    //     $(src).data("locked", true);
    //     // console.log(src);
    //     komponentor
    //         .intent('/views/jobs/addJob')
    //         .data({instance:$(src).data('instance')})
    //         .send()
    //         .then(function (k) {
    //             // console.log("**************",k);
    //         })
    //         .finally(function () {
    //             $(src).removeData("locked");
    //         })
    // }

    function jobDetailsModal(src) {

        if($(src).data("locked")) {
            return;
        }
        $(src).data("locked",true);

        komponentor.intent('/views/jobs/job')
            .send({instance:$(src).data('instance')})
            // .then((k)=>{console.log('#######',k)})
            .finally(()=>$(src).data("locked",null));

    }

    function init_komponent(k,c) {

        checkUserRights(k.$el, "jobs");

        let instance = $("#jobsList").apiator({url: apiRoot+"/jobs"}).data("instance");

        $("#newJobModalButton").on("click", function () {
            komponentor.intent("/views/jobs/addJob")
                .data({instance: instance})
                .send();
        })
    }
</script>