<style>
    .offer .state .badge{
        background: silver;

    }
    .offer .state .badge::after{
        content: "OFERTA"
    }

    .ord .state .badge{
        background: dodgerblue;
    }
    .ord .state .badge::after{
        content: "COMANDAT"
    }

    .proc .state .badge{
        background: #d91c22;
    }
    .proc .state .badge::after{
        content: "IN LUCRU"
    }

    .ctc .state .badge{
        background: #d5c80f;
    }
    .ctc .state .badge::after{
        content: "CONTROL"
    }

    .fix .state .badge{
        background: #c06109;
    }
    .fix .state .badge::after{
        content: "CORECTII"
    }
    .ready .state .badge{
        background: #24c011;
    }
    .ready .state .badge::after{
        content: "GATA DE LIVRARE"
    }
    .dlvd .state .badge{
        background: #bb1dc0;
    }
    .dlvd .state .badge::after{
        content: "LIVRAT"
    }

    .order .actions{
        display: none;
    }
    .order:hover .actions{
        display: block;
    }
    .order:hover .auftragNumLbl{
        display: none;
    }


</style>
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-car icon-gradient bg-mean-fruit"></i>
                </div>
                <div>Comenzi
                    <div class="page-title-subheading"></div>
                </div>
            </div>
            <div class="page-title-actions">
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div is="komponent" data-url="/views/orders/ordersTable" data-replace="true"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function init_komponent(k) {
        komponentor.loadKomponents(k.$el);
    }
</script>
