<style>

    .offer .state .badge{
        background: #6C757D;
        width: 60%;
        color: white;
    }
    .offer .state .badge::after{
        content: "OFERTA"
    }

    .ord .state .badge{
        background: #FCC107;
        width: 60%;
        color: black;
    }
    .ord .state .badge::after{
        content: "COMANDAT"
    }

    .proc .state .badge{
        background: #DC3545;
        width: 60%;
        color: white;
    }
    .proc .state .badge::after{
        content: "IN LUCRU"
    }

    .ctc .state .badge{
        background: #d5c80f;
        width: 60%;
        color: white;
    }
    .ctc .state .badge::after{
        content: "CONTROL"
    }

    .fix .state .badge{
        background: #c06109;
        width: 60%;
        color: white;
    }
    .fix .state .badge::after{
        content: "CORECTII"
    }
    .ready .state .badge{
        background: #2AA744;
        width: 60%;
        color: white;
    }
    .ready .state .badge::after{
        content: "GATA DE LIVRARE"
    }
    .dlvd .state .badge{
        background: #2AA744;
        width: 60%;
        color: white;
    }
    .dlvd .state .badge::after{
        content: "LIVRAT"
    }
</style>

<div class="container-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Comenzi</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div is="komponent" data-url="/views/orders/ordersTable" data-replace="true"></div>

            </div>
        </div>
    </section>
</div>

<script>

    function init_komponent(k) {
        komponentor.loadKomponents(k.$el);
    }

</script>
