<style>
    #partnersListHeader a{
        cursor: pointer;
    }
</style>

<div class="checkRequired" data-module="partners" data-level="1">
    <div class="container-fluid">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Parteneri</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6 ">
                        <div class="breadcrumb float-sm-right">
                            <button class="btn btn-primary checkCreate" id="newUnitModalButton"><i class="fa fa-plus"></i> Partener nou</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body checkRead">
                        <form id="partnersListFilter" class="d-none"><button type="submit" id="partnersSubmitButton"></button></form>
                        <table class="table table-hover table-striped" id="partnersTable">
                            <thead class="thead-dark" id="partnersListHeader">
                            <tr>
                                <!--                            <th>#</th>-->
                                <th>
                                    <a class="text-white" data-sortfld="name">Nume
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                    <input type="text" name="name" class="form-control-sm form-control" form="partnersListFilter" data-operator="~=~">
                                </th>
                                <th>
                                    <a class="text-white" data-sortfld="address1">Adresa
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                    <input type="text" name="address1" class="form-control-sm form-control" form="partnersListFilter" data-operator="~=~">
                                </th>
                                <th>
                                    <a class="text-white" data-sortfld="cod_fiscal">Cod Fiscal
                                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                                    <input type="text" name="cod_fiscal" class="form-control-sm form-control" form="partnersListFilter" data-operator="~=~">
                                </th>
                                <th style="width: 150px"></th>
                            </tr>
                            </thead>
                            <tbody id="partnersList" data-emptyview="#partnersListEmpty"
                                   data-resourcetype="collection"
                                   data-type="partners"
                                   data-offsetinp="#partnersOffsetInp" data-pagesizeinp="#partnersPageSizeInp"
                                   data-paging="#partnersListPaging"
                                   data-filter="#partnersListFilter"
                                   data-sort="#partnersListHeader">
                            <tr onclick="openPartnerModal(this)" style="cursor:pointer;" class="order">
                                <!--                            <td><%= id %></td>-->
                                <td><%= attributes.name %></td>
                                <td><%= attributes.address1 %></td>
                                <td><%= attributes.cod_fiscal %></td>
                                <td align="center"><button class="btn-primary btn btn-sm checkDelete" onclick="deletePartner(this,event)"><i class="fa fa-trash-alt"></i> Sterge</button></td>
                            </tr>
                            </tbody>
                            <tbody class="d-none">
                            <tr id="partnersListEmpty"><td colspan="4">Nu exista inregistrari care sa valideze criteriilor de filtrare</td></tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div class="btn-group"  id="partnersListPaging" data-pagesize="10">
                                        <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                                        <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                                        <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                                        <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                                        <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
                                    </div>
                                    <select id="partnersPageSizeInp">
                                        <option selected>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                        <option>75</option>
                                    </select> inregistrari pe pagina
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>

    function openPartnerModal(src) {
        $(src).data("locked",true);
        komponentor.intent('/views/partners/partner')
            .data({instance:$(src).data('instance')})
            .send()
            .then(function (k) {
                //console.log("**************",k);
            })
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    function deletePartner(src, e) {

        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa stergi unitatea <br><strong>"+$(src).data("instance").attributes.name+ "</strong>",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        $(src).data('instance').delete().catch(function(data){
                            console.log(data);
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
        e.stopPropagation();
    }

    function init_komponent(k,c) {

        let instance = $("#partnersList").apiator({
            url:apiRoot+"/partners?page[partners][offset]=0&page[partners][limit]=10",
            type: "partners",
            resourcetype: "collection",
        }).data("instance");
        let submitButton = k.$el.find("#partnersSubmitButton");

        k.$el.find("#partnersTable").find("input").on("input", function () {
            submitButton.click();
        });

        $("#newUnitModalButton").on("click", function () {
            //prepare the modal behind the curtain
            komponentor.intent("/views/partners/addPartner")
                //Take the data from the form and send them to beckend
                .data({instance: instance})
                .send();
        })
    }
</script>
