<div class="content-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Parteneri</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">
                    <div class="breadcrumb float-sm-right">
                        <button class="btn btn-primary" id="newUnitModalButton"><i class="fa fa-plus"></i> Partener nou</button>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="content-fluid">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Nume</th>
                            <th>Adresa</th>
                            <th style="text-align:center">Actiuni</th>
                        </tr>
                        </thead>
                        <tbody id="partnersList" data-resourcetype="collection" data-type="partners">
                        <tr onclick="openPartnerModal(this)" style="cursor:pointer;">
                            <td><%= id %></td>
                            <td><%= attributes.name %></td>
                            <td><%= attributes.address1 %></td>
                            <td align="center"><button class="btn-primary btn btn-sm" onclick="deletePartner(this,event)"><i class="fa fa-trash-alt"></i> Sterge</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function openPartnerModal(src) {
        $(src).data("locked",true);
        komponentor
            .intent('/views/partners/addPartner')
            .data({instance:$(src).data('instance')})
            .send()
            .then(function (k) {
                //console.log("**************",k);
            })
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    function deletePartner(src, e){
        //console.log("////",$(src).data("instance").attributes.name)

        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa stergi unitatea <br><strong>"+$(src).data("instance").attributes.name+ "</strong>",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        $(src).data('instance').delete().catch(function(data){
                            console.log(data);
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+JSON.stringify(data.jqXHR.responseText)+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
        e.stopPropagation();
    }

    function init_komponent(k,c) {
        let instance = $("#partnersList").apiator(apiRoot+"/partners").data("instance");


        $("#newUnitModalButton").on("click", function () {
            //prepare the modal behindthe curtain
            komponentor.intent("/views/partners/addPartner")
                //Take the data from the form and send them to beckend
                .data({instance: instance})
                .send();
        })
    }
</script>
