<style>
    .timemap {
        max-width: 100%;
        overflow: auto;
        background: #dddddd;

    }
    .timemap>div{
        position: relative;
        margin: 5px 0px 5px 0px;
        padding: 5px;
        color: white;
        font-size: 10px;
    }
    .timemap-ruler{
        background: #dddddd;
        padding: 0px;
    }
    .timemap-ruler>span{
        display: inline-block;
        width: 100px;
    }
    .timemap-overlay{
        position: relative;
        background: #dddddd;
        top: -245px;
        left: 400px;
        width: 500px;
        height: 245px;
        opacity: 80%;
    }
</style>
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-map-marked"></i>
                </div>
                <div>Planificator
                    <div class="page-title-subheading"></div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="timemap-ruler">
                            <span class="">2021/01/01</span>
                            <span class="">2021/01/15</span>
                            <span class="">2021/02/01</span>
                            <span class="">2021/02/15</span>
                            <span class="">2021/03/01</span>
                            <span class="">2021/03/15</span>
                            <span class="">2021/04/01</span>
                            <span class="">2021/04/15</span>
                            <span class="">2021/05/01</span>
                            <span class="">2021/05/15</span>
                        </div>
                        <div class="timemap">
                            <div onclick="komponentor.intent('/views/orders/order').send()" style="width: 300px; background: #0b5885;left: 0px;">A1528</div>
                            <div onclick="komponentor.intent('/views/orders/order').send()" style="width: 450px; background: #852d44;left: 90px;">A1528</div>
                            <div onclick="komponentor.intent('/views/orders/order').send()" style="width: 700px; background: #909090;left: 50px;">A1528</div>
                            <div onclick="komponentor.intent('/views/orders/order').send()" style="width: 390px; background: #618500;left: 110px;">A1528</div>
                            <div onclick="komponentor.intent('/views/orders/order').send()" style="width: 290px; background: #448185;left: 170px;">A1528</div>
                            <div onclick="komponentor.intent('/views/orders/order').send()" style="width: 440px; background: #d5d211;left: 20px;">A1528</div>
                            <div onclick="komponentor.intent('/views/orders/order').send()" style="width: 600px; background: #091985;left: 50px;">A1528</div>
                            <div onclick="komponentor.intent('/views/orders/order').send()" style="width: 670px; background: #855b73;left: 150px;">A1528</div>
                        </div>
                        <div class="timemap-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
