<div class="container-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Pontaj</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div is="komponent" data-replace="true" data-url="/views/pontaj/lista"></div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    function init_komponent(k) {
        // $("#ordersList").apiator(apiRoot+"/orders?include=partner_id,doc_id&fields[partners]=name&page[orders][offset]=0&page[orders][limit]=5");


        // k.exec = function (b) {
        //     console.log("exec order",k,b);
        // }
        komponentor.loadKomponents(k.$el);
    }
</script>