<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="fa fa-clock"></i>
                </div>
                <div>Pontaj
                    <div class="page-title-subheading"></div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
<!--                    <button class="btn btn-primary">Intrari manuale</button>-->
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body lista">
                        <div is="komponent" data-replace="true" data-url="/views/pontaj/lista"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
