<script>
    function init_komponent(k) {
        let data = {
            fields:[
                {
                    label: "Locatie imprimanta",
                    type: "text",
                    name: "lblPrintApi",
                    default: localStorage.getItem(localStorageLabel+".lblPrintApi")
                },
                {
                    label: "Environment",
                    type: "select",
                    name: "env",
                    default: {value: localStorage.getItem(localStorageLabel+".env")},
                    options: Object.getOwnPropertyNames(env_config).map(function (item) {
                        return {value:item,label:item};
                    })
                },
            ],
            title:"Preferinte",
            callback:function (data) {
                data = data.data;
                console.log(data);
                for(let i in data) {
                    localStorage.setItem(localStorageLabel+"."+i,data[i]);
                }
            }
        };
        console.log(data);
        komponentor.intent("/common/formmodal").data(data).send();
    }
</script>