<script>
    function init_komponent(k) {
        let data = {
            fields:[
                {
                    label: "Locatie imprimanta",
                    type: "text",
                    name: "lblPrintApi",
                    default: localStorage.getItem(localStorageLabel+".lblPrintApi")
                }
                // ,
                // {
                //     label: "Altceva",
                //     type: "textarea",
                //     name: "pos2",
                //     default: localStorage.getItem(localStorageLabel+".pos2")
                // },

            ],
            title:"Preferinte",
            callback:function (data) {
                console.log(data);
                for(let i in data) {
                    localStorage.setItem(localStorageLabel+"."+i,data[i]);
                }
            }
        };
        console.log(data);
        komponentor.intent("/common/formmodal").data(data).send();
    }
</script>