<script>
    function init_komponent(k) {
        let data = {
            fields:[
                {
                    label: "Locatie imprimanta",
                    type: "text",
                    name: "lblPrintApi",
                    default: localStorage.getItem(localStorageLabel+".lblPrintApi")
                }
            ],
            title:"Preferinte",
            callback:function (data) {
                data = data.data;
                console.log(data);
                for(let i in data) {
                    localStorage.setItem(localStorageLabel+"."+i,data[i]);
                }
            }
        };
        console.log(data);
        komponentor.intent("/common/formmodal").data(data).send();
    }
</script>