<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Catalog</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">
                    <div class="breadcrumb float-sm-right">
                        <button class="btn btn-primary">New order</button>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="app-main__inner">
        <div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <form id="filterUsers"></form>
                            <table class="table  table-hover table-striped">
                                <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Denumire</th>
                                    <th>Tip</th>
                                    <th>P.U.</th>
                                    <th>U.M.</th>
                                    <th>Cod</th>
                                    <th>Documente</th>
                                    <th>Stoc</th>
                                    <!--                                    <th>Moneda</th>-->
                                    <th>Stare</th>
                                </tr>
                                </thead>
                                <tbody id="catalogList" data-resourcetype="collection">
                                <tr onclick="openJobModal(this)" style="cursor:pointer;">
                                    <td><%= id %></td>
                                    <td><%= attributes.name %></td>
                                    <td><%= attributes.type %></td>
                                    <td><%= attributes.unit_price + " " + relationships.currency.id + "/ " + relationships.units_unit.id %></td>
                                    <td><%= relationships.units_unit.id %></td>
                                    <td><%= attributes.code %></td>
                                    <td><%= attributes.docs===null ? "None" : attributes.docs %></td>
                                    <td><%= relationships.default_stock.type %></td>
                                    <!--                                    <td><%= attributes.currency %></td>-->
                                    <td><span class="badge badge-secondary"><%= attributes.active === "1" ? "Activ" : "Inactiv" %></span></td>
                                </tr>
                                </tbody>

                                <tfoot>
                                <tr>
                                    <td colspan="5" align="left">
                                        <div class="btn-group" id="usersPaging" data-pagesize="20">
                                            <button data-type="first" class="btn btn-outline-secondary">&lt;&lt;</button>
                                            <button data-type="prev" class="btn btn-outline-secondary">&lt;</button>
                                            <button data-type="page" class="btn btn-outline-secondary">1</button>
                                            <button data-type="next" class="btn btn-outline-secondary">&gt;</button>
                                            <button data-type="last" class="btn btn-outline-secondary">&gt;&gt;</button>
                                        </div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openJobModal(src){
        $(src).data("locked", true);
        // console.log(src);
        komponentor
            .intent('/views/products/updateProduct')
            .data({instance:$(src).data('instance')})
            .send()
            .then(function (k) {
                console.log("**************",k);
            })
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    function init_komponent(k){
        // console.log(apiRoot+"/products");

        let instance = $("#catalogList").apiator(apiRoot+"/products").data("instance");
        console.log(instance);
    }
</script>