<style>

</style>

<div class="checkRequired" data-module="units" data-level="1">
    <div class="container-fluid">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Unitati de Masura</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6 ">
                        <div class="breadcrumb float-sm-right">
                            <button class="btn btn-primary checkCreate" id="newUnitModalButton"><i class="fa fa-plus"></i> Unitate noua</button>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body checkRead">
                        <table class="table table-hover table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>Unitate</th>
                                <th>Tip</th>
                            </tr>
                            </thead>
                            <tbody id="unitsList" data-resourcetype="collection" data-type="units">
                            <tr class="tr-unit" onclick="openUnitModal(this)" style="cursor:pointer;">
                                <td><%= attributes.unit %></td>
                                <td><%= attributes.type %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>

    function openUnitModal(src){
        $(src).data("locked", true);
        komponentor
            .intent('/views/units/addUnit')
            .data({instance:$(src).data('instance')})
            .send()
            // .then(function (k) {
            //     console.log("**************",k);
            // })
            .finally(function () {
                $(src).removeData("locked");
            })
    }


    function init_komponent(k,c) {

        let instance = $("#unitsList").apiator(apiRoot+"/units").data("instance");
        $("#newUnitModalButton").on("click", function () {
            //prepare the modal behind the curtain
            komponentor.intent("/views/units/addUnit")
            //Take the data from the form and send them to beckend
                .data({instance: instance})
                .send();
        })
    }

</script>