<style>

</style>

<div class="container-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Echipe</h1>
                </div>
                <div class="col-sm-6 ">
                    <div class="breadcrumb float-sm-right checkCreate">
                        <button onclick="newEmplForm()" type="button" data-toggle="tooltip" title="Adauga angajat" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
                            Echipa noua
                        </button>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body checkRead">
                    <div class="row" data-resourcetype="collection" id="teamsList" data-type="teams" data-paging="#teamsListPaging">
                        <div class="col-lg-2 col-md-3 col-sm-4" onclick="teamModal(this)">
                            <div class="card" style="cursor: pointer">
                                <div class="card-body text-center">
                                        <span class="rounded-circle bg-secondary " style=" font-size: 40px;padding: 5px">
                                            <i class="fa fa-users"></i>
                                        </span>
                                    <div class="d-block mt-2">
                                        <%=attributes.name%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- HTML TEMPLATE SECTION: STOP-->
                </div>
                <div class="card-footer" id="teamsListPaging">
                    <div class="btn-group" id="" data-pagesize="20">
                        <button data-type="first" class="btn btn-outline-secondary">&lt;&lt;</button>
                        <button data-type="prev" class="btn btn-outline-secondary">&lt;</button>
                        <button data-type="page" class="btn btn-outline-secondary">1</button>
                        <button data-type="next" class="btn btn-outline-secondary">&gt;</button>
                        <button data-type="last" class="btn btn-outline-secondary">&gt;&gt;</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<script>

    function newEmplForm() {
        komponentor.intent("/common/formmodal").data({
            callback:function (data){
                data = data.data;
                $("#teamsList").data("instance").createItem(data);
            },
            title:"Adauga Echipa Noua",
            fields:[{type:"text",name: "name",default: "test", placeholder: "Numele Echipei", label: "Nume",options:[]}]
        }).send();
    }

    function teamModal(src) {
        komponentor.intent('/views/teams/team').data({instance: $(src).data('instance')}).send();
    }

    function init_komponent(k,html) {

        checkUserRights(k.$el, "teams");

        $("#teamsList").apiator({url:apiRoot+"/teams"});

        k.exec = function (options) {
            console.log(options);
        }
    }
</script>