<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon"><i class="fa fa-address-card icon-gradient bg-mean-fruit"></i>
                </div>
                <div>Unitati de masura
                    <div class="page-title-subheading"></div>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <button class="btn btn-primary" id="newUnitModalButton"><i class="fa fa-plus"></i> Unitate noua</button>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="thead-light">
                            <tr>
                                <th>Unitate</th>
                                <th>Tip</th>
                                <th style="text-align:center">Actiune</th>
                            </tr>
                            </thead>
                            <tbody id="unitsList" data-resourcetype="collection" data-type="units">
                            <tr class="tr-job" onclick="openJobModal(this)" style="cursor:pointer;">
                                <td><%= attributes.unit %></td>
                                <td><%= attributes.type %></td>
                                <td align="center"><button class="btn-warning btn btn-sm" onclick="deleteUnit(this, event);"><i class="fa fa-trash-alt"></i> Sterge</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openJobModal(src){
        $(src).data("locked", true);
        // console.log(src);
        komponentor
            .intent('/views/units/unit')
            .data({instance:$(src).data('instance')})
            .send()
            .then(function (k) {
                // console.log("**************",k);
            })
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    function deleteUnit(src, e){
        console.log("////",$(src).data("instance"))

        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa stergi comanda<br><strong>"+$(src).data("instance").attributes.label + "</strong>",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        $(src).data('instance').delete().catch(function(data){
                            console.log(data);
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+JSON.stringify(data.jqXHR.responseText)+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
        e.stopPropagation();
    }


    function init_komponent(k,c) {
        let instance = $("#unitsList").apiator(apiRoot+"/units").data("instance");

        $("#newUnitModalButton").on("click", function () {
            komponentor.intent("/views/units/addUnit")
                .data({instance: instance})
                .send();
        })
    }

    // function del_job(src, e){
    //     console.log($(src).parent().parent())
    //     console.log(src, "yooooooooooooooooooooooooooooooooooooohohoho");
    // }
</script>