<div class="container-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Utilizatori</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">
                    <div class="breadcrumb float-sm-right">
                        <button class="btn btn-primary" id="newJobModalButton" ><i class="fa fa-user-plus"></i> Adauga</button>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <form id="filterUsers"></form>
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark" id="usersThead">
                        <tr>
                            <th>
                                <label>
                                    UserID
                                    <a class="text-white" data-sortfld="userid">
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                </label>
                                <input form="filterUsers" type="text" name="userid" data-operator="~=~" class="form-control form-control-sm" onkeyup="this.form.submit.click()">
                            </th>
                            <th>
                                <label>
                                    Nume
                                    <a class="text-white" data-sortfld="fname">
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                </label>
                                <input form="filterUsers" type="text" name="fname" data-operator="~=~" class="form-control form-control-sm" onkeyup="this.form.submit.click()">
                            </th>
                            <th>
                                <label>
                                    Prenume
                                    <a class="text-white" data-sortfld="fname">
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                </label>
                                <input form="filterUsers" type="text" name="fname" data-operator="~=~" class="form-control form-control-sm" onkeyup="this.form.submit.click()">
                            </th>
                            <th>
                                <label>
                                    Active
                                    <a class="text-white" data-sortfld="active">
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                </label>
                                <select form="filterUsers" name="active" class="form-control custom-select custom-select-sm" onchange="this.form.submit.click()">
                                    <option value="__EMPTY__"></option>
                                    <option value="1">Active</option>
                                    <option value="0">Blocat</option>
                                </select>
                            </th>
                            <th width="100">

                            </th>
                        </tr>
                        </thead>
                        <tbody data-resourcetype="collection" id="users"
                               data-addeditmodal='#addEditModal' data-deletemodal='#confirmDeleteModal'
                               data-filter="filterUsers" data-type="users" data-sort="#usersThead"
                               data-paging="#usersPaging" data-filter="#filterUsers">
                        <tr onclick="openEditUserModal(this);" style="cursor: pointer">
                            <td ><%= attributes.userid %></td>
                            <td><%= attributes.fname %></td>
                            <td><%= attributes.lname %></td>
                            <td><span class="badge badge-<%= attributes.locked*1?'danger':'success' %>"><%= attributes.locked*1?'blocat':'activ' %></span> </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDeleteModal" onclick="event.stopPropagation();" data-action="showDeleteConfirm">Sterge</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <td colspan="5" align="left">
                        <div class="btn-group" id="usersPaging" data-pagesize="20">
                            <button data-type="first" class="btn btn-outline-secondary">&lt;&lt;</button>
                            <button data-type="prev" class="btn btn-outline-secondary">&lt;</button>
                            <button data-type="page" class="btn btn-outline-secondary">1</button>
                            <button data-type="next" class="btn btn-outline-secondary">&gt;</button>
                            <button data-type="last" class="btn btn-outline-secondary">&gt;&gt;</button>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    function openEditUserModal(src){
        komponentor.intent("/views/users/editUser").data({instance: $(src).data().instance}).send();
    }

    function init_komponent(k,html) {
        let instance = $("#users").apiator({url:apiRoot+"/users?page[users][limit]=20",returninstance: true});
        k.$el.find("#newJobModalButton").off("click").on("click", function (src){
            komponentor.intent("/views/users/addUser").data({instance:instance}).send();
        });
    }
</script>