<style>
    #deliveryContentsTable tr>td:first-child,#deliveryContentsTable tr>th:first-child{
        display: none;
    }

    /*#deliveryContentsTable:hover tr>td:first-child,#deliveryContentsTable:hover tr>th:first-child{*/
    /*    display: table-cell;*/
    /*}*/
    .items{
        width: 100%;
        background: white;

    }
    .items * {
        font-size: 0.8rem;
        vertical-align: top;
    }
    .items td{

        border-bottom: dashed silver 1px;
    }
    .items thead{
        background: #6f6f6f;
        color: white;
    }
    .items  input{
        border: solid silver 1px;
    }
</style>
<div>
    <div class="card mb-3" style="background: #f4f4f4; display: none" id="addElsToDeliveryCard">
        <div class="card-body">
            <div class="form-group">
                <label>Comanda</label>
                <select class="custom-select" id="orderSelect" class="js-example-basic-single" style="width: 100%;">
                </select>
            </div>
            <div class="">
                <label>Elemente</label>
                <div style="padding: 5px; border-radius: 5px 5px 5px 5px; border: solid silver 1px; background: #fff">
                    <div style="max-height: 200px; overflow: scroll; ">

                        <table class="items">
                            <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>Cod <input type="text" size="10"> </th>
                                <th>Denumire <input type="text" size="10"> </th>
                                <th>Cantitate</th>
                            </tr>
                            </thead>
                            <tbody id="unassingedItems" data-resourcetype="collection" data-type="">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><%= id %></td>
                                <td><%= attributes.name %></td>
                                <td><input type="number" size="4" max="10"> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button id="addToDlvrBtn">Adauga elementele selecteate</button>
            <button id="cancelAddToDlvrBtn">Anuleaza</button>
        </div>
    </div>
<!--    <button class="btn btn-primary" id="startScanBut"><i class="fa fa-barcode"></i> Scaneaza elemente</button>-->
    <form id="deliveryContentsFilter"></form>
    <button class="btn btn-primary" id="addContentBtn">Adauga continut</button>
    <table class="table table-striped table-hover" id="deliveryContentsTable">
        <thead class="thead-light" id="deliveriesListHeader">
        <tr>
            <th></th>
            <th class="align-top">
                <a class="text-secondary" data-sortfld="label">Denumire
                    <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                <input type="text" name="label" class="form-control-sm form-control" form="deliveryContentsFilter" data-operator="~=~">
            </th>
            <th class="align-top" style="width: 100px">
                <a class="text-secondary" data-sortfld="label">Bucati
                    <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
            </th>
            <th class="align-top" style="min-width: 250px">
                <a class="text-secondary" data-sortfld="docnum">Comanda
                    <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
            </th>
        </tr>
        </thead>
        <tbody id="deliveryContentsList" data-paging="#deliveryContentsListPaging" data-type="deliveries" data-resourcetype="collection"
               data-offsetinp="#deliveryContentsOffsetInp" data-pagesizeinp="#deliveryContentsPageSizeInp">
        <tr class="">
            <td><button class="btn-success btn">OK</button></td>
            <td></td>
            <td><%= attributes.qty %></td>
            <td><%= attributes.qty %></td>
            <td></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td colspan="6">

                <div class="btn-group"  id="deliveryContentsListPaging" data-pagesize="10">
                    <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                    <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                    <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                    <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                    <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
                </div>
                Pagina <input type="number" name="offset" size="3" value="0" id="deliveryContentsOffsetInp">
                <select id="deliveryContentsPageSizeInp">
                    <option></option>
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                </select> inregistrari pe pagina
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<script>

    function init_komponent(k) {
        if(!k.data || !k.data.instance) {
            return;
        }

        function addContent()
        {
            k.$el.find("#addElsToDeliveryCard").show(400);

            let $select = k.$el.find("#orderSelect");
            if(!$select.hasClass("select2")) {
                $select.select2wrapper({url: apiRoot+"/orders_extended",placeholder:"Alege comanda",labelfld:"docnum"});
                $select.on('select2:select', function (e) {
                    var data = e.params.data;
                    k.$el.find("#unassingedItems").apiator("")
                });
            }
            $select.val(null).trigger('change');
        }

        k.$el.find("#addContentBtn").on("click",addContent);
        // k.$el.find("#addToDlvrBtn").on("click",addContent);
        k.$el.find("#cancelAddToDlvrBtn").on("click",()=>k.$el.find("#addElsToDeliveryCard").hide(400));

        let url = apiRoot + "/deliveries/"+k.data.instance.id+"/deliveries_contents?include=inventory,inventory.order";
        let contentItems = k.$el.find("#deliveryContentsList").apiator({url:url,returninstance:true});

        k.$el.find("#startScanBut").on("click",function () {
            komponentor.intent("/views/deliveries/scan").data({data:k.data}).send();
        });

    }


</script>