<style>
    #deliveryContentsTable tr>td:first-child,#deliveryContentsTable tr>th:first-child{
        display: none;
    }

    /*#deliveryContentsTable:hover tr>td:first-child,#deliveryContentsTable:hover tr>th:first-child{*/
    /*    display: table-cell;*/
    /*}*/
    .items{
        width: 100%;
        background: white;

    }
    .items * {
        font-size: 0.8rem;
        vertical-align: top;
    }
    .items td{

        border-bottom: dashed silver 1px;
    }
    .items thead{
        background: #6f6f6f;
        color: white;
    }
    .items thead a{
        color: white;

    }
    .items  input{
        border: solid silver 1px;
    }
    #unassingedItems tr.selected{
        background: #aeaeae;
    }
</style>
<div>
    <div class="card mb-3" style="background: #f4f4f4; display: none" id="addElsToDeliveryCard">
        <div class="card-body">
            <div class="form-group">
                <label>Comanda</label>
                <select class="custom-select" id="orderSelect" class="js-example-basic-single" style="width: 100%;">
                </select>
            </div>
            <div class="form-group">
                <label>Elemente</label>
                <div style="padding: 5px; border-radius: 5px 5px 5px 5px; border: solid silver 1px; background: #fff" class="mb-3">
                    <div style="max-height: 200px; overflow: scroll; ">
                        <form id="filterUnassingedItems">
                        <table class="items">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="checkAllUnassingedItems" data-connected="#unassingedItems" onclick="toggleAll(this)"></th>
                                <th>Nr. desen <input type="text" size="10" oninput="$(this.form).submit()" name="partid" data-operator="~=~"> </th>
                                <th>Cod element <input type="text" size="10" oninput="$(this.form).submit()" name="partid" data-operator="~=~"> </th>
                                <th>Denumire <input type="text" size="10" oninput="$(this.form).submit()"  name="name" data-operator="~=~"> </th>
                                <th>Cantitate</th>
                            </tr>
                            </thead>
                            <tbody id="unassingedItems" data-resourcetype="collection" data-filter="#filterUnassingedItems">
                            <tr>
                                <td><input type="checkbox" name="ids[]" value="<%= id %>" onclick="toggleSelect($(this).parents('tr'))" data-connected="#checkAllUnassingedItems"></td>
                                <td><%= attributes.design %></td>
                                <td><%= attributes.partid %></td>
                                <td><%=  attributes.name %></td>
                                <td><input type="number" name="qtys[]" size="4" max="<%=attributes.qty-attributes.dlvd_qty%>" min="0" value="<%=attributes.qty-attributes.dlvd_qty%>" onclick="event.stopPropagation();"> </td>
                            </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
                <button id="addToDlvrBtn" class="btn btn-sm btn-success">Adauga elementele selectate</button>
                <button id="cancelAddToDlvrBtn" class="btn btn-sm btn-secondary">Anuleaza</button>

            </div>
        </div>
    </div>
    <form id="deliveryContentsFilter" class="d-none"><input type="submit"></form>
    <div class="hide-not-created">
        <button class="btn btn-primary btn-sm mb-3 checkUpdate" id="addContentBtn"><i class="fa fa-truck-loading"></i> Adauga elemente la livrare</button>
    </div>
    <div style="max-height: 500px; overflow: auto">
        <div class="alert alert-default-secondary">
            <div class="form-row">
                <div class="col">
                    <label>Numar desen</label>
                    <input type="text" autocomplete="false" name="code" class="form-control form-control-sm" form="deliveryContentsFilter" data-operator="~=~" oninput="$(this.form).submit()">
                </div>
                <div class="col">
                    <label>Denumire piesa</label>
                    <input type="text" autocomplete="false"  name="label" class="form-control form-control-sm" form="deliveryContentsFilter" data-operator="~=~" oninput="$(this.form).submit()">
                </div>
                <div class="col">
                    <label>Stare etichetare</label>
                    <select class="custom-select custom-select-sm" onchange="filterByLabelStatus(this)" form="deliveryContentsFilter">
                        <option value="">Toate</option>
                        <option value="1">Etichetate</option>
                        <option value="0">Ne-etichetate</option>
                    </select>
                </div>
                <div class="col">
                    <label>Stare incarcare</label>
                    <select class="custom-select custom-select-sm" onchange="filterByCheckoutStatus(this)" form="deliveryContentsFilter">
                        <option value="">Toate</option>
                        <option value="1">Scanate</option>
                        <option value="0">Ne-scanate</option>
                    </select>
                </div>

            </div>

        </div>
        <table class="items table table-sm" id="deliveryContentsTable">
            <thead id="deliveriesListHeader">
            <tr>
                <th></th>
                <th><input type="checkbox" id="checkAllAssignedItems" data-connected="#deliveryContentsList" onclick="toggleAll(this)"></th>
                <th class="align-top">
                    <a data-sortfld="code">Numar desen
                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                </th>
                <th class="align-top">
                    <a data-sortfld="label">Denumire
                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                </th>
                <th class="align-top" style="min-width: 250px">
<!--                    <a>-->
                        Comanda
<!--                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>-->
<!--                    <input type="text" name="label" class="form-control-sm form-control" form="deliveryContentsFilter" data-operator="~=~" oninput="$(this.form).submit()">-->
                </th>
                <th class="align-top" style="width: 100px">
                    <a data-sortfld="totalcnt">Bucati
                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                </th>
                <th class="align-top" style="width: 100px">
                    <a data-sortfld="printed">Etichetate
                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                </th>
                <th class="align-top" style="width: 100px">
                    <a data-sortfld="checkout">Scanate
                        <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                </th>
                <th width="70"></th>
            </tr>
            </thead>
            <tbody id="deliveryContentsList" data-paging="#deliveryContentsListPaging" data-type="delivery_items_aggregated" data-resourcetype="collection"
                   data-pagesizeinp="#deliveryContentsPageSizeInp" data-filter="#deliveryContentsFilter" data-sort="#deliveriesListHeader">
            <tr class="">
                <td><button class="btn-success btn">OK</button></td>
                <td><input type="checkbox" name="ids[]" value="<%= id %>" onclick="toggleSelect($(this).parents('tr'))" data-connected="#checkAllAssignedItems"></td>
                <td><%= attributes.code %></td> <!-- id din orders_items -->
                <td><%= attributes.label %></td> <!-- name din idem si la fel -->
                <td><%= relationships.item.relationships? relationships.item.relationships.order.relationships.doc_id.attributes.docnum : "--" %></td> <!-- docnum din documents, relationship prin doc_id din orders -->
                <td><%= attributes.totalcnt %></td> <!-- qty din orders_items -->
                <td><%= attributes.printed %></td>
                <td><%= attributes.checkout %></td>
                <td style="min-width: 70px">
                    <div class="hide-not-created">
                        <div class="btn-group">
                            <button class="btn btn-sm btn-danger checkDelete" onclick="removeFromDelivery(this)"><i class="fa fa-trash"></i></button>
                            <button class="btn btn-sm btn-primary checkUpdate" onclick="goToPrint(this)"><i class="fa fa-print"></i></button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td colspan="7">
                    <div class="btn-group"  id="deliveryContentsListPaging" data-pagesize="50">
                        <button name="first" class="btn btn-sm btn-outline-secondary" title="0">&lt;&lt;</button>
                        <button name="prev" class="btn btn-sm btn-outline-secondary" title="-20">&lt;</button>
                        <button name="page" class="btn btn-sm btn-outline-secondary" title="0">1</button>
                        <button name="next" class="btn btn-sm btn-outline-secondary" title="20">&gt;</button>
                        <button name="last" class="btn btn-sm btn-outline-secondary" title="140">&gt;&gt;</button>
                    </div>
                    <select id="deliveryContentsPageSizeInp">
                        <option selected>10</option>
                        <option >25</option>
                        <option>50</option>
                    </select> inregistrari pe pagina
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>

    function filterByCheckoutStatus(src) {
        let sel = $(src);
        switch (sel.val()) {
            case "":
                sel.prop("name","");
                sel.data("operator","=");
                break;
            case "1":
                sel.prop("name","checkout");
                sel.data("operator",">=");
                break;
            case "0":
                sel.prop("name","notcheckout");
                sel.data("operator",">");
        }
        $(src.form).submit();
    }

    function filterByLabelStatus(src) {
        let sel = $(src);
        switch (sel.val()) {
            case "":
                sel.prop("name","");
                sel.data("operator","=");
                break;
            case "1":
                sel.prop("name","printed");
                sel.data("operator",">=");
                break;
            case "0":
                sel.prop("name","notprinted");
                sel.data("operator",">");
        }
        $(src.form).submit();
    }

    function removeFromDelivery(src) {
        let instance = $(src).data("instance");
        komponentor.intent("/common/messagemodal").data({
            body:"Sigur vrei sa elimini elementul <strong>"+instance.attributes.label+"</strong>?",
            buttons:[
                {
                    label: "Da",
                    attrs: {
                        "data-dismiss": "modal",
                    },
                    class: "btn btn-danger",
                    callback: function () {
                        instance.setUrl({deleteUrl: apiRoot+"/deliveries_contents/?filter=item="+instance.relationships.item.id + ",delivery=" + instance.relationships.delivery.id});
                        instance.delete();

                    }
                },
                {
                    label: "Nu",
                    attrs: {
                        "data-dismiss": "modal",
                    },
                    class: "btn btn-secondary",
                }
            ]
        }).send();
    }

    function goToPrint(src) {
        komponentor.intent("/views/deliveries/printSelect").data({instance: $(src).data("instance")}).send();
    }

    function init_komponent(k) {

        console.log("yoyoyoyyyo", k.data.instance);

        checkUserRights(k.$el, "deliveries");

        k.$el.addClass(k.data.instance.attributes.status);

        if(!k.data || !k.data.instance) {
            return;
        }

        let unassignedItemsInstance = k.$el.find("#unassingedItems").apiator({returninstance: true});

        function selectContent() {
            let $unassignedItems = k.$el.find("#unassingedItems");
            let $unassignedItemsContainer = $unassignedItems.parents(".form-group").hide();

            k.$el.find("#addElsToDeliveryCard").show(400);

            let $select = k.$el.find("#orderSelect");


            if(!$select.hasClass("select2")) {
                $select.select2wrapper({url: apiRoot+"/orders_totalcnt_item?filter=cnt>0",placeholder:"Alege comanda",labelfld:"docnum"});
                $select
                    .on('select2:select', function (e) {
                        $unassignedItemsContainer.show(400);
                        let data = e.params.data;
                        console.log(data);
                        unassignedItemsInstance
                            .setUrl(apiRoot+"/orders/"+data.id+"/orders_items_wmeta_notdlvd")
                            .loadFromRemote();


                    }).on("select2:clear",function () {
                        $unassignedItemsContainer.hide(200);
                    });

            }

            $select.val(null).trigger('change');
        }

        function addToDelivery() {
            let instance = contentItems;
            let $uai = $('#unassingedItems')
            let cbs = $uai.find("input[type=checkbox]");
            let qtys = $uai.find("input[type=number]");
            let toAdd = [];
            for(let i=0;i<cbs.length;i++) {
                if(!cbs[i].checked)
                    continue;
                toAdd.push([cbs[i].value,qtys[i].value,k.data.instance.id]);
            }

            let errors =[];
            let insData = [];

            toAdd.forEach(function (el) {
                console.log("++++++++++++++++++++++++++++++++++++++", el);
                let [item,qty,delivery] = el;
                for(let i = 0; i < qty; i++){
                    insData.push({
                        item: item,
                        delivery: delivery
                    });
                }
            });

            $("<div>").apiator({resourcetype: "collection",returninstance:true})
                .setUrl(apiRoot + "/deliveries_contents")
                .createItem(insData)
                .finally(function () {
                    instance.loadFromRemote();
                    unassignedItemsInstance.loadFromRemote();
                    if(errors.length) {
                        komponentor.intent("/common/errormodal").data({
                            body: "A aparut o eroare:<pre>"+JSON.stringify(errors,null, "\t")+"</pre>"
                        }).send();
                    }
                });

        }

        k.$el.find("#addContentBtn").on("click",function (e) {
            selectContent();
            $(e.target).hide();
        });



        k.$el.find("#addToDlvrBtn").on("click",addToDelivery);

        k.$el.find("#cancelAddToDlvrBtn").on("click",()=>{k.$el.find("#addElsToDeliveryCard").hide(400);k.$el.find("#addContentBtn").show();});

        let url = apiRoot + "/deliveries/"+k.data.instance.id + "/delivery_items_aggregated?include=item,item.orders_items_meta,item.order,item.order.doc_id";
        let contentItems = k.$el.find("#deliveryContentsList").apiator({url:url,returninstance:true});
        k.$el.find("#startScanBut").on("click",function () {
            komponentor.intent("/views/deliveries/scan").data({data:k.data}).send();
        });
    }


</script>