<style>
    #filterEmployees{
        display: none;
    }
</style>
<div class="modal fade">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Detalii livrare</div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a data-toggle="tab" href="#deliverySummaryPanel" class="nav-link active">Sumar</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#deliveryContentPanel" class="nav-link ">Continut</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#checkoutPanel" class="nav-link">Checkout</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body ">
                <div class="tab-content checkRead">
                    <div class="tab-pane active" role="tabpanel" id="deliverySummaryPanel" is="komponent" data-url="/views/deliveries/summary">
                    </div>
                    <div class="tab-pane" role="tabpanel" id="deliveryContentPanel" is="komponent" data-url="/views/deliveries/contents">
                    </div>
                    <div class="tab-pane" role="tabpanel" id="checkoutPanel" is="komponent">
                        <button class="btn btn-primary checkUpdate" id="startScanBut" ><i class="fa fa-barcode"></i> Scaneaza elemente</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>
<script>
    function init_komponent(k) {

        checkUserRights(k.$el, "deliveries");

        let $modal =  k.$el.appendTo("body").filter(".modal").modal().on("hidden.bs.modal",function (event) {
            k.$el.remove();
        });

        $("#startScanBut").on("click",function () {
            komponentor.intent("/views/deliveries/scan").data(k.data).send();
        });

        $("#deliveryContentPanel").komponent({data:k.data});
        $("#deliverySummaryPanel").komponent({data: k.data});
    }
</script>
