<style>
    #filterEmployees{
        display: none;
    }
</style>
<div class="modal fade">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Detalii livrare</div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a data-toggle="tab" href="#deliverySummaryPanel" class="nav-link active">Sumar</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#deliveryContentPanel" class="nav-link ">Continut</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body ">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="deliverySummaryPanel">
                        <div is="komponent" data-url="/views/deliveries/summary"></div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="deliveryContentPanel">
                        <div is="komponent" data-url="/views/deliveries/contents"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>
<script>
    function init_komponent(k) {
        // console.log(data)
        let $modal =  k.$el.appendTo("body").filter(".modal").modal().on("hidden.bs.modal",function (event) {
            // $(document).scannerDetection(false);
            k.$el.remove();
        });
        $("#deliveryContentPanel").children("[is=komponent]").komponent({data:k.data});
        $("#deliverySummaryPanel").children("[is=komponent]").komponent({data: k.data});
    }
</script>
