<style>
    #deliveriesListHeader a{
        cursor: pointer;
    }

    .created .state .badge{
        background: #6C757D;
        width: 60%;
        color: white;
    }
    .created .state .badge::after{
        content: "Creat"
    }

    .canceled .state .badge{
        background: #6C757D;
        width: 60%;
        color: white;
    }
    .canceled .state .badge::after{
        content: "Anulat"
    }

    .delivered .state .badge{
        background: #FEC108;
        width: 60%;
        color: black;
    }
    .delivered .state .badge::after{
        content: "Livrat"
    }

    .received .state .badge{
        background: #2AA744;
        width: 60%;
        color: white;
    }
    .received .state .badge::after{
        content: "Primit"
    }

    /*.hideFromOrder {*/
    /*    display: unset;*/
    /*}*/

    .fromOrder .hideFromOrder{
        display: none;
    }
</style>

<div>
    <div class="checkRead">
        <div class="checkCreate hideFromOrder" id="newOrderButtons">
            <button type="button" aria-haspopup="true" aria-expanded="false" class="mb-2 mr-2 btn btn-primary" id="newDlvrButt">Livrare noua</button>
        </div>
        <form id="deliveriesListForm" class="d-none"><button type="submit" name="submit" id="deliveriesListFilterBtn"></button></form>
        <table class="table table-striped table-hover ">
            <thead class="thead-dark" id="deliveriesListFilter">
            <tr>
                <th class="align-top" style="width: 100px">
                    <a data-sortfld="id">Nr. crt.
                        <i class="fa fa-sort-up sort-up hideFromOrder" style="display: none"></i>
                        <i class="fa fa-sort-down sort-down hideFromOrder" style="display: none"></i>
                        <i class="fa fa-sort sort-default text-light hideFromOrder"></i>
                    </a>
                </th>
                <th class="align-top">
                    <a data-sortfld="label">Denumire
                        <i class="fa fa-sort-up sort-up hideFromOrder" style="display: none"></i><i class="fa fa-sort-down sort-down hideFromOrder" style="display: none"></i><i class="fa fa-sort sort-default text-light hideFromOrder"></i>
                    </a>
                    <input type="text" name="label" class="form-control-sm form-control hideFromOrder" form="deliveriesListForm" data-operator="~=~">
                </th>
                <th class="align-top">
                    <a data-sortfld="status">Status
                        <i class="fa fa-sort-up sort-up hideFromOrder" style="display: none"></i><i class="fa fa-sort-down sort-down hideFromOrder" style="display: none"></i><i class="fa fa-sort sort-default text-light hideFromOrder"></i>
                    </a>
                    <br>
                    <div class="hideFromOrder">
                        <select id="deliveriesListStatusSelect" name="status" class="custom-select custom-select-sm" form="deliveriesListForm" data-operator="=">
                            <option value="created">Creat</option>
                            <!--                        <option value="loading">Incarcare</option>-->
                            <!--                        <option value="ready">Gata de livrare</option>-->
                            <option value="delivered">Livrat</option>
                            <option value="received">Receptional</option>
                            <option value="canceled">Anulat</option>
                        </select>
                    </div>
                </th>
                <th>
                    <a data-sortfld="dlv_date">Data livrare
                        <i class="fa fa-sort-up sort-up hideFromOrder" style="display: none"></i><i class="fa fa-sort-down sort-down hideFromOrder" style="display: none"></i><i class="fa fa-sort sort-default text-light hideFromOrder"></i>
                    </a>
                    <div class="input-group input-group-sm hideFromOrder">
                        <div class="input-group-prepend">
                            <span class="input-group-text">de la</span>
                        </div>
                        <input type="date" name="dlv_date" class="form-control-sm form-control" form="deliveriesListForm" data-operator=">">
                    </div>
                    <div class="input-group input-group-sm hideFromOrder">
                        <div class="input-group-prepend">
                            <span class="input-group-text">pana</span>
                        </div>
                        <input type="date" name="dlv_date" class="form-control-sm form-control" form="deliveriesListForm" data-operator="<">
                    </div>
                </th>
                <th>
                    <a data-sortfld="lastupdate">Data crearii
                        <i class="fa fa-sort-up sort-up hideFromOrder" style="display: none"></i><i class="fa fa-sort-down sort-down hideFromOrder" style="display: none"></i><i class="fa fa-sort sort-default text-light hideFromOrder"></i>
                    </a>
                    <div class="input-group input-group-sm hideFromOrder">
                        <div class="input-group-prepend">
                            <span class="input-group-text">de la</span>
                        </div>
                        <input type="date" name="lastupdate" class="form-control-sm form-control" form="deliveriesListForm" data-operator=">">
                    </div>
                    <div class="input-group input-group-sm hideFromOrder">
                        <div class="input-group-prepend">
                            <span class="input-group-text">pana</span>
                        </div>
                        <input type="date" name="lastupdate" class="form-control-sm form-control" form="deliveriesListForm" data-operator="<">
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="deliveriesList" data-type="deliveries" data-resourcetype="collection"
                   data-filter="#deliveriesListForm"
                   data-sort="#deliveriesListFilter"
                       data-paging="#deliveriesListPaging"
                   data-offsetinp="#deliveriesOffsetInp"
                   data-pagesizeinp="#deliveriesPageSizeInp">
            <tr class="<%= attributes.status %>" onclick="openDeliveryModal(this)">
                <td><%= id %></td>
                <td style="cursor: pointer"><%= attributes.label %></td>
                <td class="state"><span class="badge badge-pill <%= attributes.status %>"> </span></td>
                <td><%= attributes.dlv_date%></td>
                <td><%= attributes.created_on.split(" ")[0] %></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">
<!--                <td class="hideFromOrder" colspan="6">-->

                    <div class="btn-group"  id="deliveriesListPaging" data-pagesize="10">
                        <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                        <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                        <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                        <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                        <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
                    </div>
                    <select id="deliveriesPageSizeInp">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>75</option>
                    </select> inregistrari pe pagina
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>

    function openDeliveryModal(src) {
        let instance = $(src).data("instance");
        console.log(instance.url);
        delete instance.url.parameters.filter_advanced;
        komponentor.intent("/views/deliveries/deliveryModal").data({instance:instance}).send();
    }

    function init_komponent(k) {

        checkUserRights(k.$el, "deliveries");

        console.log("del del del", k)

        if(k.data){
            k.$el.find("#deliveriesList").apiator({url:k.data,returninstance:true});
            // k.$el.find("#newDlvrButt").remove();

            k.$el.addClass("fromOrder");
        } else {
            let url = apiRoot+"/deliveries?sort=-created_on";
            let instance = k.$el.find("#deliveriesList").apiator({url:url,returninstance:true});

            k.$el.find("#newDlvrButt").on("click",function () {
                komponentor.intent("/views/deliveries/addDelivery")
                    .data({instance:instance})
                    .send();
            });
        }

        let filterList = $("#deliveriesListFilter");
        filterList.find("input").on("input",function () {
            $("#deliveriesListFilterBtn").click();
        });

        filterList.find("#deliveriesListStatusSelect").select2({placeholder: '', allowClear: true}).on("select2:select",function () {
            $("#deliveriesListFilterBtn").click();
        }).on("select2:clear", function () {
            $("#deliveriesListFilterBtn").click();
        }).val(null).trigger('change');
    }
</script>