<div class="modal" id="printModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Tiparire etichete
                </div>
            </div>
            <form id="listToPrintForm" class="d-none"></form>
            <div class="modal-body bg-light">
                <div id="dataForPrinting">
                    <h5><%= attributes.label %></h5>
                    <h6>De printat:</h6>
                    <div class="alert alert-default-info font-weight-bold">format: "a-b" - se printeaza toate etichetele de la a pana la b<br>     "a,b,c" - se printeaza doar etichetele a, b si c<br>
                        a, b si c sunt numere naturale mai mici decat <%= attributes.totalcnt %></div>
                    <input type="text" name="delivery" value="<%=attributes.delivery%>" form="listToPrintForm" class="d-none">
                    <input type="text" name="item" value="<%=attributes.item%>" form="listToPrintForm" class="d-none">
                    <input type="text" id="toBePrinted" name="seqList" value="1-<%=attributes.totalcnt%>" class="form-control-sm form-control" form="listToPrintForm" placeholder="1-5,7,9" autocomplete="off" pattern="^([0-9-,]+)$">
                </div>
                <br>
                <button type="submit" form="listToPrintForm" class="btn btn-success">Print</button>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>

<script>
    function init_komponent(k){
        let $modal = k.$el.appendTo("body")
            .filter("#printModal")
            .on("hidden.bs.modal",function () {
                k.$el.remove();
            });
        $modal.modal("show");

        let instance_dig = k.$el.find("#dataForPrinting").apiator({url: apiRoot + "/develivery_items_aggregated?filter=delivery="+k.data.instance.attributes.delivery  + ",item=" + k.data.instance.attributes.item + "&sort=item", resourcetype: "collection", returninstance: true})

        let $form = $("#listToPrintForm");
        let instance = k.data.instance;
        let util = instance.getUtilities();



        util.captureFormSubmit($form,function (data) {
            const instance_oil = $("<span></span>").apiator({
                    resourcetype: "collection",
                    returninstance: true
                })
                .setUrl(apiRoot + "/orders_items_labels?filter=itemId=" + k.data.instance.attributes.item)
            const p1 = instance_oil.loadFromRemote();

            const instance_dc = $("<br>").apiator({
                            resourcetype: "collection",
                            returninstance: true
                        })
                    .setUrl(apiRoot + "/deliveries_contents?filter=delivery=" + k.data.instance.attributes.delivery + ",item=" + k.data.instance.attributes.item)
            const p2 = instance_dc.loadFromRemote();

            Promise.all([p1,p2]).then(function (res_2) {

                let seqs_str = data.seqList;

                let seqs_arr = seqs_str.split(",");
                const seqs_set = new Set();

                seqs_arr.forEach(el => {
                    if (el.indexOf("-") >= 0) {
                        let aux_el = el.split("-");
                        for (let i = aux_el[0]; i <= aux_el[1]; i++) {
                            seqs_set.add(i);
                        }
                    } else {
                        seqs_set.add(el);
                    }
                });

                let seqs_final_arr = [];
                let printed_items = [];
                seqs_set.forEach(el => {
                    let aux_obj = {};
                    aux_obj["seq"] = el;
                    for(let item of instance_dc.items){
                        if (item.attributes.seqno.toString() === el.toString()) {
                            aux_obj["barcode"] = item.id;
                        } else {
                            aux_obj["barcode"] = 0;
                        }
                        if (aux_obj.barcode !== 0) {
                            seqs_final_arr.push(aux_obj);
                            printed_items.push(item.id);
                            break;
                        }
                    }
                });


                let label_data = {
                    title1: instance_oil.items[0].attributes.title.substr(0, 38),
                    title2: instance_oil.items[0].attributes.title.substr(38, 76),
                    subtitle: "LA: 10-00346221-0110",
                    property1: "IN: " + instance_oil.items[0].attributes.belegNum,
                    property2: "NC: " + instance_oil.items[0].attributes.docnum,
                    property3: "ZN: " + instance_oil.items[0].attributes.designId,
                    property4: "TN: " + instance_oil.items[0].attributes.partId,
                    totalnum: instance_dig.items[0].attributes.totalcnt,
                    seqs: seqs_final_arr
                };

                let labels = {labels: [label_data]};

                let urlPrint = localStorage.getItem(localStorageLabel+".lblPrintApi");
                if (urlPrint === null) {
                    komponentor.intent("/common/errormodal").data({
                        body: "Setati imprimanta in <a style='cursor:pointer;' class='primary' onclick='komponentor.intent(\"/views/preferences\").send()'>Preferinte</a> inainte de a printa."
                    }).send();
                } else {
                    let template_inst = $("<div></div>").apiator({returninstance: true, resourcetype: "item"}).setUrl(apiRoot + "/settings/label_template.spaleck");
                    template_inst.loadFromRemote().then(function () {

                        let template = template_inst.attributes.value;


                        template = JSON.parse(template).template;

                        let template_arr = [];

                        template = template.replace("<title1>", labels.labels[0].title1)
                            .replace("<title2>", labels.labels[0].title2)
                            .replace("<subtitle>", labels.labels[0].subtitle)
                            .replace("<property1>", labels.labels[0].property1)
                            .replace("<property2>", labels.labels[0].property2)
                            .replace("<property3>", labels.labels[0].property3)
                            .replace("<property4>", labels.labels[0].property4)
                            .replace("<property5>", "SEQ: <seq> / " + labels.labels[0].totalnum);
                        labels.labels[0].seqs.forEach(item => {
                            let temp_aux = template;
                            console.log(temp_aux);
                            template_arr.push(temp_aux.replace("<seq>", item.seq).replace("<barcode>", item.barcode))
                        });
                        let ajx = $.ajax({
                            url: urlPrint,
                            data: JSON.stringify({labels: template_arr}),
                            type: "POST",
                            contentType: 'application/json',
                        }).done(function (resp) {
                            let instances = [];
                            for(let id of printed_items) {
                                instances.push($("<p></p>").apiator({returninstance: true, resourcetype: "item"}).setUrl(apiRoot + "/deliveries_contents/" + id));
                                instances[instances.length-1].loadFromRemote();
                            }
                            Promise.all(instances)
                                .then(function (val) {
                                    for(let instance of val){
                                        // aici instance contine doar null. nu e incarcat
                                        //TODO
                                        let cpy = {...instance};
                                        instance.update({label_printed: "1"});
                                    }
                                }).catch(function (err) {
                                console.log("nu mere", err)
                            });
                            // .then(function () {
                            //         let cpy = {...inst_aux};
                            //         console.log(id+",,,,,,,,,,"+id, inst_aux);
                            //         console.log(id+",,,,,,,,,,"+id, cpy);
                            //         inst_aux.update({label_printed: "1"});
                            //     });
                            // instance_dc.update()
                        });
                    });


                }
            }).catch(function(data){
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>"+JSON.stringify(data.jqXHR.responseText)+"</pre>"
                }).send();
            });

        });
    }


</script>