<div class="modal" id="printModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Elemente de printat
                </div>
            </div>
            <form id="listToPrintForm" class="d-none"></form>
            <div class="modal-body bg-light">
                <div id="dataForPrinting">
                    <h5><%= attributes.label %></h5>
<!--                    <p style="color: #999999">Piese printate deja:</p>-->
<!--                    <ul>-->
<!--                        <li></li>-->
<!--                    </ul>-->
                    <h6>De printat:</h6>
                    <p style="color: #888888">format: "a-b" - se printeaza toate etichetele de la a pana la b<br>     "a,b,c" - se printeaza doar etichetele a, b si c<br>
                        a, b si c sunt numere naturale mai mici decat <%= attributes.totalcnt %></p>
                    <input type="text" name="delivery" value="<%=attributes.delivery%>" form="listToPrintForm" class="d-none">
                    <input type="text" name="item" value="<%=attributes.item%>" form="listToPrintForm" class="d-none">

                </div>
                <input type="text" id="toBePrinted" name="seqList" class="form-control-sm form-control" form="listToPrintForm" placeholder="1-5,7,9" autocomplete="off" pattern="^([0-9-,]+)$">
                <br>
                <button type="submit" form="listToPrintForm" class="btn btn-success">Print</button>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>

<script>
    function init_komponent(k){
        console.log(k);
        let $modal = k.$el.appendTo("body")
            .filter("#printModal")
            .on("hidden.bs.modal",function () {
                k.$el.remove();
            });
        $modal.modal("show");

        let instance_dig = k.$el.find("#dataForPrinting").apiator({url: apiRoot + "/develivery_items_aggregated?filter=delivery="+k.data.instance.attributes.delivery  + ",item=" + k.data.instance.attributes.item + "&sort=item", resourcetype: "collection", returninstance: true})

        let $form = $("#listToPrintForm");
        let instance = k.data.instance;
        let util = instance.getUtilities();


        console.log(instance.attributes)

        util.captureFormSubmit($form,function (data) {
            console.log(data);
            const instance_oil = $("<span></span>").apiator({
                    resourcetype: "collection",
                    returninstance: true
                })
                .setUrl(apiRoot + "/orders_items_labels?filter=itemId=" + k.data.instance.attributes.item)
            const p1 = instance_oil.loadFromRemote();

            const instance_dc = $("<br>").apiator({
                            resourcetype: "collection",
                            returninstance: true
                        })
                    .setUrl(apiRoot + "/deliveries_contents?filter=delivery=" + k.data.instance.attributes.delivery + ",item=" + k.data.instance.attributes.item)
            const p2 = instance_dc.loadFromRemote();

            Promise.all([p1,p2]).then(function (res_2) {

                let seqs_str = data.seqList;

                let seqs_arr = seqs_str.split(",");
                const seqs_set = new Set();

                seqs_arr.forEach(el => {
                    if (el.indexOf("-") >= 0) {
                        let aux_el = el.split("-");
                        for (let i = aux_el[0]; i <= aux_el[1]; i++) {
                            seqs_set.add(i);
                        }
                    } else {
                        seqs_set.add(el);
                    }
                });

                let seqs_final_arr = [];
                seqs_set.forEach(el => {
                    let aux_obj = {};
                    aux_obj["seq"] = el;
                    for(let item of instance_dc.items){
                        if (item.attributes.seqno.toString() === el.toString()) {
                            aux_obj["barcode"] = item.attributes.label;
                        } else {
                            aux_obj["barcode"] = 0;
                        }
                        if (aux_obj.barcode !== 0) {
                            seqs_final_arr.push(aux_obj);
                            break;
                        }
                    }
                });

                let label_data = {
                    title: instance_oil.items[0].attributes.title,
                    belegNum: instance_oil.items[0].attributes.belegNum,
                    docNum: instance_oil.items[0].attributes.docnum,
                    designId: instance_oil.items[0].attributes.designId,
                    partId: instance_oil.items[0].attributes.partId,
                    itemTotal: instance_dig.items[0].attributes.totalcnt,
                    seqs: seqs_final_arr
                };

                let labels = {labels: [label_data]};

                labels = JSON.stringify(labels);
                let urlPrint = localStorage.getItem(localStorageLabel+".lblPrintApi");
                if (urlPrint === null) {
                    komponentor.intent("/common/errormodal").data({
                        body: "Setati imprimanta in Preferinte inainte de a printa."
                    }).send();
                } else {
                    console.log(urlPrint.split(".")[0] + ".");
                    $.ajax({
                        url: urlPrint,
                        data: labels,
                        type: "POST",
                        headers: {  'Access-Control-Allow-Origin':  urlPrint.split(".")[0] + "."},
                        contentType: 'application/json',
                        dataType: "json"
                    })
                        .done(function(response){
                            console.log(response);
                            resolve();
                        })
                        .fail(function (reject) {
                            console.log(reject);
                        })

                }
            }).catch(function(data){
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>"+JSON.stringify(data.jqXHR.responseText)+"</pre>"
                }).send();
            });;

        });
    }


</script>