<div class="modal" id="scanModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body bg-light">
                <div class="card">
                    <div class="card-header">
                        Scaneaza
                    </div>
                    <div id="alertSpace" class="p-3"></div>
                    <div class="card-body" style="min-height: 400px">
                        <ol type="1" id="checkOutList"></ol>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success">OK</button>
                        <button class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-none">
    <div class="alert alert-default-danger alert-dismissible fade show" role="alert" id="alertTpl">
        <span name="message"></span>
    </div>
</div>
<ul class="d-none">
    <li id="liTemplate" data-resourcetype="item">
        <span class="name"><%= id %></span>
        <span class="qty"><%= attributes.seqno %></span>
    </li>
    <li id="groupTemplate" data-resourcetype="item">
        <span name="name"></span>
        <span name="qty"></span>
        <ul></ul>
    </li>
</ul>


<script>


    function init_komponent(k) {
        console.log(k);
        k.$el.filter(".modal").remove().appendTo("body").modal().on("hidden.bs.modal",function () {
            k.$el.remove();
            $(document).scannerDetection(false);
        });

        $(document).scannerDetection({
            timeBeforeScanTest: 200, // wait for the next character for upto 200m0006075014s
            endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
            avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
            ignoreIfFocusOn: 'input', // turn off scanner detection if an input has focus
            onComplete: search, // main callback function
            scanButtonKeyCode: 116, // the hardware scan button acts as key 116 (F5)
            scanButtonLongPressThreshold: 5, // assume a long press if 5 or more events come in sequence
            // onScanButtonLongPressed: longPress, // callback for long pressing the scan button
            minLength: 2,
            onError: function(string){alert('Error ' + string);}
        });

        function search(code) {
            let container = k.$el.find("#checkOutList");

            let itemEl = k.$el.find("#liTemplate").clone(true).attr("id",null).appendTo("#alertSpace");

            let cinstance = itemEl.apiator({returninstance:true})
                .setUrl(apiRoot+"/deliveries_contents/"+code+"?include=item,item.order,item.order.doc_id");

            cinstance.loadFromRemote()
                .then(function () {
                    let view = cinstance.views[0]
                    console.log(cinstance,cinstance.relationships.delivery.id,k.data.instance.id);
                    if(cinstance.relationships.delivery.id!==k.data.instance.id) {
                        let alert = k.$el.find("#alertTpl").clone(true).attr("id",null).appendTo("#alertSpace");
                        alert.find("[name=message]").text("Elementul scanat este alocat la alta livrare.");
                        setTimeout(()=>alert.alert('close'),2000);
                        return 1;
                    }

                    let group = container.find("[name=item"+cinstance.relationships.item.id+"]");
                    if(!group.length) {
                        group = k.$el.find("#groupTemplate").clone(true)
                            .attr("id",null).attr("name","item"+cinstance.relationships.item.id)
                            .appendTo(container);
                        group.find("[name=name]").text(cinstance.relationships.item.attributes.name);
                    }

                    let subItems = group.find("ul").children();
                    console.log(subItems);
                    for(let i=0;i<subItems.length;i++) {
                        if($(subItems[i]).data().instance.id===cinstance.id) {
                            // view.appendTo(group.find("ul")).fadeOut(300, ()=>itemEl.remove());
                            return 1;
                        }
                    }
                    view.remove().appendTo(group.find("ul"))
                })
                .catch(function (res) {
                    console.log(res);
                    komponentor.intent("/common/errormodal").data({
                        body: "A aparut o eroare:\n<pre>"+(res.jqXHR.responseJSON?JSON.stringify(res.jqXHR.responseJSON,null, 2):res.jqXHR.responseText)+"</pre>"
                    }).send();
                })
        }
    }
</script>