<style>

    .scanModal ul, .scanModal li {
        padding: 0px;
        list-style: none;
    }
    li.itemTypeEntry{
        padding: 5px;
        border-bottom: solid silver 1px;
        /*border-radius: 5px;*/
    }
    li.itemEntry{
        margin-top: 5px;
        padding: 5px;
        border-bottom: solid silver 1px;
        border-radius: 10px;
        background: #dddddd;
    }
    li.itemEntry button{
        padding: 2px;
    }
    .removeItem{
        font-size: 1.2em;
        color: red;
        cursor: pointer;
    }

</style>

<div>
    <div class="modal scanModal" id="scanModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    Scaneaza
                </div>
                <div class="modal-body" style="background: url('assets/img/barcode-scan.gif') no-repeat center;min-height: 500px">
                    <div style="background-color:rgba(255, 255, 255, 0.7);">
                        <div id="alertSpace"></div>
                        <ul id="checkOutList"></ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="checkoutItemsButt">OK</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Anuleaza</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none">
        <div class="alert alert-default-danger alert-dismissible fade show" role="alert" id="alertTpl">
            <span name="message"></span>
        </div>
    </div>
    <ul class="d-none">
        <li id="liTemplate" class="itemEntry" data-name="<%= id %>">
            <span class="name"><%= id %></span>
            <span class="qty"><%= attributes.seqno %></span>
            <a class="font-weight-bold float-right removeItem" data-dismiss="alert" aria-label="Close" onclick="removeItem(this)">
                <span aria-hidden="true">&times;</span>
            </a>
        </li>
        <li id="groupTemplate" class="itemTypeEntry">
            <input type="number" name="qty" size="2" disabled>
            <span name="name"><%= relationships.item.attributes.name %> </span>
            <ul class=""></ul>
        </li>
    </ul>
</div>


<script>

    function removeItem(src) {
        let itemEl =  $(src).parent().parents("li");
        let dlvrItem = $($(src).parents("li")[0]);
        console.log(itemEl,dlvrItem);
        dlvrItem.fadeOut(500,function() {
            dlvrItem.remove();
            let qty = itemEl.find("li").length;
            if(qty) {
                itemEl.find("[name=qty]").val(qty);
                return;
            }
            itemEl.remove();
        });

    }

    function init_komponent(k) {

        let currentDelivery = k.data.instance;
        let modal = k.$el.appendTo("body").find(".modal")
            .modal("show")
            .on("hidden.bs.modal",function () {
                k.$el.remove();
                $(document).scannerDetection(false);
            });

        function localAlert(msg) {
            let alert = $(k.$el.find("#alertTpl")[0]).clone(true).attr("id",null).appendTo(k.$el.find("#alertSpace")).alert();
            console.log(alert,msg);
            alert.find("[name=message]").html(msg).alert('open');
            setTimeout(()=>alert.alert('close'),1500);
        }

        $(document).scannerDetection({
            timeBeforeScanTest: 200, // wait for the next character for upto 200m0006075014s
            endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
            avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
            ignoreIfFocusOn: 'input', // turn off scanner detection if an input has focus
            onComplete: search, // main callback function
            scanButtonKeyCode: 116, // the hardware scan button acts as key 116 (F5)
            scanButtonLongPressThreshold: 5, // assume a long press if 5 or more events come in sequence
            // onScanButtonLongPressed: longPress, // callback for long pressing the scan button
            minLength: 2,
            onError: function(string){alert('Error ' + string);}
        });

        let  $checkoutList = k.$el.find("#checkOutList");

        k.$el.find("#checkoutItemsButt").on("click",function () {
            let items = k.$el.find("#checkOutList").find("[data-name]");
            if(items.length===0) {
                localAlert("Nu exista elemente");
                return;
            }
            let data = [];
            $checkoutList.find("[data-name]").each(function () {
                data.push({
                    id: $(this).data("name"),
                    attributes:{
                        checkout: true
                    }
                })
            });
            let tmp = $("<div>").apiator({resourcetype: "collection",returninstance:true});
            $.ajax({
                    url: apiRoot+"/deliveries_contents",
                    method: "PATCH",
                    contentType:"application/vnd.api+json",
                    data: JSON.stringify({data: data})
                })
                .done(function(data){
                    modal.modal("hide");
                })
                .fail(function (xhr) {
                    console.log("fail",xhr)
                });
        });

        function search(code) {
            $.get(apiRoot+"/deliveries_contents/"+code+"?include=item")
                .done(function (data) {
                    let item = data.data;
                    console.log(item,item.attributes.checkout*1===1);
                    if(item.attributes.checkout*1===1) {
                        localAlert("Elementul scanat este deja livrat ");
                        return;
                    }

                    item.relationships.delivery = item.relationships.delivery.data;
                    item.relationships.item = data.includes[0];
                    if(item.relationships.delivery.id!==currentDelivery.id) {
                        localAlert("Elementul scanat face parte din alta livrare");
                        return;
                    }

                    let itemEl = $checkoutList.find("#item_"+currentDelivery.id+"_"+item.relationships.item.id);
                    if(itemEl.length==0) {
                        let templateTxt = k.$el.find("#groupTemplate")[0].outerHTML
                            .replace(/&lt;/gi, '<')
                            .replace(/&gt;/gi, ">")
                            .replace(/&apos;/gi, "'")
                            .replace(/&quot;/gi, '"')
                            .replace(/&nbsp;/gi, " ")
                            .replace(/&amp;/gi, "&");
                        let tpl = _.template(templateTxt);
                        itemEl = $(tpl(item)).appendTo($checkoutList).attr("id","item_"+currentDelivery.id+"_"+item.relationships.item.id);
                    }

                    let dlvrItem = itemEl.find("[data-name='"+item.id+"']");
                    if(dlvrItem.length) {
                        localAlert("Elementul scanat se afla deja in lista");
                        return;
                    }

                    let templateTxt = k.$el.find("#liTemplate")[0].outerHTML
                        .replace(/&lt;/gi, '<')
                        .replace(/&gt;/gi, ">")
                        .replace(/&apos;/gi, "'")
                        .replace(/&quot;/gi, '"')
                        .replace(/&nbsp;/gi, " ")
                        .replace(/&amp;/gi, "&");
                    let tpl = _.template(templateTxt);

                    $(tpl(item)).appendTo(itemEl.find("ul")).attr("id",null);

                    itemEl.find("[name=qty]").val(itemEl.find("li").length);



                })
                .fail(function (xhr) {
                    if(xhr.status===404) {
                        localAlert("Elementul scanat nu a fost gasit in baza de date");
                    }
                })
        }
    }

</script>