<style>
    #deliverySummary>.row>div{
        padding: 5px;
    }
    #deliverySummary>.row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }
    #deliverySummary>.row>div:nth-child(2){
        padding: 10px;
    }
    #deliverySummary>.row{
        border-bottom: silver solid 1px;
    }
    #deliverySummary>.row>div:nth-child(3) {
        display: none;
    }
    #deliverySummary.editMode>.row>div:nth-child(2) {
        display: none;
    }
    #deliverySummary.editMode>.row>div:nth-child(3) {
        display: inline-block;
    }
    .btn.btn-save{
        display: none;
    }
    .editMode .btn.btn-edit{
        display: none;
    }
    .editMode .btn.btn-save{
        display: block;
    }
    .editMode .hide-on-edit{
        display: none;
    }
</style>

<div>
<form id="deliveryForm">
    <div class="content" id="deliverySummary">
        <div class="row hide-on-edit">
            <div class="col-3">Nr. Crt.</div>
            <div class="col-9"><%= id %></div>
            <div class="col-9"><input name="id" class="form-control form-control-sm" type="text" value="<%= id %>"></div>
        </div>

        <div class="row">
            <div class="col-3">Denumire</div>
            <div class="col-9"><%= attributes.label %></div>
            <div class="col-9"><input name="label" class="form-control form-control-sm" type="text" autocomplete="off" value="<%= attributes.label %>"></div>
        </div>
        <div class="row hide-on-edit">
            <div class="col-3">Status</div>
            <div class="col-9">
                <div class="btn-group">
<!--                    let states = ["created", "delivered", "received", "canceled"];-->
                    <% if(attributes.status === "created"){ %>
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle checkUpdate deliveryStatusBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Creat</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `delivered`)">Livrat</a>
                            <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `canceled`)">Anulat</a>
                        </div>
                    <% } else if(attributes.status === "delivered") { %>
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle checkUpdate deliveryStatusBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Livrat</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `received`)">Primit</a>
                        </div>
                    <% } else if(attributes.status === "received") { %>
                        <button type="button" disabled class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primit</button>
                    <% } else if(attributes.status === "canceled") { %>
                        <button type="button" disabled class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Anulat</button>
                    <% } %>
                </div>
            </div>
            <div class="col-9">
                <select name="status" class="custom-select custom-select-sm" id="typeInput" required="">
                    <option value="<%= attributes.status %>" id="origValStatus"><%= attributes.status %></option>
<!--                    <option value="created">Creat</option>-->
<!--                    <option value="loading">Incarcare</option>-->
<!--                    <option value="ready">Pregatit</option>-->
<!--                    <option value="delivered">Trimis</option>-->
<!--                    <option value="received">Receptionat</option>-->
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Data Livrarii</div>
            <div class="col-9"><%= attributes.dlv_date === null ? "N/A" : attributes.dlv_date %></div>
            <div class="col-9"><input name="dlv_date" class="form-control form-control-sm" type="date" autocomplete="off" value="<%= attributes.dlv_date === null ? 'N/A' : attributes.dlv_date %>"></div>
        </div>
        <div class="row hide-on-edit">
            <div class="col-3">Ultimul Update</div>
            <div class="col-9"><%= attributes.lastupdate %></div>
            <div class="col-9"><input name="lastupdate" class="form-control form-control-sm" type="text" autocomplete="off"></div>
        </div>

        <div class="input-group mt-5">
            <button class="btn btn-warning btn-save" type="submit">Salveaza</button>
            <button class="btn btn-secondary btn-save" type="button" id="cancelButton" onclick="exitEditMode();">Renunta</button>
            <button id="editButton" class="btn btn-success btn-edit checkUpdate" onclick="editMode($(this).data('instance'))" type="button">Editeaza</button>
            &nbsp;
            <button class="btn btn-danger checkDelete" onclick="deleteEntry($(this).data('instance'))" data-dismiss="modal" type="button">Sterge</button>
        </div>
    </div>
</form>
</div>

<script>

    function exitEditMode() {
        $("#deliverySummary").removeClass("editMode");
    }

    function deleteEntry(instance) {
        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa stergi livrarea <br><strong>" + instance.attributes.label + "</strong>?",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        instance.delete().catch(function(data){
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare: <pre>"+(data.jqXHR.responseText)+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
    }

    function changeState(src, new_state) {
        let instance = $(src).data("instance");
        instance.update({status: new_state}).catch(function (error) {
            komponentor.intent("/common/errormodal").data({
                body: "A aparut o eroare:<pre>"+JSON.stringify(error)+"</pre>"
            }).send();
        });
    }

    function editMode(instance) {
        $("#deliverySummary").addClass("editMode");
        let form = $("#deliveryForm")[0];
        let util = instance.getUtilities();

        util.captureFormSubmit(form, function (data) {
            if(data.dlv_date === "N/A"){
                data.dlv_date = null;
            }
            delete data.lastupdate;
            data.id = instance.attributes.id;
            instance.update(data)
                .then( function (a) {
                    $("#deliverySummary").removeClass("editMode");
                    prepare_a(a.attributes.status);
                })
                .catch(function (data){
                    komponentor.intent("/common/errormodal").data({
                        body: "A aparut o eroare: <pre>"+(data.jqXHR.responseText)+"</pre>"
                    }).send();
                })
        });

    }

    // function prepare_a(state){
    //     let $changeTo = $("#changeToState");
    //     let $origDelivery = $("#origDeliv");
    //     let $editBtn = $("#editButton");
    //     let states = ["created", "delivered", "received", "canceled"];
    //     let normalized_states = ["Creat", "Incarcare", "Gata de Livrare", "Livrat", "Primit", "Anulat"];
    //     let colors = ["orange", "red", "blue", "green", "black", "grey"];
    //     $origDelivery.css("color", "white");
    //     let currentState = states.indexOf(state);
    //
    //     let nextState;
    //     let normalizedNext;
    //
    //     if(currentState === 0){
    //         console.log("ceva fain");
    //         let cpy = $changeTo.clone(true).attr("id", "cancelBtn");
    //         cpy.attr("val", "canceled");
    //         cpy.html("Anulati livrarea?");
    //         cpy.appendTo($("#menuStatus"));
    //         console.log(cpy);
    //     }
    //
    //     if(currentState >= states.length - 2){
    //         $origDelivery.attr("disabled", true);
    //         $changeTo.attr("val", states[currentState]);
    //         $editBtn.attr("disabled", true);
    //     } else {
    //         nextState = states[currentState + 1];
    //         normalizedNext = normalized_states[currentState + 1];
    //         $changeTo.html("Schimbati statusul livrarii in \"" + normalizedNext + "\"");
    //         $changeTo.attr("val", nextState);
    //         console.log($changeTo);
    //     }
    //
    //     console.log($("#menuStatus"));
    //     $origDelivery.css("background-color", colors[currentState]);
    //     $origDelivery.html(normalized_states[currentState]);
    // }
    //
    // function changeState(src){
    //     console.log(src)
    //     let instance = $(src).data().instance;
    //     let $changeTo = $(src);
    //
    //     let new_state = $changeTo.attr("val");
    //     let data = $(src).data().instance.attributes;
    //
    //     let states = ["created", "loading", "ready", "delivered", "received", "canceled"];
    //     let normalized_states = ["Creat", "Incarcare", "Gata de Livrare", "Livrat", "Primit", "Anulat"];
    //
    //     komponentor.intent("/common/messagemodal").data({
    //         body:"Sigur vrei sa modifici starea in <b>" + normalized_states[states.indexOf(new_state)] + "</b>?",
    //         buttons:[
    //             {
    //                 label: "Da",
    //                 attrs: {
    //                     "data-dismiss": "modal",
    //                 },
    //                 class: "btn btn-danger",
    //                 callback: function () {
    //                     instance.update({
    //                         id: data.id,
    //                         status: new_state
    //                     }).then((a) => {
    //                         console.log(a);
    //                         prepare_a(new_state);
    //                     }).catch(function(data){
    //                         komponentor.intent("/common/errormodal").data({
    //                             body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
    //                         }).send();
    //                     });
    //                 }
    //             },
    //             {
    //                 label: "Nu",
    //                 attrs: {
    //                     "data-dismiss": "modal"
    //                 },
    //                 class: "btn btn-secondary"
    //             }
    //         ]
    //     }).send();
    //
    //
    //
    // }

    function init_komponent(k) {

        checkUserRights(k.$el, "deliveries");
        k.$el.find(".deliveryStatusBtn").each(function () {
            if (!$(this).hasClass("updateAllow"))
                $(this).attr("disabled", true).removeClass("checkUpdate");
        });

        k.data.instance.bindView($("#deliveryForm")).loadFromRemote().then(function (d) {
            // ?????
        }).catch(function(data){
            console.log(data);
            komponentor.intent("/common/errormodal").data({
                body: "A aparut o eroare:<pre>"+(data.responseText)+"</pre>"
            }).send();
        });
    }
</script>