<style>
    #deliverySummary>.row>div{
        padding: 5px;
    }
    #deliverySummary>.row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }
    #deliverySummary>.row>div:nth-child(2){
        padding: 10px;
    }
    #deliverySummary>.row{
        border-bottom: silver solid 1px;
    }
    #deliverySummary>.row>div:nth-child(3) {
        display: none;
    }
    #deliverySummary.editMode>.row>div:nth-child(2) {
        display: none;
    }
    #deliverySummary.editMode>.row>div:nth-child(3) {
        display: inline-block;
    }
    .btn.btn-save{
        display: none;
    }
    .editMode .btn.btn-edit{
        display: none;
    }
    .editMode .btn.btn-save{
        display: block;
    }
    .editMode .hide-on-edit{
        display: none;
    }
</style>

<form id="deliveryForm">
    <div class="content" id="deliverySummary">
        <div class="row hide-on-edit">
            <div class="col-3">Nr. Crt.</div>
            <div class="col-9"><%= id %></div>
            <div class="col-9"><input name="id" class="form-control form-control-sm" type="text" value="<%= id %>"></div>
        </div>

        <div class="row">
            <div class="col-3">Denumire</div>
            <div class="col-9"><%= attributes.label %></div>
            <div class="col-9"><input name="label" class="form-control form-control-sm" type="text" autocomplete="off" value="<%= attributes.label %>"></div>
        </div>
        <div class="row">
            <div class="col-3">Status</div>
            <div class="col-9"><%= attributes.status %></div>
            <div class="col-9">
                <select name="status" class="custom-select custom-select-sm" id="typeInput" required="">
                    <option value="<%= attributes.status %>" id="origValStatus"><%= attributes.status %></option>
                    <option value="created">Creat</option>
                    <option value="loading">Incarcare</option>
                    <option value="ready">Pregatit</option>
                    <option value="delivered">Trimis</option>
                    <option value="received">Primit</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Data Livrarii</div>
            <div class="col-9"><%= attributes.dlv_date === null ? "N/A" : attributes.dlv_date %></div>
            <div class="col-9"><input name="dlv_date" class="form-control form-control-sm" type="datetime-local" autocomplete="off" value="<%= attributes.dlv_date === null ? 'N/A' : attributes.dlv_date %>"></div>
        </div>
        <div class="row hide-on-edit">
            <div class="col-3">Ultimul Update</div>
            <div class="col-9"><%= attributes.lastupdate %></div>
            <div class="col-9"><input name="lastupdate" class="form-control form-control-sm" type="text" autocomplete="off"></div>
        </div>

        <div class="input-group mt-5">
            <button class="btn btn-warning btn-save" type="submit">Salveaza</button>
            <button class="btn btn-secondary btn-save" type="button" id="cancelButton" onclick="exitEditMode();">Renunta</button>
            <button class="btn btn-success btn-edit" onclick="editMode($(this).data('instance'))" type="button">Editeaza</button>
            <button class="btn btn-danger" onclick="deleteEntry($(this).data('instance'))" data-dismiss="modal" type="button">Sterge</button>

            <!--            <button class="btn btn-danger" onclick="deleteEntry($(this).data('instance'))" data-dismiss="modal" type="button">Sterge</button>-->
        </div>
    </div>
</form>

<script>
    function exitEditMode(){
        $("#deliverySummary").removeClass("editMode");
    }

    function deleteEntry(instance) {
        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa stergi livrarea <br><strong>" + instance.attributes.label + "</strong>?",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        instance.delete().catch(function(data){
                            console.log(data);
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare: <pre>"+JSON.stringify(data.jqXHR.responseText)+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
    }


    function editMode(instance) {
        $("#deliverySummary").addClass("editMode");
        let form = $("#deliveryForm")[0];
        let util = instance.getUtilities();



        util.captureFormSubmit(form, function (data) {
            console.log(instance);
            console.log(data);
            if(data.dlv_date === "N/A"){
                data.dlv_date = null;
            }
            delete data.lastupdate;
            data.id = instance.attributes.id;
            instance.update(data)
                .then( function () {
                    $("#deliverySummary").removeClass("editMode");
                })
                .catch(function (jqxhr){
                    komponentor.intent("/common/errormodal").data({
                        body: "Eroare la transferul de date catre Server."
                    }).send();
                })
        });

    }


    function init_komponent(k){
        console.log("----------[[[[[[[]]]]]]]]]]]]\n\n\n", k);
        $("#deliveryForm").apiator({
            url: apiRoot + "/deliveries/" + k.data.instance.attributes.id,
            resourcetype: "item",
            type: "deliveries"
        });
    }
</script>