<style>
    #employeeSummary>.row>div{
        padding: 5px;
    }
    #employeeSummary>.row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }
    #employeeSummary>.row>div:nth-child(2){
        padding: 10px;
    }
    #employeeSummary>.row{
        border-bottom: silver solid 1px;
    }
    #employeeSummary>.row>div:nth-child(3) {
        display: none;
    }
    #employeeSummary.editMode>.row>div:nth-child(2) {
        display: none;
    }
    #employeeSummary.editMode>.row>div:nth-child(3) {
        display: inline-block;
    }
    .btn.btn-save{
        display: none;
    }
    .editMode .btn.btn-edit{
        display: none;
    }
    .editMode .btn.btn-save{
        display: block;
    }
    .editMode .hide-on-edit{
        display: none;
    }
</style>
<form id="employeeForm">
    <div class="content" id="employeeSummary">
        <div class="row hide-on-edit">
            <div class="col-3">ID Angajat</div>
            <div class="col-9"><%= id %></div>
            <div class="col-9"><input name="id" class="form-control form-control-sm" type="text"></div>
        </div>
        <div class="row">
            <div class="col-3">Prenume</div>
            <div class="col-9"><%= attributes.fname %></div>
            <div class="col-9"><input name="fname" class="form-control form-control-sm" type="text" onkeyup="if(event.keyCode==13) saveEmployee(this);"></div>
        </div>
        <div class="row">
            <div class="col-3">Nume</div>
            <div class="col-9"><%= attributes.lname %></div>
            <div class="col-9"><input name="lname" class="form-control form-control-sm" type="text" onkeyup="if(event.keyCode==13) saveEmployee(this);"></div>
        </div>
        <div class="row">
            <div class="col-3">Card</div>
            <div class="col-9"><%= attributes.card %></div>
            <div class="col-9"><input name="card" class="form-control form-control-sm" type="text" onkeyup="if(event.keyCode==13) saveEmployee(this);"></div>
        </div>
        <div class="row hide-on-edit">
            <div class="col-3">Status</div>
            <div class="col-9">
                <button type="button" class="btn btn-sm btn-danger dropdown-toggle" name="active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= attributes.active === "1" ? "Activ" : "Inactiv" %></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="change_active" style="cursor:pointer;" onclick="changeStatus(this);" value="attributes.active"><%= attributes.active !== "1" ? "Activ" : "Inactiv" %></a>
                </div>
            </div>
            <div class="col-9"><input name="active" class="form-control form-control-sm" type="number" value="<% attributes.active %>"></div>
        </div>
        <div class="row">
            <div class="col-3">Functia</div>
            <div class="col-9"><%= relationships.jobtitle.attributes.name %></div>
            <div class="col-9">
                <select class="form-control" name="jobtitle" data-source="<%= apiRoot+'/jobs' %>" data-type="operations" data-labelfld="name"  data-searchfld="name" data-searchop="~=~"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Echipa</div>
            <div class="col-9"><%= relationships.team?relationships.team.attributes.name:"-" %></div>
            <div class="col-9">
                <select class="form-control" name="team" data-source="<%= apiRoot+'/teams' %>" data-type="teams" data-labelfld="name"  data-searchfld="name" data-searchop="~=~"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">Data nasterii</div>
            <div class="col-9"><%= attributes.bdate %></div>
            <div class="col-9"><input name="bdate" class="form-control form-control-sm" type="date" onkeyup="if(event.keyCode==13) saveEmployee(this);"></div>
        </div>
        <div class="row">
            <div class="col-3">CNP</div>
            <div class="col-9"><%= attributes.cnp %></div>
            <div class="col-9"><input name="cnp" class="form-control form-control-sm" type="text" onkeyup="if(event.keyCode==13) saveEmployee(this);"></div>
        </div>
        <div class="row">
            <div class="col-3">Adresa</div>
            <div class="col-9">
                <%= attributes.address_1 %> <%= attributes.address_2 %><br>
                <%= attributes.city %> <%= attributes.postcode %><br>
                <%= attributes.county %>,<%= attributes.country %><br>
            </div>
            <div class="col-9">
                <div class="content">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="address_1Input" class="">Adresa 1</label>
                                <input name="address_1" id="address_1Input" type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="address_2_input" class="">Adresa 2</label>
                                <input name="address_2" id="address_2_input" type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="city_input" class="">Localitate</label>
                                <input name="city" id="city_input" type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="postcode_input" class="">Cod postal</label>
                                <input name="postcode" id="postcode_input" type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="county_input" class="">Judet</label>
                                <input name="county" id="county_input" type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="position-relative form-group">
                                <label for="country_input" class="">Tara</label>
                                <input name="country" id="country_input" type="text" class="form-control form-control-sm" value="Romania">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group mt-5">
            <button class="btn btn-warning btn-save" type="submit">Salveaza</button>
            <button class="btn btn-secondary btn-save" type="button" id="cancelButton">Renunta</button>
        </div>
        <% if(attributes.active === "1") { %>
            <button class="btn btn-success btn-edit" onclick="editMode($(this).data('instance'))" type="button">Editeaza</button>
            <button class="btn btn-danger btn-delete" data-dismiss="modal" onclick="deleteEmployee($(this).data('instance'))" type="button">Sterge</button>
        <% } else { %>
            <button class="btn btn-success btn-edit" onclick="editMode($(this).data('instance'))" type="button" disabled>Editeaza</button>
            <button class="btn btn-danger btn-delete" data-dismiss="modal" onclick="deleteEmployee($(this).data('instance'))" type="button" disabled>Sterge</button>
        <% } %>
    </div>
</form>
<script>
    function changeStatus(src){
        let instance = $(src).data().instance;

        komponentor.intent("/common/messagemodal").data({
            body: instance.attributes.active === "1" ? "Prin trecerea angajatului <strong>" + instance.attributes.fname + " " + instance.attributes.lname + "</strong> in starea de inactivitate, cardul va fi dezalocat, angajatul va fi eliberat din echipa din care face parte si nu va mai putea fi editat profilul acestuia. Sunteti sigur ca doriti sa continuati?" : "Doriti reactivarea angajatului <strong>" + instance.attributes.fname + " " + instance.attributes.lname + "</strong>?",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        data = {
                            active: instance.attributes.active === "1" ? "0" : "1",
                            card: null,
                            team: null
                        };
                        instance.update(data).catch(function(data){
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
    }

    function editMode(instance) {
        $('#employeeSummary').addClass('editMode');

        let $jobtitle = $($("#employeeForm")[0]["jobtitle"]).empty();
        let $team = $($("#employeeForm")[0]["team"]).empty();

        let form = $("#employeeForm")[0];
        let util = instance.getUtilities();

        form.reset();

        util.captureFormSubmit(form,function (data) {
            if(!data.card || data.card==="") {
                delete data.card;
            }
            console.log("/////////////////",data);

            if(data.id!=="") {
                instance.update(data)
                    .then(function () {
                        $('#employeeSummary').removeClass('editMode');
                    })
                    .catch(function (jqxhr) {
                        if(jqxhr.errorThrown==="Conflict") {
                            komponentor.intent("/common/errormodal").data({
                                body: "Card-ul este asociat cu alt angajat.<br> Pentru a il asociat cu acest angajat, mai intai trebuie sa il dezasociati."
                            }).send();
                        } else {
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare: <pre>"+(jqxhr.jqXHR.responseText)+"</pre>"
                            }).send();
                        }
                        console.log(jqxhr);
                    });
            }
            // instance is item
            else {
                instance.createItem(data).then(function () {
                    $("#cancelButton").click();
                }).catch(function(data){
                    komponentor.intent("/common/errormodal").data({
                        body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                    }).send();
                });
            }
        });

        if(!instance.hasOwnProperty("items")) {
            util.fillForm(form,instance);

            if(instance.relationships.jobtitle)
                $("<option>")
                    .text(instance.relationships.jobtitle.attributes.name)
                    .attr('value',instance.relationships.jobtitle.id)
                    .appendTo($jobtitle);

            if(instance.relationships.team)
                $("<option>")
                    .text(instance.relationships.team.attributes.name)
                    .attr('value',instance.relationships.team.id)
                    .appendTo($team);
        }



        if(!$jobtitle.data("select2-id")) {
            $jobtitle.select2wrapper({url: apiRoot+"/jobs",placeholder:"Alege functia",labelfld:"name"});
        }


        if(!$team.data("select2-id")) {
            $team.select2wrapper({url: apiRoot+"/teams",placeholder:"Alege echipa",labelfld:"name"});
        }
    }

    function deleteEmployee(instance) {

        let bodyQuery = "Esti sigur ca vrei sa stergi acest angajat?";
        console.log("wedem",instance);
        let bodyData = "<br><strong>" + instance.attributes.fname + ' - ' + instance.attributes.lname + "</strong>";

        komponentor.intent("/common/messagemodal").data({
            body: bodyQuery + bodyData,
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        instance.delete().then(() => { console.log("ok", arguments) })
                            .catch( function(data) {
                                komponentor.intent("/common/errormodal").data({
                                    body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                                }).send();
                            });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send().then(function () {
            // instance.loadFromRemote();
        });
    }

    function init_komponent(k) {

        k.$el.find("#cancelButton").on("click", function (e) {
            if (e.target.form.id.value !== "") {
                $('#employeeSummary').removeClass('editMode');
                return;
            }
            k.parent.hideModal();
        });

        console.log(k.data.instance);

        if(k.data.instance) {
            let instance = k.data.instance;

            if (instance.hasOwnProperty("items")) {
                return k;
            }

            let modUrl = {};
            Object.assign(modUrl, instance.url);
            delete modUrl.parameters['fields[employees]'];

            instance.bindView($('#employeeSummary'))
                .setUrl(modUrl)
                .loadFromRemote()
                .then(function () {
                    k.$el.find("#cancelButton").off("click").on("click", function (e) {
                        if (e.target.form.id.value !== "") {
                            $('#employeeSummary').removeClass('editMode');
                            return;
                        }

                        k.parent.hideModal();
                    });
                }).catch(function(data){
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                }).send();
            });
        }

        if(k.data.emplId) {
            $('#employeeSummary').apiator({
                url: apiRoot+"/employees/"+k.data.emplId+"?include=team,jobtitle",
                resourcetype: "item",
                type: "employees"
            });
        }


        return k;
    }
</script>