<style>
    #detaliiPanel table td:first-child{
        width: 150px;
        font-weight: bold;
    }


    #detaliiPanel .view button{
        display: none;
        float: right;
    }
    #detaliiPanel .view .label{
        padding: 5px 8px 5px 8px;
        display: inline-block;
    }
    #detaliiPanel td{
        border-bottom: #0b5885 solid 1px;
    }
    #detaliiPanel .view:hover button{
        display: inline;
    }
    #detaliiPanel .edit {
        background: silver;
    }
    #detaliiPanel .edit div.edit{
        display: flex;
    }
    #detaliiPanel .edit div.view{
        display: none;
    }
    #detaliiPanel div.edit{
        display: none;
    }
    #pontajPanel th:first-child,#pontajPanel td:first-child {
        display: none;

    }
</style>
<div class="modal" id="employeeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title font-weight-bold">Detalii</div>
                <div class="btn-actions-pane-right">
                    <div class="nav">
                        <a data-toggle="tab" href="#detaliiPanel" class="btn-pill btn-wide active btn btn-outline-alternate btn-sm">Sumar</a>
                        <a data-toggle="tab" href="#pontajPanel" class="btn-pill btn-wide mr-1 ml-1  btn btn-outline-alternate btn-sm">Pontaj</a>
                        <a data-toggle="tab" href="#docsPanel" class="btn-pill btn-wide  btn btn-outline-alternate btn-sm">Documente</a>
                        <a data-toggle="tab" href="#reportsPanel" class="btn-pill btn-wide  btn btn-outline-alternate btn-sm">Rapoarte</a>
                    </div>
                </div>
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
            </div>
            <div class="modal-body">

                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" aria-labelledby="detaliiTab" id="detaliiPanel">
                        <div id="employeeDetails" is="komponent" data-replace="true" data-url="/views/employees/details"></div>
                    </div>
                    <div class="tab-pane" id="docsPanel" role="tabpanel" aria-labelledby="docsTab"></div>
                    <div class="tab-pane" id="pontajPanel" role="tabpanel" aria-labelledby="pontajTab">
                        <div is="komponent" data-url="/views/pontaj/lista"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function edit(src) {
        $(src).parents("tr").addClass("edit");
    }

    function save(src) {
        $(src).parents("tr").removeClass("edit");
        let inp = $(src).parents("tr").find("input");
        let update = {};
        inp.each(function () {
            update[$(this).attr("name")] = $(this).val();
        });
        $(src).data("instance").update(update);
    }

    function init_komponent(k,b) {
        let $modal = k.$el.appendTo("body").filter(".modal");
        $modal.on("hidden.bs.modal",function (event) {
            console.log($modal.find("#employeeDetails"));
            $modal.find("#employeeDetails").data("view").unbind();
            $modal.remove();
        });

        // console.log("++++++++++++++",k,b,$modal);

        $modal.find("#employeeDetails")
            .komponent()
            .then(function (detailsK) {
                console.log("/////////////////////////////////",detailsK);
                detailsK.exec(k.data.instance);
            })
            .catch(function () {
                $modal.remove();
            });
        $modal.modal("show");
        k.exec = function (paras) {
            let instance = paras.instance;

            komponentor
                .fetchKomponent({
                    $el:$("#employeeDetails"),
                    init_data:instance
                })
                .then(function (k) {
                    console.log("--------------",k);
                });
            // $("#employeeModal .modal-title").text(instance.attributes.fname + " "+instance.attributes.lname);
            // console.log("data",instance);
            // console.log(p);
            $modal.modal("show");
        };
        // k.exec();
    }
</script>
