<style>
    #detaliiPanel table td:first-child{
        width: 150px;
        font-weight: bold;
    }


    #detaliiPanel .view button{
        display: none;
        float: right;
    }
    #detaliiPanel .view .label{
        padding: 5px 8px 5px 8px;
        display: inline-block;
    }
    #detaliiPanel td{
        border-bottom: #0b5885 solid 1px;
    }
    #detaliiPanel .view:hover button{
        display: inline;
    }
    #detaliiPanel .edit {
        background: silver;
    }
    #detaliiPanel .edit div.edit{
        display: flex;
    }
    #detaliiPanel .edit div.view{
        display: none;
    }
    #detaliiPanel div.edit{
        display: none;
    }
</style>
<div class="modal" id="employeeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body bg-light">
                <div class="card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"></i>
                            Detalii comanda <span id="comandaid"></span>
                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a data-toggle="tab" href="#detaliiPanel" class="nav-link active">Sumar</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#pontajPanel" class="nav-link">Pontaj</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#docsPanel" class="nav-link">Documente</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#reportsPanel" class="nav-link">Rapoarte</a>
                            </li>

                        </ul>
                    </div>
                    <div class="card-body" style="min-height: 400px">

                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" aria-labelledby="detaliiTab" id="detaliiPanel">
                                <div id="employeeDetails" is="komponent" data-replace="true" data-url="/views/employees/details"></div>
                            </div>
                            <div class="tab-pane" id="reportsPanel" role="tabpanel" aria-labelledby="docsTab">reportsPanel</div>
                            <div class="tab-pane" id="docsPanel" role="tabpanel" aria-labelledby="docsTab">docsPanel</div>
                            <div class="tab-pane" id="pontajPanel" role="tabpanel" aria-labelledby="pontajTab">
                                pontajPanel
                                <div id="employeeTimetracking" is="komponent" data-url="/views/pontaj/lista"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    function saveEmployee(src) {
        $(src).parents("tr").removeClass("edit");
        let inp = $(src).parents("tr").find(".form-control");
        let update = {};
        inp.each(function () {
            update[$(this).attr("name")] = $(this).val();
        });
        $(src).data("instance").update(update).then(function (a) {
            console.log(a);
        })
            .catch(function (jqxhr) {
                if(jqxhr.errorThrown==="Conflict") {
                    komponentor.intent("/common/errormodal").data({
                        body: "Card-ul este asociat cu alt angajat.<br> Pentru a il asociat cu acest angajat, mai intai trebuie sa il dezasociati."
                    }).send();
                }
                console.log(jqxhr);
            });
    }

    function init_komponent(k) {
        let $modal = k.$el.appendTo("body").filter(".modal");

        $modal.on("hidden.bs.modal",function (event) {
            console.log($modal.find("#employeeDetails"));
            $modal.find("#employeeDetails").data("view").unbind();
            $modal.remove();
        });


        $("#employeeDetails").komponent()
            .then(function (detailsK) {
                detailsK.exec(k.data.instance);
                $modal.modal("show");
            })
            .catch(function () {
                $modal.remove();
            })
            .finally(function () {

            });

        $("#employeeTimetracking").komponent({data:{instance:k.data.instance}})
            .then(function (k) {

            })
            .catch(function (a) {

            });


        k.exec = function (paras) {
            let instance = paras.instance;

            komponentor
                .fetchKomponent({
                    $el:$("#employeeDetails"),
                    init_data:instance
                })
                .then(function (k) {
                    console.log("--------------",k);
                });
            // $modal.modal("show");
        };
        // k.exec();
    }
</script>
