<style>

    #employeesListForm {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 5px;
        padding: 5px;
    }
    #employeesListForm>div{
        flex: 0 0 auto;
        padding: .75rem;
    }
    #employeesListForm:nth-child(1){
        flex: 1 0 60%;
    }

    #employeesListUl{
        list-style: none;
        margin: 0px;
        padding: 5px;
    }

</style>

<div class="checkRequired" data-module="employees" data-level="1">
    <div class="checkRead">
        <div class="card-body">
            <div>
                <button class="btn btn-primary checkCreate" style="margin-left: 1rem" id="newEmplBtn">Angajat Nou</button>
            </div>
            <div id="employeesListFilter">
                <form id="employeesListForm">
                    <div class="input-group mb-3">
                        <button class="d-none" type="submit" name="submitButt">Cauta</button>
                        <input type="text" name="search" class="form-control" placeholder="Cautare dupa nume, prenume sau Card ID" oninput="this.form.submitButt.click()">

                        <select class="custom-select input-group-prepend" style="max-width: 200px" name="active" onchange="this.form.submitButt.click()">
                            <option value="">Toti angajatii</option>
                            <option value="1">Doar angajati activi</option>
                            <option value="0">Doar angajati inactivi</option>
                        </select>
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-outline-secondary" type="reset">Reseteaza</button>-->
<!--                        </div>-->
                    </div>
                </form>
            </div>
            <ul class="row" id="employeesListUl"
                data-type="employees"
                data-resourcetype="collection"
                data-sort="#employeesListFilter"
                data-paging="#employeesPaging"
                data-offsetinp="#employeesOffsetInp"
                data-pagesizeinp="#employeesPageSizeInp">


                <li onclick="openEmployeeModal(this)" class="col-lg-2 col-md-3 col-sm-4" >
                    <div class="card" style="min-height: 165px">
                        <div class="card-body text-center" style="cursor: pointer">
                            <div class="d-inline-block mb-3" style="width: 60px">
                                <i class="fa fa-user d-inline rounded-circle bg-secondary" style="font-size: 15px; padding: 10px; color: white"></i>
                            </div>
                            <br>
                            <strong><%=attributes.fname%> <%=attributes.lname%></strong>
                            <br>
                            <span class="font-weight-normal"><%=relationships.jobtitle.attributes.name%></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <div class="btn-group"  id="employeesPaging" data-pagesize="10">
                <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
            </div>
            <select id="employeesPageSizeInp">
                <option selected>12</option>
                <option>24</option>
                <option>48</option>
            </select> inregistrari pe pagina
        </div>
    </div>
</div>

<script>

    function addNewEmployee() {
        komponentor.intent('/views/employees/newemployee').data(
            {instance:$("#employeesListUl").data('instance')}
        ).send();
    }

    /**
     * @param src
     */
    function openEmployeeModal(src) {
        if ($(src).data("locked")) {
            return;
        }
        $(src).data("locked",true);

        komponentor.intent('/views/employees/employee')
            .data({
                instance: $(src).data('instance')
            })
            .send()
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    function init_komponent(k) {

        let url = apiRoot+"/employees/?include=team,jobtitle&fields[employees]=fname,lname&filter=active=1";
        let dispAllUrl = apiRoot+"/employees/?include=team,jobtitle&fields[employees]=fname,lname";

        if(k.data && k.data.instance && k.data.instance.type==="teams") {
            // k.data.instance.bindView($('#employeesListUl'))
            console.log(k.data.instance.attributes.tid + " si cam atat")
            k.$el.find("#newEmplBtn").text("Adauga Membru").on("click", function () {
                let formModalData = {
                    title: "Membru nou",
                    fields: [
                        {
                            label: "Angajat",
                            type: "select",
                            name: "employee",
                            url: "/employees_names?filter_advanced=team"+ encodeURIComponent(" != " + k.data.instance.attributes.tid + " OR team IS NULL"),
                            labelfnc: "fullname",
                            idfnc: "id"
                        }
                    ],
                    callback: function (data) {
                        console.log(data);
                        let instance = $("<span>").apiator({url: apiRoot + "/employees/" + data.data.employee, type: "employees", id: data.data.employee, returninstance: true, resourcetype: "item"});
                        instance.update({team: k.data.instance.attributes.tid}).then(() => {
                            k.data.instance.bindView(k.$el.find("#employeesListUl")).loadFromRemote();
                        });
                    }
                };

                komponentor.intent("/common/formmodal").data(formModalData).send();
            });
            k.$el.find(".teamsColumn").remove();
            // $("#newEmplBtn").remove();
            url = apiRoot+"/employees/?include=team,jobtitle&fields[employees]=fname,lname&filter=team="+k.data.instance.id + ",active=1";
            dispAllUrl = apiRoot+"/employees/?include=team,jobtitle&fields[employees]=fname,lname&filter=team="+k.data.instance.id;
            // insertUrl = apiRoot+"/orders_extended?filter=partner_id="+k.data.instance.id+"&page[orders_extended][offset]=0&page[orders_extended][limit]=10";
        } else {
            k.$el.find("#newEmplBtn").on("click", addNewEmployee);
        }
        if(k.data && k.data.instance && k.data.instance.type==="jobs") {
            k.$el.find(".teamsColumn").remove();
            $("#newEmplBtn").remove();
            url = apiRoot+"/employees/?include=team,jobtitle&fields[employees]=fname,lname&filter=jobtitle="+k.data.instance.id+",active=1";
            dispAllUrl = apiRoot+"/employees/?include=team,jobtitle&fields[employees]=fname,lname&filter=jobtitle="+k.data.instance.id;
        }


        let employeesInstance = $("#employeesListUl").apiator({returninstance:true}).setUrl(url);
        employeesInstance.loadFromRemote();

        $("#employeesListForm").on("submit",function (e) {
            e.preventDefault();
            let sTerm = e.target.search.value;
            if(sTerm==="") {
                delete employeesInstance.url.parameters.filter_advanced;
            }
            else {
                employeesInstance.url.parameters.filter_advanced = encodeURIComponent("fname LIKE '%"+sTerm+"%' OR card='"+sTerm+"' OR lname like '%"+sTerm+"%'");
            }

            let activeVal = $(e.target.active).val();
            if(activeVal===""){
                delete employeesInstance.url.parameters.filter;
            }
            else {
                employeesInstance.url.parameters.filter = "active="+activeVal;
            }
            employeesInstance.loadFromRemote();
        });



        k.getListInstance = function() {
            return employeesInstance;
        };

        function codeRcvd(code,qty) {
            let frm = $("#employeesListFilter");
            console.log(frm);
            frm[0].card.value = code;
            frm.submit();
        }

        function longPress(){
            console.log(arguments);
        }

        $(document).scannerDetection({
            timeBeforeScanTest: 200, // wait for the next character for upto 200m0006075014s
            endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
            avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
            ignoreIfFocusOn: 'input', // turn off scanner detection if an input has focus
            onComplete: codeRcvd, // main callback function
            scanButtonKeyCode: 116, // the hardware scan button acts as key 116 (F5)
            scanButtonLongPressThreshold: 5, // assume a long press if 5 or more events come in sequence
            onScanButtonLongPressed: longPress, // callback for long pressing the scan button
            onError: function(string){alert('Error ' + string);}
        });

        $("#displayActiveEmpl").on("click", () => {
            employeesInstance.setUrl(url).loadFromRemote();
        });

        $("#displayAllEmpl").on("click", () => {
            employeesInstance.setUrl(dispAllUrl).loadFromRemote();
        });



    }
</script>