<style>

    #employeesListFilter {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background: #212529;
        margin-bottom: 5px;
        padding: 5px;
    }
    #employeesListFilter>div{
        flex: 0 0 auto;
        padding: .75rem;
    }
    #employeesListFilter:nth-child(1){
        flex: 1 0 60%;
    }

    .grid_6 {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: .5rem;
        align-content: space-evenly;
        justify-content: space-between;
        text-align: center;
    }

</style>

<form id="employeesListForm">

    <div class="card-body">
        <div id="employeesListFilter">
            <div class="align-top">
                <a class="text-white" data-sortfld="fname">Prenume
                    <i class="fa fa-sort-up sort-up" style="display: none"></i>
                    <i class="fa fa-sort-down sort-down" style="display: none"></i>
                    <i class="fa fa-sort sort-default text-light"></i>
                </a>
                <input type="text" name="fname" class="form-control-sm form-control" form="employeesListForm" data-operator="~=~">
            </div>
            <div class="align-top">
                <a class="text-white" data-sortfld="lname">Nume
                    <i class="fa fa-sort-up sort-up" style="display: none"></i>
                    <i class="fa fa-sort-down sort-down" style="display: none"></i>
                    <i class="fa fa-sort sort-default text-light"></i>
                </a>
                <input type="text" name="lname" class="form-control-sm form-control" form="employeesListForm" data-operator="~=~">
            </div>
            <div class="align-top">
                <a class="text-white" data-sortfld="card">Card</a>
                <input type="text" name="card" class="form-control-sm form-control" form="employeesListForm" data-operator="=">
            </div>
        </div>

        <ul class="grid_6 mr-5" id="employeesListUl"
            data-filter="#employeesListForm"
            data-sort="#employeesListFilter"
            data-paging="#employeesPaging">

            <li onclick="openEmployeeModal(this)" class="card">
                <div class="card-body text-center" style="cursor: pointer">
                    <div class="d-inline-block" style="width: 60px">
                        <img class="rounded-circle" src="assets/img/pexels-photo-220453.webp" alt="" width="52" height="52">
                    </div>
                    <br>
                    <strong><%=attributes.fname%> <%=attributes.lname%></strong>
                    <br>
                    <span class="font-weight-normal"><%=relationships.jobtitle.attributes.name%></span>
                </div>
            </li>
        </ul>

    </div>
    <div class="card-footer">
        <div class="btn-group"  id="employeesPaging" data-pagesize="10">
            <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
            <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
            <button name="page" class="btn btn-outline-secondary" title="0">1</button>
            <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
            <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
        </div>
    </div>

    <button type="submit" class="d-none" id="employeesListFilterBtn"></button>
</form>

<script>
    /**
     *
     * @param src
     */
    function openEmployeeModal(src) {
        if($(src).data("locked")) {
            return;
        }
        $(src).data("locked",true);

        komponentor.intent('/views/employees/employee')
            .data({
                instance: $(src).data('instance')
            })
            .send()
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    function init_komponent(k) {
        console.log(k);

        // if(k.data && k.data.filter) {
        //     let filters = [];
        //     k.data.filter.forEach(function (filter) {
        //         filters.push(filter.fld+filter.op+filter.val);
        //     });
        //
        //     if(filters.length) {
        //         url += "&filter="+filters.join(",");
        //     }
        // }

        let url = apiRoot+"/employees/?page[employees][limit]=18&include=team,jobtitle&fields[employees]=fname,lname";
        let employeesEl = $("#employeesListUl");
        employeesEl.apiator({
            url: url,
            resourcetype: "collection",
            type: "employees"
        });

        $("#employeesListForm").find("input").on("input",function () {
            $("#employeesListFilterBtn").click();
        });

        k.getListInstance = function() {
            return employeesEl.data("instance");
        };

        function codeRcvd(code,qty) {
            let frm = $("#employeesListFilter");
            console.log(frm);
            frm[0].card.value = code;
            frm.submit();
        }

        function longPress(){
            console.log(arguments);
        }

        $(document).scannerDetection({
            timeBeforeScanTest: 200, // wait for the next character for upto 200m0006075014s
            endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
            avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
            ignoreIfFocusOn: 'input', // turn off scanner detection if an input has focus
            onComplete: codeRcvd, // main callback function
            scanButtonKeyCode: 116, // the hardware scan button acts as key 116 (F5)
            scanButtonLongPressThreshold: 5, // assume a long press if 5 or more events come in sequence
            onScanButtonLongPressed: longPress, // callback for long pressing the scan button
            onError: function(string){alert('Error ' + string);}
        });

    }
</script>