<div class="card-body">
    <div class="container-fluid">
        <form id="filterEmployees">
            <input type="text" name="fname" data-operator="~=~">
            <input type="text" name="card" data-operator="=">
            <input type="reset" onclick="$(this).blur();">
            <input type="submit" class="d-none">
        </form>
    </div>
    <div class="container-fluid">
        <div class="row mt-4" id="employees">
            <div class="col-lg-2 col-md-3 col-sm-4 mb-3" onclick="openEmployeeModal(this)">
                <div class="card" style="cursor: pointer">
                    <div class="card-body text-center">
                            <span class="d-inline-block" style="width: 60px">
                                <img class="rounded-circle" src="assets/img/pexels-photo-220453.webp" alt="" width="52" height="52">
                            </span><br>
                        <strong><%=attributes.fname%> <%=attributes.lname%></strong><br>
                        <span class="font-weight-normal"><%=relationships.jobtitle.attributes.name%> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-footer">
    <div class="card-footer">
        <div class="btn-group"  id="employeesPaging" data-pagesize="10">
            <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
            <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
            <button name="page" class="btn btn-outline-secondary" title="0">1</button>
            <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
            <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
        </div>
    </div>
</div>


<!-- HTML TEMPLATE SECTION: STOP-->

<script>
    /**
     *
     * @param src
     */
    function openEmployeeModal(src) {
        if($(src).data("locked")) {
            return;
        }
        $(src).data("locked",true);

        komponentor.intent('/views/employees/employee')
            .data({
                instance: $(src).data('instance')
            })
            .send()
            .finally(function () {
                $(src).removeData("locked");
            })
    }

    function init_komponent(k) {
        console.log(k);

        let url = apiRoot+"/employees?page[employees][limit]=18&include=team,jobtitle&fields[employees]=fname,lname";

        if(k.data && k.data.filter) {
            let filters = [];
            k.data.filter.forEach(function (filter) {
                filters.push(filter.fld+filter.op+filter.val);
            });

            if(filters.length) {
                url += "&filter="+filters.join(",");
            }
        }

        let employeesEl = $("#employees").apiator(
            {
                url: url,
                resourcetype: "collection",
                filter: "#filterEmployees",
                paging: "#employeesPaging",
                type: "employees"
            }
        );

        k.getListInstance = function(){
            return employeesEl.data("instance");
        };



        function codeRcvd(code,qty){
            let frm = $("#filterEmployees");
            console.log(frm);
            frm[0].card.value = code;
            frm.submit();
        }

        function longPress(){
            console.log(arguments);
        }

        $(document).scannerDetection({
            timeBeforeScanTest: 200, // wait for the next character for upto 200m0006075014s
            endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
            avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
            ignoreIfFocusOn: 'input', // turn off scanner detection if an input has focus
            onComplete: codeRcvd, // main callback function
            scanButtonKeyCode: 116, // the hardware scan button acts as key 116 (F5)
            scanButtonLongPressThreshold: 5, // assume a long press if 5 or more events come in sequence
            onScanButtonLongPressed: longPress, // callback for long pressing the scan button
            onError: function(string){alert('Error ' + string);}
        });

    }
</script>