<div class="modal" id="employeeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body bg-light">
                <div class="card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"></i>
                            Introducere angajat nou <span id="comandaid"></span>
                        </div>
                    </div>
                    <div class="card-body" style="">
                        <div id="newEmplForm" is="komponent" data-url="/views/employees/details"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function init_komponent(k) {

        k.hideModal = function() {
            $modal.modal("hide");
        };

        // let $modal = k.$el.filter(".modal").appendTo("body")
        //     .on("hidden.bs.modal",function () {
        //         k.$el.remove();
        //     });
        let $modal = k.$el.appendTo("body")
            .filter(".modal")
            .on("hidden.bs.modal",function (event) {
                k.$el.remove();
            });

        k.$el.find("#newEmplForm")
            .komponent({
                data: {
                    instance: k.data.instance,
                },
                parent: k
            })
            .then(function (d) {
                $modal.modal();
                console.log("*///////////////",d);
                editMode(d.data.instance);
            });


    }
</script>