<div class="modal" id="allocate_empl_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <strong class="modal-title">Alocare angajat</strong>
            </div>
            <div class="modal-body">
                <form id="allocEmplForm"></form>
                <div class="position-relative form-group">
                    <label for="emplidInput" class="">Angajat</label>
                    <select name="emplid" id="emplidInput" form="allocEmplForm" class="js-example-basic-single" style="width: 100%;" required>
                    </select>
                </div>
                <div class="position-relative form-group">
                    <label for="operationInput" class="">Operatiune</label>
                    <select name="operation" id="operationInput" form="allocEmplForm" class="js-example-basic-single" style="width: 100%;" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="hourlyrateInput">Tarif orar</label>
                    <input type="number" class="form-control form-control-sm" form="allocEmplForm" name="hourlyrate" id="hourlyrateInput" required>
                </div>
                <div class="form-group">
                    <label for="currencyInput">Valuta</label>
                    <select name="currency" id="currencyInput" form="allocEmplForm" class="js-example-basic-single" style="width: 100%;" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="allow_clockingInput">Stare pontaj</label>
                    <select name="allow_clocking" id="allow_clockingInput" form="allocEmplForm" class="custom-select" style="width: 100%;" required>
                        <option value="1">Activ</option>
                        <option value="0">Inactiv</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="allocEmplFormSaveButt" form="allocEmplForm">Salveaza</button>
                <button class="btn btn-secondary" data-dismiss="modal">Inchide</button>
            </div>
        </div>
    </div>
</div>

<script>

    function init_komponent(k,d) {
        k.$el.appendTo("body");

        let modal = $("#allocate_empl_modal")
            .modal("show")
            .on("hidden.bs.modal",function () {
                k.$el.remove();
            });
        let $form = $("#allocEmplForm");
        let $elements = $($form[0].elements);
        let instance = k.data.instance;
        console.log(instance);

        let util = instance.getUtilities();
        if(instance.attributes) {
            util.fillForm($form,instance);

            let $sele = $elements.filter("[name=emplid]").attr("disabled",true);
            with(instance.relationships.emplid.attributes) {
                $("<option>").text(fname+" "+lname).attr("value",id)
                    .appendTo($sele.empty());
            }

            $sele = $elements.filter("[name=operation]");
            with(instance.relationships.operation.attributes) {
                $("<option>").text(name).attr("value",id)
                    .appendTo($sele.empty());
            }

            $sele = $elements.filter("[name=currency]");
            with(instance.relationships.currency) {
                $("<option>").text(id).attr("value",id)
                    .appendTo($sele.empty());
            }

            util.captureFormSubmit($form,function (data) {
                instance.update(data)
                    .then(function (data) {
                        modal.modal("hide");
                    })
                    .catch(function(data){
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare: <pre>"+(data.jqXHR.responseText)+"</pre>"
                            }).send();
                    });
            });
        }
        else {
            util.captureFormSubmit($form,function (data) {
                instance.createItem(data).catch(function (xhr) {
                    komponentor.intent("/common/errormodal").data({
                        title: "Eroare la creare",
                        body: "<pre>"+xhr.jqXHR.responseText+"</pre>"
                    }).send();
                })
            });
        }
        console.log(instance);

        let currencies_wrapper = k.$el.find("select[name=currency]");
        let op_wrapper = k.$el.find("select[name=operation]");
        let hrly_input = k.$el.find("#hourlyrateInput");
        op_wrapper.select2wrapper({placeholder:null,url:apiRoot+"/catalog?filter=type=service",labelfld:"name"});
        currencies_wrapper.select2wrapper({placeholder:null,url:apiRoot+"/currencies?sort=id",labelfld:"id"});

        op_wrapper.on("select2:select", function (e) {
            let data = e.params.data;
            console.log(data);

            let instance_aux_data = $("<span></span>").apiator({returninstance: true, resourcetype: "item"})
                .setUrl(apiRoot + "/catalog/" + data.id);
            instance_aux_data.loadFromRemote()
                .then(function () {
                    hrly_input.val(instance_aux_data.attributes.unit_price);
                    console.log(instance_aux_data);
                    currencies_wrapper.html("<option value='"+instance_aux_data.relationships.currency.id+"'>"+instance_aux_data.relationships.currency.id+"</option>")
                }).catch(function(data){
                    komponentor.intent("/common/errormodal").data({
                        body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                    }).send();
                });
        }).on("select2:clear",function () {
            hrly_input.val('');
            currencies_wrapper.html('');
        });

        k.$el.find("select[name=emplid]").select2wrapper({placeholder:null,url:apiRoot+"/employees_names",labelfld:"fullname"});


    }

</script>
