<style>
    .order-summary-table button.save {
        display: none;
    }

    .editMode span.display {
        display: none;
    }

    .order-summary-table span.edit {
        display: none;
    }

    .editMode span.edit {
        display: inline-block;
        min-width: 150px;
    }

    .editMode button.edit {
        display: none;
    }

    .editMode button.save {
        display: unset;
    }

    .doc_id0 .notA000 {
        display: none;
    }

</style>

<div class="checkRequired" data-module="orders" data-level="1">
    <div class="row" id="orderDetails">
        <div class="col-6" id="firstColOrdersDetails">
            <table class="order-summary-table">
                <tr>
                    <td width="150">Nr. comanda intern</td>
                    <td>
                        <span class="display"><%= relationships.doc_id.attributes.docnum %></span>
                        <span class="edit" style="min-width: 200px">
                        <input type="text" id="docnumChange" name="doc_id.docnum" class="form-control form-control-sm" value="<%= relationships.doc_id.attributes.docnum %>">
                    </span>
                        <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate" onClick="editFld(this)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)"><i
                                class="fa fa-save"></i></button>
                    </td>
                </tr>
                <tr class="notA000">
                    <td>Client</td>
                    <td><a href="#" onClick="event.preventDefault(); goToPartner(this);"><%=
                        relationships.partner_id.attributes.name %></a></td>
                </tr>
                <tr>
                    <td>Denumire</td>
                    <td>
                        <span class="display"><%= attributes.label %></span>
                        <span class="edit" style="min-width: 200px">
                        <input type="text" name="label" class="form-control form-control-sm" value="<%= attributes.label %>">
                    </span>
                        <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate" onClick="editFld(this)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)"><i
                                class="fa fa-save"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Descriere</td>
                    <td>
                        <span class="display"><%= attributes.comments %></span>
                        <span class="edit" style="min-width: 200px">
                        <input type="text" name="comments" class="form-control form-control-sm" value="<%= attributes.comments %>">
                    </span>
                        <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate" onClick="editFld(this)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)"><i
                                class="fa fa-save"></i></button>
                    </td>
                </tr>

                <tr class="notA000">
                    <td>Stadiu</td>
                    <td>
                        <div class="btn-group">
                            <% if(attributes.state==="offer") { %>
                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle checkUpdate orderStageBtn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Oferta
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ord`)"
                                   value="ord">Comandat</a>
                                <a class="dropdown-item" style="cursor:pointer; color: red" onclick="changeState(this, `canceled`)"
                                   value="canceled">Anulat</a>
                            </div>
                            <% } %>
                            <% if(attributes.state==="ord") { %>
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle checkUpdate orderStageBtn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comandat
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `proc`)"
                                   value="proc">In Lucru</a>
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `offer`)"
                                   value="proc">Oferta</a>
                                <a class="dropdown-item" style="cursor:pointer; color: red" onclick="changeState(this, `canceled`)"
                                   value="canceled">Anulat</a>
                            </div>
                            <% } %>
                            <% if(attributes.state==="proc") { %>
                            <button type="button" class="btn btn-sm btn-danger dropdown-toggle checkUpdate orderStageBtn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">In Lucru
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ready`)"
                                   value="ctc">Gata de Livrare</a>
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ord`)"
                                   value="ord">Comandat</a>
                            </div>
                            <% } %>
                            <% if(attributes.state==="ready") { %>
                            <button type="button"
                                    class="btn btn-sm btn-warning dropdown-toggle checkUpdate orderStageBtn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gata de Livrare
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `dlvd`)"
                                   value="dlvd">Livrat</a>
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `proc`)"
                                   value="proc">In Lucru</a>
                            </div>
                            <% } %>
                            <% if(attributes.state==="dlvd") { %>
                            <button type="button" class="btn btn-sm btn-success dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Livrat
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ready`)"
                                   value="ctc">Gata de Livrare</a>
                            </div>
                            <% } %>
                            <% if(attributes.state==="canceled") { %>
                            <button disabled type="button" class="btn btn-sm btn-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Anulat
                            </button>
                            <% } %>
                        </div>
                    </td>
                </tr>
                <tr class="notA000">
                    <td>Echipa responsabila</td>
                    <td>
                        <span class="display">
                            <%= relationships.team ? relationships.team.attributes.name : "nealocat" %>
                        </span>
                        <span class="edit" style="min-width: 200px">
                            <select id="teamAllocation" name="team" style="width: 150px">
                                <% if(relationships.team) { %>
                                <option value="<%= relationships.team.id %>"><%= relationships.team.attributes.name %></option>
                                <% }  %>
                            </select>
                        </span>
                        <button class="btn btn-warning float-right btn-sm edit checkUpdate" onClick="editTeamAssoc(this)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)">
                            <i class="fa fa-save"></i>
                        </button>
                    </td>
                </tr>
                <tr class="notA000">
                    <td>Timp estimat (ore)</td>
                    <td>
                        <% let item_est_work = relationships.orders_meta.find(function(item){return item.attributes.meta_key==='estimated_work'}); if(item_est_work) {%>

                        <span class="display"><%= item_est_work ? item_est_work.attributes.meta_val + " h" : "-" %></span>
                        <span class="edit" style="min-width: 200px">
                            <input type="text" class="form-control form-control-sm" name="orders_meta.<%=item_est_work.id%>.meta_val" value="<%= item_est_work ? item_est_work.attributes.meta_val : '' %>">
                        </span>
                        <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate"
                                onClick="editFld(this)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)"><i class="fa fa-save"></i></button>
                        <% } %>
                    </td>
                </tr>

                <tr class="notA000">
                    <td>Bestellung</td>
                    <td>
                        <% let bestellung = relationships.orders_meta.find(function(item){return item.attributes.meta_key==='bestellung'});if(bestellung){ %>

                        <span class="display"><%= bestellung.attributes.meta_val %></span>
                        <span class="edit" style="min-width: 200px">
                            <input type="text" class="form-control form-control-sm" name="orders_meta.<%=bestellung.id%>.meta_val" value="<%= bestellung.attributes.meta_val %>">
                            <input type="hidden" class="form-control form-control-sm" name="orders_meta.<%=bestellung.id%>.meta_key" value="bestellung">
                        </span>
                        <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate"
                                onClick="editFld(this)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)"><i class="fa fa-save"></i></button>
                        <% } %>
                    </td>
                </tr>



                <tr class="notA000">
                    <td>Auftrag</td>
                    <td>
                        <% let auftrag = relationships.orders_meta.find(function(item){return item.attributes.meta_key==='auftrag'});%>
                        <%if(typeof auftrag!=='undefined') {%>
                        <span class="display"><%= auftrag.attributes.meta_val %></span>
                        <span class="edit" style="min-width: 200px">
                            <input type="text" class="form-control form-control-sm" name="orders_meta.<%=auftrag.id%>.meta_val" value="<%= auftrag.attributes.meta_val %>">
                        </span>
                        <% } else { %>
                        no auftrag
                        <% } %>

                        <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate"
                                onClick="editFld(this)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)"><i class="fa fa-save"></i></button>
                    </td>



                </tr>










            </table>
        </div>
        <div class="col-6 notA000">
            <table class="order-summary-table">
                <tbody>
                <tr>
                    <td  width="150">Data preluare comanda</td>
                    <td><%= attributes.created_on %></td>
                </tr>
                <tr>
                    <td>Data dare in executie</td>
                    <td><%= attributes.startwork_on?attributes.startwork_on:"-" %></td>
                </tr>
                <tr>
                    <td>Data finalizare</td>
                    <td><%= attributes.readytodeliver_on?attributes.readytodeliver_on:"-" %></td>
                </tr>
                <tr>
                    <td>Data estimata livrare</td>
                    <td>
                        <span class="display"><%= attributes.closed_on?attributes.closed_on:"-" %></span>
                        <span class="edit" style="min-width: 200px">
                            <input type="text" name="closed_on" class="form-control form-control-sm" value="<%= attributes.closed_on %>">
                        </span>
                        <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate" onClick="editFld(this)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)"><i class="fa fa-save"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Data livrare</td>
                    <td><%= attributes.closed_on?attributes.closed_on:"-" %></td>
                </tr>
                <tr>
                    <td>Pret comanda</td>
                    <td>
                        <span class="display"><%= attributes.order_value ?  attributes.order_value + " " + (relationships.currency?relationships.currency.id:"-") : "-" %></span>
                        <span class="edit" style="min-width: 200px">
                            <input type="text" id="orderValueChange" class="form-control form-control-sm" name="order_value"
                                   value="<%= attributes.order_value %>">
                        </span>
                        <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate"
                                onClick="editFld(this)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)"><i
                                class="fa fa-save"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Pret calculat</td>
                    <td>
                        <span class="display"><%= attributes.calculated_value ?  attributes.calculated_value + " " + (relationships.currency ? relationships.currency.id:"-") : "-" %></span>
                        <span class="edit" style="min-width: 200px">
                            <input type="text" class="form-control form-control-sm" name="calculated_value"
                                   value="<%= attributes.calculated_value %>">
                        </span>
                        <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate" onClick="editFld(this)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveFld(this)"><i class="fa fa-save"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Pret final</td>
                    <td><%= attributes.final_value ? attributes.final_value + " " + (relationships.currency ?
                        relationships.currency.id:"-") : "-" %>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <table class="table table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Atribut</th>
                    <th>Valoare</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><select name="key"></select></td>
                        <td><input type="text" name="value"></td>
                    </tr>
                </tbody>
                <tbody id="orderMeta">
                <tr>
                    <td><%=attributes.key%></td>
                    <td><%=attributes.value%></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    // function updateMetaVal(instance) {
    // }

    function orderMetaModal(src) {
        console.log(src);
    }
    function editFld(src) {
        $(src).parent().parent().addClass('editMode');
    }


    /**
     * smart update
     * @param src
     */
    function saveFld(src) {
        let parent = $(src).parent();
        let inp = parent.find("input").attr("disabled",true);
        if(!inp.length) {
            inp = parent.find("select").attr("disabled",true);
        }
        if(!inp.length) {
            inp = parent.find("textarea").attr("disabled",true);
        }
        let name  = inp.attr("name");

        let res = /(\w+)(\.(\w+)(\.(\w+))?)?/.exec(name);

        console.log(res);
        let instance = $(src).data().instance;
        let instanceToUpdate;
        let upd = {};
        let reload = false;

        if(res[5]!==undefined) {
            console.log('update 1:n relation');
            reload = true;
            instanceToUpdate = $()
                .apiator({
                    resourcetype: "item",
                    id: res[3],
                    returninstance: true
                })
                .setUrl( apiRoot + "/orders/" + instance.id + "/" + res[1] + "/"+res[3])
            upd[res[5]] = inp.val();
        }
        else if(res[3]!==undefined) {
            console.log('update 1:1 relation');
            reload = true;
            instanceToUpdate = $("<span>")
                .apiator({
                    resourcetype: "item",
                    id: instance.relationships[res[1]].id,
                    returninstance: true
                })
                .setUrl( apiRoot + "/orders/" + instance.id + "/" + res[1] + "/" + instance.relationships[res[1]].id)
            upd[res[3]] = inp.val();
        }
        else {
            instanceToUpdate = instance;
            upd[name] = inp.val();
        }

        instanceToUpdate.update(upd)
            .then(function () {
                $(src).parent().parent().removeClass('editMode');
                if(reload) {
                    instance.loadFromRemote();
                }
            })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            })
            .finally(function () {
                inp.attr("disabled",true);
            })

        // normal attribute
    }


    function goToPartner(src) {
        komponentor.intent("/views/partners/addPartner").data({
            instance: $(src).data().instance.relationships.partner_id,
            title: "ceva"
        }).send();
    }



    function editTeamAssoc(src) {
        $(src).parent().parent().addClass('editMode');
        $("#teamAllocation").select2wrapper({url: apiRoot + "/teams", placeholder: "Aloca echipa", labelfld: "name"});
    }

    function changeState(src, new_state) {
        let instance = $(src).data("instance");
        let old_state = instance.attributes.state;

        komponentor.intent("/common/messagemodal").data({
            body: "Sunteti sigur ca doriti modificarea starii comenzii <strong>" + instance.attributes.label + "</strong>?",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss": "modal"
                    },
                    callback: function () {
                        instance.update({state: new_state})
                            .catch(function (data) {
                                komponentor.intent("/common/errormodal").data({
                                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss": "modal"
                    }
                }]
        }).send();
    }

    function init_komponent(k) {
        k.$el.addClass("doc_id" + k.data.instance.relationships.doc_id.id);

        if (k.data.instance.relationships.doc_id.id === "0") {
            $("#firstColOrdersDetails").removeClass("col-6").addClass("col-12")
        }

        // $("#orderMeta").apiator({url:apiRoot+"/orders/"+k.data.instance.id+"/orders_meta"});

        // todo: fix check update

        // k.$el.find(".orderStageBtn").each(function () {
        //     console.log("has no update allow")
        //     if (!$(this).hasClass("updateAllow"))
        //         $(this).attr("disabled", true).removeClass("checkUpdate");
        // });

        // k.$el.parent().find("*").data("komponent",k);

        k.data.instance.setUrl(apiRoot + "/orders/" + k.data.instance.id + "?include=doc_id,partner_id,team,orders_meta&page[orders_meta][limit]=100")
            .bindView(k.$el.children()).loadFromRemote().then(function (d) {
                // updateMetaVal(k.data.instance);
            })
            .catch(function (data) {
                console.log(data);
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.toString() + "</pre>"
                }).send();
            });
    }

</script>