<style>

    #ordersListHeader a,.order {
        cursor: pointer;
    }
    .order .actions {
        display: none;
    }
    .order:hover .actions.first {
        display: block;
    }
    .order:hover .auftragNumLbl.first {
        display: none;
    }

</style>

<div class="checkRequired" data-module="orders" data-level="1">
    <div class="checkRead card">
        <div class="card-body">
            <button class="btn btn-primary" onclick="openCreateOrderModal()"><i class="fa fa-plus-square"></i> Comanda noua</button>
            <button class="btn btn-primary" onclick="reloadApiator(this)" data-target="#ordersList"><i class="fa fa-retweet"></i> Reincarca</button>
            <form id="ordersListFilter" class="d-none"><button type="submit" name="submit"></button></form>
            <table class="table table-striped table-hover mt-2">
                <thead class="thead-dark" id="ordersListHeader">
                <tr>
                    <th class="align-top" style="min-width: 100px">
                        <a class="text-white" data-sortfld="doc_id">Nr. crt.
                            <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                        <br>
                        <select id="docNumFilter" name="doc_id" form="ordersListFilter" data-operator="=" style="width: 100%"><option> </option></select>
                    </th>
                    <th class="align-top" style="width: 100px" >
                        <a class="text-white" data-sortfld="label">Denumire
                            <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                        <input type="text" name="label"  form="ordersListFilter" data-operator="~=~">
                    </th>
                    <th class="align-top"  style="width: 80px">
                        <a class="text-white" data-sortfld="label">Echipa
                            <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                        <select id="teamIdFilter" name="team" form="ordersListFilter" data-operator="=" style="width: 100%"></select>
                    </th>

                    <th class="customerColumn align-top" style="min-width: 150px">
                        <a class="text-white" data-sortfld="partner_id">Client
                            <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                        <br>
                        <select id="partnerNameFilter" name="partner_id" form="ordersListFilter" data-operator="=" style="width: 100%"><option> </option></select>
                    </th>
                    <th class="align-top" style="min-width: 150px">
                        <a class="text-white" data-sortfld="state">Status
                            <i class="fa fa-sort-up sort-up" style="display: none"></i>
                            <i class="fa fa-sort-down sort-down" style="display: none"></i>
                            <i class="fa fa-sort sort-default text-light"></i>
                        </a>
                        <br>
                        <select id="stateFilter" name="state" form="ordersListFilter" data-operator="=">
                            <option></option>
                            <option value="offer">Oferta</option>
                            <option value="ord">Comandat</option>
                            <option value="proc">In lucru</option>
                            <option value="ready">Gata de livrare</option>
                            <option value="dlvd">Livrat</option>
                            <option value="canceled">Anulat</option>
                        </select>
                    </th>
                    <th style="min-width: 150px" class="align-top top">
                        Progres
                        <input type="hidden" name="oid" data-operator="><" form="ordersListFilter">
                        <select class="custom-select-sm custom-select" id="progressFilter">
                            <option value="0">indiferent</option>
                            <option value="1">In depasire</option>
                        </select>
                    </th>
                    <th>
                        <a class="text-white" data-sortfld="created_on">Data adaugare
                            <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i></a>
                        <div class="input-group input-group-sm ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">de la</span>
                            </div>
                            <input type="date" name="created_on" class="form-control-sm form-control" form="ordersListFilter" data-operator=">">
                        </div>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">pana</span>
                            </div>
                            <input type="date" name="created_on" class="form-control-sm form-control" form="ordersListFilter" data-operator="<">
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody id="ordersList" data-paging="#ordersListPaging"
                       data-offsetinp="#ordersOffsetInp" data-pagesizeinp="#ordersPageSizeInp">
                <tr class="order <%= attributes.state %>" onclick="openOrderDetailsModal(this)" >
                    <td>
                        <span class="actions <%= relationships.doc_id.attributes.docnum %>"><button id="orderDeleteButton" name="deleteOrderBtn" class="btn btn-danger btn-sm checkDelete" onclick="deleteOrder(event)"><i class="fa fa-trash-alt"></i></button></span>
                        <span class="auftragNumLbl <%= relationships.doc_id.attributes.docnum %> bnt btn-sm btn-secondary"><%= relationships.doc_id.attributes.docnum %></span>
                    </td>
                    <td><%= attributes.label %><div style="font-size: 0.8rem"><%= attributes.comments %></div> </td>
                    <td class=""><%= relationships.team ? relationships.team.attributes.name : "" %></td>
                    <td class="customerColumn"><%= relationships.partner_id.attributes.name %></td>
                    <td class="state"><span class="badge badge-pill <%= attributes.state %>"> </span></td>
                    <td>
                        <% if(relationships.orders_working_hours && relationships.orders_working_hours.length) { %>
                        <% if(relationships.orders_working_hours[0].attributes.estimated) { %>
                            <% percentage = Math.round(relationships.orders_working_hours[0].attributes.total/relationships.orders_working_hours[0].attributes.estimated*100);%>
                            <%= relationships.orders_working_hours[0].attributes.total %> /
                            <%= relationships.orders_working_hours[0].attributes.estimated %>
                            <% percentageBar = percentage<=100 ? percentage : 100 %>
                            <% percentageClass = percentage<=100 ? "" : "bg-danger" %>

                        <div class="progress">
                                <div class="progress-bar <%= percentageClass %>" role="progressbar" style="width: <%= percentageBar %>%;" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100"><%= percentage %>%</div>
                            </div>
                            <% } else { %>
                        <% workedHours = Math.round(relationships.orders_working_hours[0].attributes.total/60);%>
                        <%= workedHours %> / -
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                            <% }%>

                        <% } else { %>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        <% }%>


                    </td>
                    <td><%= attributes.created_on.substr(0,10) %></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="btn-group"  id="ordersListPaging" data-pagesize="10">
                <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
            </div>
            <select id="ordersPageSizeInp">
                <option selected>10</option>
                <option>25</option>
                <option>50</option>
                <option>75</option>
            </select> inregistrari pe pagina
        </div>
    </div>
</div>

<script>

    function openOrderDetailsModal(src) {
        komponentor.intent('/views/orders/order')
            .send({instance:$(src).data('instance')})
            .then((k)=>{
                // console.log('#######',k);
            })
    }

    function deleteOrder(event) {
        event.stopPropagation();
        src = event.target;
        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa stergi comanda<br><strong>"+$(src).data("instance").attributes.label + "</strong>",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        $(src).data('instance').delete().then(()=>{console.log("ok",arguments)}).catch(function(data) {
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
    }


    function openCreateOrderModal() {
        komponentor.intent("/views/orders/createNewOrder").data({instance:$("#ordersList").data("instance")}).send();
    }


    function init_komponent(k) {

        let url = apiRoot+ "/orders?include=doc_id,partner_id,orders_working_hours,team&sort=-created_on";

        if (k.data && k.data.instance && k.data.instance.type==="partners") {
            k.$el.find(".customerColumn").remove();
            $("#newOrderButtons").remove();
            url = apiRoot+"/orders?filter=partner_id="+k.data.instance.id+
                "&include=doc_id,partner_id,orders_working_hours,team&sort=-created_on";
        }

        if (k.data && k.data.instance && k.data.instance.type==="teams") {
            // k.$el.find(".customerColumn").remove();
            $("#newOrderButtons").remove();
            url = apiRoot+"/orders?filter=team="+k.data.instance.id+"&page[orders_extended][offset]=0&page[orders_extended][limit]=10"
                +"&include=doc_id,partner_id,orders_working_hours,team&sort=-created_on";
            // insertUrl = apiRoot+"/orders_extended?filter=partner_id="+k.data.instance.id+"&page[orders_extended][offset]=0&page[orders_extended][limit]=10";
        }

        let instance = $("#ordersList").apiator({
            url: url,
            type: "orders",
            resourcetype: "collection",
            filter: "#ordersListFilter",
            paging: "#ordersListPaging",
            sort: "#ordersListHeader",
            returninstance: true
            // insertUrl: insertUrl
        });


        k.$el.find("#partnerNameFilter").select2wrapper({
            url: apiRoot+"/partners",
            labelfld: "name",
            placeholder: "Echipa"
        });


        k.$el.find("#teamIdFilter").select2wrapper({
            url: apiRoot+"/teams",
            labelfld: "name",
            idfld: "tid",
            placeholder: "Echipa"
        });

        k.$el.find("#docNumFilter").select2wrapper({
            url: apiRoot+"/documents",
            labelfld: "docnum",
            placeholder: "Echipa"
        });


        k.$el.find("#stateFilter").select2({
            allowClear: true,
            placeholder: ""
        });

        let formElements = $($("#ordersListFilter")[0].elements);
        formElements.filter("input").on("keyup",function () {
            formElements.filter("button[type=submit]").click();
        })
            .on("change",function () {
                formElements.filter("button[type=submit]").click();

            });
        formElements.filter("select").on("change",function () {
                formElements.filter("button[type=submit]").click();

        });

        k.exec = function (b) {
            // console.log("exec order",k,b);
        };

        let instance_lastissued = $("<span></span>").apiator({resourcetype: "collection", returninstance: true});

        instance_lastissued.setUrl(apiRoot+"/settings_document_numbers/?filter=label=order").loadFromRemote().then(function () {
            if(instance_lastissued.items.length) {
                let lastdocnum = instance_lastissued.items[0].attributes.series + instance_lastissued.items[0].attributes.lastissued;
                instance.items.forEach(function (item) {
                    if (item.relationships.doc_id.attributes.docnum === lastdocnum) {
                        $(`.${lastdocnum}`).addClass("first");
                    }
                });
            }
        });




        function filterByProgress() {
            if($("#progressFilter").val()*1===1) {
                $.get(apiRoot+"/orders_working_hours?page[orders_working_hours][limit]=1000&filter_advanced="+encodeURIComponent("estimated IS NOT NULL AND total>estimated"))
                    .done(function (data) {
                        let tmp = [];
                        data.data.forEach(function (item) {
                            tmp.push(item.id);
                        });
                        console.log(tmp);
                        instance.filtering.oid = tmp.join(";")
                    })

            }
            else {
                instance.filtering.oid = "";
            }
            instance.filtering.submit();
        }

        k.$el.find("#progressFilter").on("change",filterByProgress);

        if(!komponentor.routing.paras.filter){
            return;
        }

        if(komponentor.routing.paras.filter==="overtime") {
            setTimeout(()=>filterByProgress(true,8),50);

        }


    }

</script>