<style>
    #orderSelect {
        display: none;
    }
    #emplReportPanel table tr>td:nth-child(2),#emplReportPanel table tr>td:nth-child(3),
    #emplReportPanel table tr>th:nth-child(2),#emplReportPanel table tr>th:nth-child(3){
        display: none;
    }
</style>

<div class="container-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Raportare pontaj</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#emplReportPanel" role="tab" aria-controls="nav-home" aria-selected="true">Angajati</a>
                            <a class="nav-link" id="nav-monthly-tab" data-toggle="tab" href="#monthlyReportPanel" role="tab" aria-controls="nav-home" aria-selected="true">Lunar</a>
<!--                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#orderReportPanel" role="tab" aria-controls="nav-profile" aria-selected="false">Comenzi</a>-->
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active pt-2" id="emplReportPanel" role="tabpanel" aria-labelledby="nav-home-tab" data-url="/views/reports/pontaj_empl" is="komponent"></div>
                        <div class="tab-pane fade pt-2" id="monthlyReportPanel" role="tabpanel" aria-labelledby="nav-home-tab" data-url="/../_sg/views/pontaj/monthly_report" is="komponent"></div>
<!--                        <div class="tab-pane fade show pt-2" id="orderReportPanel" role="tabpanel" aria-labelledby="nav-home-tab" data-url="/views/reports/report_order_pontaj" is="komponent"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function init_komponent(k) {
        komponentor.loadKomponents(k.$el);
    }
</script>