
<style>
    .app-sidebar {
        overflow-y: auto;
    }
    .logo{
        height:23px;width:97px;
        color: red;
    }
</style>


    <div class="app-header__logo">
        <div class="logo-src">SRE</div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                        onclick="!$(body).hasClass('closed-sidebar')?$(body).removeClass('fixed-sidebar').addClass('closed-sidebar'):$(body).removeClass('closed-sidebar').addClass('fixed-sidebar')">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu metismenu" id="sideMenu">
                <li>
                    <a href="" title="">
                        <i class="metismenu-icon fa fa-home"></i> Home
                    </a>
                </li>
                <li class="app-sidebar__heading">Operational</li>
                <li>
                    <a href="#/views/dashboard">
                        <i class="metismenu-icon fa fa-tachometer-alt"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="#/views/planner" title="">
                        <i class="metismenu-icon fa fa-map-marked"></i> Planificator
                    </a>
                </li>
                <li>
                    <a href="#/views/orders" title="">
                        <i class="metismenu-icon fa fa-funnel-dollar"></i> Comenzi
                    </a>
                </li>

                <li>
                    <a href="#/views/pontaj" title="">
                        <i class="metismenu-icon fa fa-clock"></i> Pontaj
                    </a>
                </li>
                <li>
                    <a href="#/views/receptii" title="">
                        <i class="metismenu-icon fa fa-truck"></i> Receptii
                    </a>
                </li>
                <li class="app-sidebar__heading">Administrativ</li>
                <li>
                    <a href="#/views/partners" title="">
                        <i class="metismenu-icon fa fa-handshake"></i> Parteneri
                    </a>
                </li>
                <li>
                    <a href="#/views/employees" title="">
                        <i class="metismenu-icon fa fa-user-friends"></i> Angajati
                    </a>
                </li>
                <li>
                    <a href="#/views/teams" title="">
                        <i class="metismenu-icon fa fa-sitemap"></i> Echipe
                    </a>
                </li>
                <li>
                    <a href="#/views/stocks" title="">
                        <i class="metismenu-icon fa fa-cubes"></i> Stocuri
                    </a>
                </li>
                <li>
                    <a href="#/views/catalog" title="">
                        <i class="metismenu-icon fa fa-book"></i> Catalog
                    </a>
                </li>
                <li class="app-sidebar__heading">Aplicatie</li>
                <li>
                    <a href="#/views/users" title="">
                        <i class="metismenu-icon fa fa-users"></i> Utilizatori
                    </a>
                </li>
                <li>
                    <a href="#/views/users" title="">
                        <i class="metismenu-icon fa fa-sliders-h"></i> Setari
                    </a>
                </li>

            </ul>
        </div>
    </div>

<script>
    function init_komponent(k) {

        k.exec = function (options) {
            console.log(options);
        };
    }
</script>
