<style>

    .partnerDetails .col-6  div.row{
        border-bottom: solid #E6E6E6 1px;
    }
    .partnerDetails .col-6 div.row div{
        padding: 5px;
        margin-top: 5px;
    }
    .partnerDetails .col-6 div.row>div:nth-child(1) {
        font-weight: bold;
        background: #E6E6E6;
    }
    .partnerDetails .col-6 div.row>div:nth-child(3) {
        display: none;
    }

    .partnerDetails.editMode .col-6 div.row>div:nth-child(3) {
        display: unset;
    }
    .partnerDetails.editMode .col-6 div.row>div:nth-child(2) {
        display: none;
    }
    .partnerDetails.editMode .btn-edit,.partnerDetails.editMode .btn-delete{
        display: none;
    }
    .partnerDetails.editMode .btn-save, .partnerDetails.editMode .btn-cancel{
        display: unset;
    }
    .partnerDetails .btn-save, .partnerDetails .btn-cancel{
        display: none;
    }


</style>
<!-- @todo: finalizare sectiune parteneri-->

<form id="customerDataForm" class="d-none"></form>
<div class="container partnerDetails">
    <div class="row">
        <div class="col-6">
            <div class="row d-none">
                <div class="col-3">ID</div>
                <div class="col-9"><%= id %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="155" id="idInput" name="id" class="form-control form-control-sm" required="" placeholder="ABOGAR S.R.L." value="<%= id %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Denumire</div>
                <div class="col-9"><%= attributes.name %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="155" id="nameInput" name="name" class="form-control form-control-sm" required="" placeholder="ABOGAR S.R.L." value="<%= attributes.name %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Cod fiscal</div>
                <div class="col-9"><%= attributes.cod_fiscal %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="20" id="cod_fiscalInput" data-sync="cod_fiscal" name="cod_fiscal" class="form-control form-control-sm" required="" placeholder="RO2483866" value="<%= attributes.cod_fiscal %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Reg Com</div>
                <div class="col-9"><%= attributes.reg_com %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="40" id="reg_comInput" data-sync="reg_com" name="reg_com" class="form-control form-control-sm" required="" placeholder="" value="<%= attributes.reg_com %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Email</div>
                <div class="col-9"><%= attributes.email %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="100" id="emailInput" data-sync="email" name="email" class="form-control form-control-sm" value="<%= attributes.email %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Telefon</div>
                <div class="col-9"><%= attributes.phone %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="15" id="phoneInput" data-sync="phone" name="phone" class="form-control form-control-sm" value="<%= attributes.phone %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Banca</div>
                <div class="col-9"><%= attributes.cod_fiscal %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="45" id="bank_nameInput" data-sync="bank_name" name="bank_name" class="form-control form-control-sm" value="<%= attributes.bank_name %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Cont</div>
                <div class="col-9"><%= attributes.bank_account %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="45" id="bank_accountInput" data-sync="bank_account" name="bank_account" class="form-control form-control-sm" value="<%= attributes.bank_account %>">
                </div>
            </div>
        </div>
        <div class="col-6">

            <div class="row">
                <div class="col-3">Adresa 1</div>
                <div class="col-9"><%= attributes.address1 %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="20" id="address1Input" data-sync="address1" name="address1" class="form-control form-control-sm" value="<%= attributes.address1 %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Adresa 2</div>
                <div class="col-9"><%= attributes.address2 %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="20" id="address2Input" data-sync="address2" name="address2" class="form-control form-control-sm" value="<%= attributes.address2 %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Localitate</div>
                <div class="col-9"><%= attributes.city %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="20" id="cityInput" data-sync="city" name="city" class="form-control form-control-sm" value="<%= attributes.city %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Judet</div>
                <div class="col-9"><%= attributes.county %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="20" id="countyInput" data-sync="county" name="county" class="form-control form-control-sm" value="<%= attributes.county %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Tara</div>
                <div class="col-9"><%= attributes.country %></div>
                <div class="col-9">
                    <input form="customerDataForm" type="text" maxlength="20" id="countryInput" data-sync="country" name="country" class="form-control form-control-sm" value="<%= attributes.country %>">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Furnizor</div>
                <div class="col-9"><%= attributes.is_supplier === "1" ? "Da" : "Nu" %></div>
                <div class="col-9">
                    <select id="isSupplierSelect" form="customerDataForm" name="is_supplier" class="form-control custom-select custom-select-sm">
                        <% if(attributes.is_supplier === "1") { %>
                            <option value="1">Da</option>
                            <option value="0">Nu</option>
                        <% } else { %>
                            <option value="0">Nu</option>
                            <option value="1">Da</option>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label>Notite</label>
            <textarea form="customerDataForm" id="commentsForPartners" onblur="saveComment(this);" class="form-control" rows="3" name="comments"><%= attributes.comments %></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="row" id="btnForPartner">
            <div class="col">

                <button class="btn btn-warning btn-edit checkUpdate" onclick="enterEditMode(this);" type="button">Editeaza</button>
                <button class="btn btn-success btn-save checkUpdate" onclick="console.log($(this).data())" form="customerDataForm" type="submit">Salveaza</button>
                &nbsp;
                <button class="btn btn-danger btn-delete checkDelete" data-dismiss="modal" onclick="deleteEmployee($(this).data('instance'))" type="button">Sterge</button>
                <button class="btn btn-secondary btn-cancel" onclick="$(this).parents('.partnerDetails').removeClass('editMode');" type="button">Renunta</button>
            </div>
            &nbsp;
        </div>
    </div>
</div>


<script>

    function saveComment(src) {
        let instance = $(src).data().instance;

        instance.update({comments:src.value}).catch(function (data) {
            komponentor.intent("/common/errormodal").data({
                body: "A aparut o eroare: <pre>"+data.jqXHR.responseText+"</pre>"
            }).send();
        });
    }

    function enterEditMode(src) {
        $(src).parents('.partnerDetails').addClass('editMode')
        let instance = $(src).data().instance;

        let form = $("#customerDataForm")[0];
        let util = instance.getUtilities();

        util.captureFormSubmit(form,function (data) {
            console.log("///////////////////////////////",data,instance);
            instance.update(data)
                .then(function () {
                    $(src).parents('.partnerDetails').removeClass('editMode');
                })
                .catch(function (jqxhr) {
                    komponentor.intent("/common/errormodal").data({
                        body: "A aparut o eroare: <pre>"+(jqxhr.jqXHR.responseText)+"</pre>"
                    }).send();
                });

        });
    }

    function init_komponent(k) {
        console.log("------------",k);
        k.test = function () {
            alert("It works");
        };


        if(!k.data.instance) {
            throw "Partner Instance not defined";
        }

        k.data.instance.bindView(k.$el).loadFromRemote().then(function () {
            // checkUserRights(k.$el, "partners");
        });
        // console.log(instance);

        // instance.bindView(k.$el)
    }

</script>