<div class="modal" id="partnerModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body bg-light">
                <div class="card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"></i>
                            Detalii comanda <span id="comandaid"></span>
                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a data-toggle="tab" href="#partnerModalPanelDetails" class="nav-link active">Date client</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#partnerModalPanelOrders" class="nav-link">Comenzi</a>
                            </li>
<!--                            <li class="nav-item">-->
<!--                                <a data-toggle="tab" href="#partnerModalPanelPayments" class="nav-link">Plati</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a data-toggle="tab" href="#partnerModalPanelReports" class="nav-link">Rapoarte</a>-->
<!--                            </li>-->

                        </ul>
                    </div>
                    <div class="card-body" style="min-height: 400px">

                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="partnerModalPanelDetails" role="tabpanel" aria-labelledby="detaliiPartener-tab">
<!--                                <div is="komponent" data-url="/views/partners/partnerForm" data-replace="true"></div>-->
                                <div data-resourcetype="item" data-type="item">
                                    <form id="customerDataForm"></form>

                                    <div class="alert alert-success d-none" role="alert" id="savePartnerSuccessAlert">
                                        Datele au fost salvate cu succes!
                                    </div>

                                    <div class="alert alert-danger d-none" role="alert" id="savePartnerServerErrorAlert">
                                        A aparut o eroare la salvare
                                        <button type="button" class="close" aria-label="Close" onclick="$(this).parent().addClass('d-none')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <pre class="errorMsg bg-light border border-focus mt-2 p-3 rounded"></pre>
                                        <button class="btn btn-primary" onclick="komponentor.intent('/common/report').send({data:$(this).prev().data('error')})">Raporteaza eroare</button>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="nameInput">Denumire</label>
                                            <input form="customerDataForm" type="text" maxlength="155" id="nameInput" name="name" class="form-control form-control-sm" required="" value="ABOGAR S.R.L.">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="form-group col-3">
                                            <label for="cod_fiscalInput">Cod fiscal</label>
                                            <input form="customerDataForm" type="text" maxlength="20" id="cod_fiscalInput" data-sync="cod_fiscal" name="cod_fiscal" class="form-control form-control-sm" value="RO2483866">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="form-group col-3">
                                            <label for="reg_comInput">Reg Com</label>
                                            <input form="customerDataForm" type="text" maxlength="45" id="reg_comInput" data-sync="reg_com" name="reg_com" class="form-control form-control-sm" value="J35/1236/1992">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="address1Input">Adresa 1</label>
                                            <input form="customerDataForm" type="text" maxlength="100" id="address1Input" name="address1" class="form-control form-control-sm">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="address2Input">Adresa 2</label>
                                            <input form="customerDataForm" type="text" maxlength="100" id="address2Input" name="address2" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-4">
                                            <label for="cityInput">Localitate</label>
                                            <input form="customerDataForm" type="text" maxlength="45" id="cityInput" name="city" class="form-control form-control-sm" required="">
                                        </div>
                                        <div class="form-group col-4">
                                            <label for="countyInput">Judet</label>
                                            <input form="customerDataForm" type="text" maxlength="45" id="countyInput" name="county" class="form-control form-control-sm">
                                        </div>
                                        <div class="form-group col-4">
                                            <label for="countryInput">Tara</label>
                                            <input form="customerDataForm" type="text" maxlength="45" id="countryInput" name="country" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-3">
                                            <label for="emailInput">Email</label>
                                            <input form="customerDataForm" type="text" maxlength="100" id="emailInput" name="email" class="form-control form-control-sm">
                                        </div>
                                        <div class="form-group col-3">
                                            <label for="phoneInput">Telefon</label>
                                            <input form="customerDataForm" type="text" maxlength="45" id="phoneInput" name="phone" class="form-control form-control-sm">
                                        </div>
                                        <div class="form-group col-3">
                                            <label for="bank_nameInput">Banca</label>
                                            <input form="customerDataForm" type="text" maxlength="45" id="bank_nameInput" name="bank_name" class="form-control form-control-sm">
                                        </div>
                                        <div class="form-group col-3">
                                            <label for="bank_accountInput">Cont</label>
                                            <input form="customerDataForm" type="text" maxlength="45" id="bank_accountInput" name="bank_account" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-3">
                                            <label>Furnizor</label>
                                            <select form="customerDataForm" name="is_supplier" class="form-control custom-select custom-select-sm">
                                                <option value="1">da</option>
                                                <option value="0">nu</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label>Notite</label>
                                            <textarea form="customerDataForm" class="form-control" rows="3" name="comments"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" form="customerDataForm">Save</button>
                                </div>
                            </div>

                            <div class="tab-pane" id="partnerModalPanelOrders" data-resourcetype="collection" role="tabpanel">
                                <div is="komponent" data-url="/views/orders/ordersTable" data-replace="true" id="ordersTableKomponent"></div>
                            </div>

                            <div class="tab-pane" id="partnerModalPanelPayments" role="tabpanel">
                                plati
                            </div>
                            <div class="tab-pane" id="partnerModalPanelReports" role="tabpanel" >
                                rapoarte
<!--                                <div is="komponent" data-url="/views/pontaj/lista"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function init_komponent(k) {
        let $modal = k.$el.appendTo("body").filter(".modal");
        $modal.modal().on("hidden.bs.modal",()=>k.$el.remove());

        $("#ordersTableKomponent").komponent({data:{instance: k.data.instance}});


        let util = k.data.instance.getUtilities();
        let form = $("#customerDataForm")[0];
        form.reset();

        util.fillForm(form,k.data.instance);
        util.captureFormSubmit(form,updatePartner);

        let $formElements = $(form.elements);
        // $formElements.on("change",function (e) {
        //     $formElements.filter("button[type=submit]").click();
        // });

        function displayServerError(errorData) {
            $("#savePartnerServerErrorAlert").removeClass("d-none").find("pre")
                .text(errorData.jqXHR.responseText)
                .data("error", errorData);
        }

        function updatePartner(attrs){
            $(form.elements).removeClass("is-invalid");
            // console.log(arguments);
            k.data.instance.update(attrs)
                .then(function (d) {
                    console.log("--------------",d);
                    $("#savePartnerSuccessAlert").removeClass("d-none");
                    setTimeout(function () {
                        $("#savePartnerSuccessAlert").addClass("d-none");
                    },1000);
                })
                .catch(function (errorData) {
                    // no valid JSONAPI error is provided
                    // => this is some server side error
                    // => display it and prepare it for reporting
                    if(!errorData.jqXHR.responseJSON || !errorData.jqXHR.responseJSON.errors
                        || !errorData.jqXHR.responseJSON.errors.length || !errorData.jqXHR.responseJSON.errors[0]
                        || !errorData.jqXHR.responseJSON.errors[0].code) {
                        displayServerError(errorData);
                        return;
                    }

                    switch (errorData.jqXHR.responseJSON.errors[0].code*1) {
                        // highlight faulty field
                        case 1062:
                            let res = /Duplicate entry \'(.+)\' for key \'(.+)\.(.+)\'/.exec(errorData.jqXHR.responseJSON.errors[0].title);
                            if(res) {
                                $(form[res[3]]).addClass("is-invalid").next().text("Date duplicate");
                            }
                            break;
                    }
                })
        }


    }
</script>

