<script>

    function init_komponent(k) {
        let data = {
            title: "Partener",
            size: "xl",
            tabs: [
                {
                    label: "Detalii",
                    type: "komponent",
                    url: "/views/partners/partnerDetails",
                    data: k.data,
                    active: true
                },
                {
                    label: "Comenzi",
                    type: "komponent",
                    url: "/views/orders/ordersTable",
                    // url: "/views/partners/partnerDetails",
                    data: k.data,
                },
            ]
        };
        komponentor.intent("/common/tabbed_modal").send(data);
    }

</script>