<div class="modal" id="partnerModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body bg-light">
                <div class="card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"></i>
                            Detalii comanda <span id="comandaid"></span>
                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a data-toggle="tab" href="#partnerModalPanelDetails" class="nav-link active">Date client</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#partnerModalPanelOrders" class="nav-link">Comenzi</a>
                            </li>
<!--                            <li class="nav-item">-->
<!--                                <a data-toggle="tab" href="#partnerModalPanelPayments" class="nav-link">Plati</a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a data-toggle="tab" href="#partnerModalPanelReports" class="nav-link">Rapoarte</a>-->
<!--                            </li>-->

                        </ul>
                    </div>
                    <div class="card-body" style="min-height: 400px">

                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="partnerModalPanelDetails" role="tabpanel" aria-labelledby="detaliiPartener-tab">
                                <div is="komponent" data-url="/views/partners/details" data-replace="true" id="partnerDetails"></div>
                            </div>

                            <div class="tab-pane" id="partnerModalPanelOrders" data-resourcetype="collection" role="tabpanel">
                                <div is="komponent" data-url="/views/orders/ordersTable" data-replace="true" id="ordersTableKomponent"></div>
                            </div>

                            <div class="tab-pane" id="partnerModalPanelPayments" role="tabpanel">
                                plati
                            </div>
                            <div class="tab-pane" id="partnerModalPanelReports" role="tabpanel" >
                                rapoarte
<!--                                <div is="komponent" data-url="/views/pontaj/lista"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function init_komponent(k) {
        let $modal = k.$el.appendTo("body").filter(".modal");
        $modal.modal().on("hidden.bs.modal",()=>k.$el.remove());

        $("#ordersTableKomponent").komponent({data:{instance: k.data.instance}});
        $("#partnerDetails").komponent({data:{instance: k.data.instance}});



    }
</script>

