<style>
    .order-summary-table button.save{
        display: none;
    }
    .order-summary-table span.display{}
    .editMode span.display{
        display: none;
    }
    .order-summary-table span.edit{
        display: none;
    }
    .editMode span.edit{
        display: inline-block;
        min-width: 150px;
    }
    .editMode button.edit{
        display: none;
    }
    .editMode button.save{
        display: unset;
    }

</style>
<div class="row" id="orderDetails">
    <div class="col-6">
        <table class="order-summary-table">
            <tr>
                <td>Nr. comanda intern</td>
                <td><%= relationships.doc_id.attributes.docnum %></td>
            </tr>
            <tr>
                <td>Denumire</td>
                <td><%= attributes.label %></td>
            </tr>
            <tr>
                <td>Bestellung</td>
                <td>D12542357</td>
            </tr>
            <tr>
                <td>Client</td>
                <td><a href="#" onclick="komponentor.intent('/views/customers/customer').data({id:0}).send()"><%= relationships.partner_id.attributes.name %></a></td>
            </tr>
            <tr>
                <td>Stadiu</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= attributes.state %>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="changeToState" style="cursor:pointer;" onclick="changeState(this)">yo</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Echipa responsabila</td>
                <td>
                    <span class="display">
                    <% if(relationships.team) { %>
                    <%= relationships.team.attributes.name %>
                    <% } else { %>
                        nealocat
                    <% }  %>
                    </span>
                    <span class="edit" style="min-width: 200px">
                        <select id="teamAllocation">
                            <% if(relationships.team) { %>
                            <option value="<%= relationships.team.id %>"><%= relationships.team.attributes.name %></option>
                            <% }  %>
                        </select>
                    </span>
                    <button class="btn btn-success float-right btn-sm save" onclick="saveTeamAssoc(this)"><i class="fa fa-save"></i></button>
                    <button class="btn btn-secondary float-right btn-sm edit" onclick="editTeamAssoc(this)"><i class="fa fa-edit"></i></button>
                </td>

            </tr>
            <tr>
                <td>Data preluare comanda</td>
                <td><%= attributes.created_on %></td>
            </tr>
            <tr>
                <td>Date dare in executie</td>
                <td><%= attributes.startwork_on?attributes.startwork_on:"-" %></td>
            </tr>
            <tr>
                <td>Data finalizare</td>
                <td><%= attributes.readytodeliver_on?attributes.readytodeliver_on:"-" %></td>
            </tr>
            <tr>
                <td>Data livrare</td>
                <td><%= attributes.closed_on?attributes.closed_on:"-" %></td>
            </tr>
            <tr>s
                <td>Pret comanda</td>
                <td><%= attributes.order_value ?  attributes.order_value + " " + (relationships.currency?relationships.currency.id:"-") : "-" %> </td>

            </tr>
            <tr>
                <td>Pret calculat</td>
                <td><%= attributes.calculated_value ?  attributes.calculated_value + " " + (relationships.currency ? relationships.currency.id:"-") : "-" %> </td>
            </tr>
            <tr>
                <td>Pret final</td>
                <td><%= attributes.final_value ?  attributes.final_value + " " + (relationships.currency ? relationships.currency.id:"-") : "-" %> </td>
            </tr>
        </table>
    </div>
    <div class="col-6 text-center">
        <img src="assets/img/product.jpg" width="300">
    </div>
</div>


<script>
    function editTeamAssoc(src) {
        $(src).parent().addClass('editMode');
        $("#teamAllocation").select2wrapper({url: apiRoot+"/teams",placeholder:"Aloca echipa",labelfld:"name"});
    }

    function saveTeamAssoc(src) {
        $(src).parent().removeClass('editMode');
        console.log($(src),$(src).data("instance"),$("#teamAllocation").val());
        $(src).data("instance").update({team:$("#teamAllocation").val()}).then(function (a){
            console.log(a)});
    }
    function prepare_a(state){
        let $changeTo = $("#changeToState");
        let states = ["offer", "ord", "proc", "ctc", "fix", "ready", "dlvd"];
        let currentState = states.findIndex((el) => el === state);
        let nextState = states[currentState + 1];
        $changeTo.html("Change to \"" + nextState + "\"");
        console.log(nextState);
        $changeTo.attr("val", nextState);

        console.log("-----------------------------------------------------\n\n\n", currentState, "\n\n\n----------------------------------");
        console.log("-----------------------------------------------------\n\n\n", "Change to " + nextState, "\n\n\n----------------------------------");
        console.log("-----------------------------------------------------\n\n\n", $changeTo, "\n\n\n----------------------------------");
    }
    function changeState(src){
        let instance = $(src).data().instance;

        let $changeTo = $("#changeToState");
        let new_state = $changeTo.attr("val");
        let data = $(src).data().instance.attributes

        instance.update({
            oid: data.oid,
            state: new_state
        }).then(() => {
            prepare_a(new_state);
            instance.loadFromRemote();
        })
    }



    function init_komponent(k) {

        prepare_a(k.data.instance.attributes.state);
        console.log(k);
        k.data.instance.setUrl(apiRoot+"/orders/"+k.data.instance.id+"?include=doc_id,partner_id,team,orders_meta&page[orders_meta][limit]=100")
            .bindView(k.$el.children()).loadFromRemote().then(function (d) {
            console.log(d)});
    }
</script>