<style>
    .order-summary-table button.save {
        display: none;
    }

    /*.order-summary-table span.display{}*/
    .editMode span.display {
        display: none;
    }

    .order-summary-table span.edit {
        display: none;
    }

    .editMode span.edit {
        display: inline-block;
        min-width: 150px;
    }

    .editMode button.edit {
        display: none;
    }

    .editMode button.save {
        display: unset;
    }

    .hide-no-offer {
        display: none;
    }

    .offer .hide-no-offer {
        display: unset;
    }

    .ord .hide-no-offer {
        display: unset;
    }

    .proc .hide-no-offer {
        display: unset;
    }

    .doc_id0 .notA000 {
        display: none;
    }

</style>
<div className="row" id="orderDetails">
    <div className="col-6" id="firstColOrdersDetails">
        <table className="order-summary-table">
            <tr>
                <td>Nr. comanda intern</td>
                <td><%= relationships.doc_id.attributes.docnum %></td>
            </tr>
            <tr>
                <td>Denumire</td>
                <td>
                    <span className="display"><%= attributes.label %></span>
                    <span className="edit" style="min-width: 200px">
                        <input type="text" id="denumChange" className="form-control form-control-sm"
                               value="<%= attributes.label %>">
                    </span>
                    <div className="hide-no-offer">
                        <button className="btn btn-secondary notA000 float-right btn-sm edit checkUpdate"
                                onClick="editDenumChange(this)"><i className="fa fa-edit"></i></button>
                    </div>
                    <button className="btn btn-success float-right btn-sm save" onClick="saveDenumChange(this)"><i
                            className="fa fa-save"></i></button>
                </td>
            </tr>
            <tr className="notA000">
                <td>Client</td>
                <td><a href="#" onClick="event.preventDefault(); goToPartner(this);"><%=
                    relationships.partner_id.attributes.name %></a></td>
            </tr>
            <tr className="notA000">
                <td>Referinta interna</td>
                <td><%= attributes.cust_int_ref %></td>
            </tr>
            <tr className="notA000">
                <td>Stadiu</td>
                <td>
                    <div className="btn-group">
                        <% if(attributes.state === "offer") { %>
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle checkUpdate orderStageBtn"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Oferta
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ord`)"
                               value="ord">Comandat</a>
                            <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `canceled`)"
                               value="canceled">Anulat</a>
                        </div>
                        <% } else if(attributes.state === "ord") { %>
                        <button type="button" class="btn btn-sm btn-info dropdown-toggle checkUpdate orderStageBtn"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comandat
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `proc`)"
                               value="proc">In Lucru</a>
                            <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `canceled`)"
                               value="canceled">Anulat</a>
                        </div>
                        <% } else if(attributes.state === "proc") { %>
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle checkUpdate orderStageBtn"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">In Lucru
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ready`)"
                               value="ctc">Gata de Livrare</a>
                        </div>
                        <% } else if(attributes.state === "ready") { %>
                        <button disabled type="button"
                                class="btn btn-sm btn-warning dropdown-toggle checkUpdate orderStageBtn"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gata de Livrare
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `dlvd`)"
                               value="dlvd">Livrat</a>
                        </div>
                        <% } else if(attributes.state === "dlvd") { %>
                        <button disabled type="button" class="btn btn-sm btn-success dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Livrat
                        </button>
                        <% } else if(attributes.state === "canceled") { %>
                        <button disabled type="button" class="btn btn-sm btn-secondary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Anulat
                        </button>
                        <% } %>

                    </div>
                </td>
            </tr>
            <tr className="notA000">
                <td>Echipa responsabila</td>
                <td>
                    <span className="display">
                    <% if(relationships.team) { %>
                        <%= relationships.team.attributes.name %>
                    <% } else { %>
                        nealocat
                    <% }  %>
                    </span>
                    <span className="edit" style="min-width: 200px">
                        <select id="teamAllocation" style="width: 150px">
                            <% if(relationships.team) { %>
                            <option value="<%= relationships.team.id %>"><%= relationships.team.attributes.name %></option>
                            <% }  %>
                        </select>
                    </span>
                    <div className="hide-no-offer">
                        <button className="btn btn-secondary float-right btn-sm edit checkUpdate"
                                onClick="editTeamAssoc(this)"><i className="fa fa-edit"></i></button>
                    </div>
                    <button className="btn btn-success float-right btn-sm save" onClick="saveTeamAssoc(this)"><i
                            className="fa fa-save"></i></button>
                </td>

            </tr>
            <tr className="notA000">
                <td>Timp estimat (ore)</td>
                <td id="ordersMetaEstimatedWork">
                    <span id="estTimeText" className="display"></span>
                    <span className="edit" style="min-width: 200px">
                        <input type="text" id="estTimeChange" className="form-control form-control-sm" value="">
                    </span>
                    <div className="hide-no-offer">
                        <button className="btn btn-secondary notA000 float-right btn-sm edit checkUpdate"
                                onClick="editEstTimeChange(this)"><i className="fa fa-edit"></i></button>
                    </div>
                    <button className="btn btn-success float-right btn-sm save" onClick="saveEstTimeChange(this)"><i
                            className="fa fa-save"></i></button>
                </td>
            </tr>
        </table>
    </div>
    <div className="col-6 notA000">
        <table className="order-summary-table">
            <tbody>
            <tr>
                <td>Data preluare comanda</td>
                <td><%= attributes.created_on %></td>
            </tr>
            <tr>
                <td>Date dare in executie</td>
                <td><%= attributes.startwork_on?attributes.startwork_on:"-" %></td>
            </tr>
            <tr>
                <td>Data finalizare</td>
                <td><%= attributes.readytodeliver_on?attributes.readytodeliver_on:"-" %></td>
            </tr>
            <tr>
                <td>Data livrare</td>
                <td><%= attributes.closed_on?attributes.closed_on:"-" %></td>
            </tr>
            <tr>
                <td>Pret comanda</td>
                <td>
                    <span className="display"><%= attributes.order_value ?  attributes.order_value + " " + (relationships.currency?relationships.currency.id:"-") : "-" %></span>
                    <span className="edit" style="min-width: 200px">
                            <input type="text" id="orderValueChange" className="form-control form-control-sm"
                                   value="<%= attributes.order_value %>">
                        </span>
                    <div className="hide-no-offer">
                        <button className="btn btn-secondary notA000 float-right btn-sm edit checkUpdate"
                                onClick="editOrderValueChange(this)"><i className="fa fa-edit"></i></button>
                    </div>
                    <button className="btn btn-success float-right btn-sm save" onClick="saveOrderValueChange(this)"><i
                            className="fa fa-save"></i></button>
                </td>
            </tr>
            <tr>
                <td>Pret calculat</td>
                <td>
                    <span className="display"><%= attributes.calculated_value ?  attributes.calculated_value + " " + (relationships.currency ? relationships.currency.id:"-") : "-" %></span>
                    <span className="edit" style="min-width: 200px">
                            <input type="text" id="calculatedPriceChange" className="form-control form-control-sm"
                                   value="<%= attributes.calculated_value %>">
                        </span>
                    <div className="hide-no-offer">
                        <button className="btn btn-secondary notA000 float-right btn-sm edit checkUpdate"
                                onClick="editCalcChangeChange(this)"><i className="fa fa-edit"></i></button>
                    </div>
                    <button className="btn btn-success float-right btn-sm save" onClick="saveCalcChangeChange(this)"><i
                            className="fa fa-save"></i></button>
                </td>
            </tr>
            <tr>
                <td>Pret final</td>
                <td><%= attributes.final_value ? attributes.final_value + " " + (relationships.currency ?
                    relationships.currency.id:"-") : "-" %>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<script>

    function updateMetaVal(instance) {
        let id_est_work_arr = instance.relationships.orders_meta.map(item => {
            if (item.attributes.meta_key === "estimated_work") return item.id
        });
        let estimated_work_arr = instance.relationships.orders_meta.map(item => {
            if (item.attributes.meta_key === "estimated_work") return item.attributes.meta_val
        });
        let est_work_specific = estimated_work_arr.find(item => {
            if (item) return item
        });
        let id_est_work = id_est_work_arr.find(item => {
            if (item) return item
        });

        $("#ordersMetaEstimatedWork").attr("name", id_est_work);
        $("#estTimeText").text(est_work_specific ? est_work_specific + " h" : "-");
        $("#estTimeChange").val(est_work_specific ? est_work_specific : "");
    }

    function editOrderValueChange(src) {
        $(src).parent().parent().addClass('editMode');
    }

    function saveOrderValueChange(src) {
        let $order_value;
        $order_value = $("#orderValueChange");

        $(src).parent().removeClass('editMode');
        $(src).data("instance").update({order_value: $order_value.val()})
            .then(function (a) {
                updateMetaVal($(src).data("instance"));
            })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }

    function editCalcChangeChange(src) {
        $(src).parent().parent().addClass('editMode');
    }

    function saveCalcChangeChange(src) {
        let $calcPrice;
        $calcPrice = $("#calculatedPriceChange");


        $(src).parent().removeClass('editMode');
        $(src).data("instance").update({calculated_value: $calcPrice.val()}).then(function (a) {
            updateMetaVal($(src).data("instance"));
        })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }

    function editEstTimeChange(src) {
        $(src).parent().parent().addClass('editMode');
    }

    function saveEstTimeChange(src) {
        let est_time_id = $("#ordersMetaEstimatedWork").attr("name");
        console.log("asdasd" + est_time_id);

        let instance = $("<span>").apiator({
            resourcetype: "item",
            url: apiRoot + "/orders_meta/" + est_time_id,
            returninstance: true
        });

        let new_est_time = $("#estTimeChange").val();

        let data = {meta_val: new_est_time};

        console.log(data);

        instance.update(data)
            .then(function (data) {
                $(src).parent().removeClass('editMode');
            })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            })

        console.log("asdasd ", new_est_time);
    }

    function goToPartner(src) {
        komponentor.intent("/views/partners/addPartner").data({
            instance: $(src).data().instance.relationships.partner_id,
            title: "ceva"
        })
            .send();
    }

    function editDenumChange(src) {
        $(src).parent().parent().addClass('editMode');
    }

    function saveDenumChange(src) {
        let $denum;
        $denum = $("#denumChange");


        $(src).parent().removeClass('editMode');
        $(src).data("instance").update({label: $denum.val()}).then(function (a) {
            updateMetaVal($(src).data("instance"));
        })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }

    function editTeamAssoc(src) {
        $(src).parent().parent().addClass('editMode');
        $("#teamAllocation").select2wrapper({url: apiRoot + "/teams", placeholder: "Aloca echipa", labelfld: "name"});
    }

    function saveTeamAssoc(src) {
        $(src).parent().removeClass('editMode');
        let $teamalloc = $("#teamAllocation");
        $(src).data("instance").update({team: $teamalloc.val()}).then(function (a) {
            updateMetaVal($(src).data("instance"));
        })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }

    function changeState(src, new_state) {
        let instance = $(src).data("instance");

        komponentor.intent("/common/messagemodal").data({
            body: "Sunteti sigur ca doriti modificaera starii comenzii <strong>" + instance.attributes.label + "</strong>?",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss": "modal"
                    },
                    callback: function () {
                        instance.update({state: new_state}).catch(function (data) {
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss": "modal"
                    }
                }]
        }).send();
    }

    function init_komponent(k) {

        checkUserRights(k.$el, "orders");

        k.$el.addClass("doc_id" + k.data.instance.relationships.doc_id.id);

        if (k.data.instance.relationships.doc_id.id === "0") {
            $("#firstColOrdersDetails").removeClass("col-6").addClass("col-12")
        }

        k.$el.find(".orderStageBtn").each(function () {
            if (!$(this).hasClass("updateAllow"))
                $(this).attr("disabled", true).removeClass("checkUpdate");
        });

        k.$el.addClass(k.data.instance.attributes.state);


        k.data.instance.setUrl(apiRoot + "/orders/" + k.data.instance.id + "?include=doc_id,partner_id,team,orders_meta&page[orders_meta][limit]=100")
            .bindView(k.$el.children()).loadFromRemote().then(function (d) {
            updateMetaVal(k.data.instance);

        })
            .catch(function (data) {
                console.log(data);
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }
</script>