<style>
    .order-summary-table button.save {
        display: none;
    }

    .editMode span.display {
        display: none;
    }

    .order-summary-table span.edit {
        display: none;
    }

    .editMode span.edit {
        display: inline-block;
        min-width: 150px;
    }

    .editMode button.edit {
        display: none;
    }

    .editMode button.save {
        display: unset;
    }

    .doc_id0 .notA000 {
        display: none;
    }

</style>

<div class="checkRequired" data-module="orders" data-level="1">
    <div class="row" id="orderDetails">
        <div class="col-6" id="firstColOrdersDetails">
            <table class="order-summary-table">
                <tr>
                    <td>Nr. comanda intern</td>
                    <td><%= relationships.doc_id.attributes.docnum %></td>
                </tr>
                <tr>
                    <td>Denumire</td>
                    <td>
                        <span class="display"><%= attributes.label %></span>
                        <span class="edit" style="min-width: 200px">
                        <input type="text" id="denumChange" class="form-control form-control-sm" value="<%= attributes.label %>">
                    </span>
                        <div>
                            <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate" onClick="editDenumChange(this)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveDenumChange(this)"><i
                                class="fa fa-save"></i></button>
                    </td>
                </tr>
                <tr class="notA000">
                    <td>Client</td>
                    <td><a href="#" onClick="event.preventDefault(); goToPartner(this);"><%=
                        relationships.partner_id.attributes.name %></a></td>
                </tr>
                <tr class="notA000">
                    <td>Referinta interna</td>
                    <td><%= attributes.cust_int_ref %></td>
                </tr>
                <tr class="notA000">
                    <td>Stadiu</td>
                    <td>
                        <div class="btn-group">
                            <% if(attributes.state === "offer") { %>
                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle checkUpdate orderStageBtn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Oferta
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ord`)"
                                   value="ord">Comandat</a>
                                <a class="dropdown-item" style="cursor:pointer; color: red" onclick="changeState(this, `canceled`)"
                                   value="canceled">Anulat</a>
                            </div>
                            <% } else if(attributes.state === "ord") { %>
                            <button type="button" class="btn btn-sm btn-info dropdown-toggle checkUpdate orderStageBtn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comandat
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `proc`)"
                                   value="proc">In Lucru</a>
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `offer`)"
                                   value="proc">Oferta</a>
                                <a class="dropdown-item" style="cursor:pointer; color: red" onclick="changeState(this, `canceled`)"
                                   value="canceled">Anulat</a>
                            </div>
                            <% } else if(attributes.state === "proc") { %>
                            <button type="button" class="btn btn-sm btn-danger dropdown-toggle checkUpdate orderStageBtn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">In Lucru
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ready`)"
                                   value="ctc">Gata de Livrare</a>
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ord`)"
                                   value="ord">Comandat</a>
                            </div>
                            <% } else if(attributes.state === "ready") { %>
                            <button type="button"
                                    class="btn btn-sm btn-warning dropdown-toggle checkUpdate orderStageBtn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gata de Livrare
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `dlvd`)"
                                   value="dlvd">Livrat</a>
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `proc`)"
                                   value="proc">In Lucru</a>
                            </div>
                            <% } else if(attributes.state === "dlvd") { %>
                            <button type="button" class="btn btn-sm btn-success dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Livrat
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" style="cursor:pointer;" onclick="changeState(this, `ready`)"
                                   value="ctc">Gata de Livrare</a>
                            </div>

                            <% } else if(attributes.state === "canceled") { %>
                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Anulat
                            </button>
                            <% } %>

                        </div>
                    </td>
                </tr>
                <tr class="notA000">
                    <td>Echipa responsabila</td>
                    <td>
                    <span class="display">
                    <% if(relationships.team) { %>
                        <%= relationships.team.attributes.name %>
                    <% } else { %>
                        nealocat
                    <% }  %>
                    </span>
                        <span class="edit" style="min-width: 200px">
                        <select id="teamAllocation" style="width: 150px">
                            <% if(relationships.team) { %>
                            <option value="<%= relationships.team.id %>"><%= relationships.team.attributes.name %></option>
                            <% }  %>
                        </select>
                    </span>
                        <div>
                            <button class="btn btn-warning float-right btn-sm edit checkUpdate" onClick="editTeamAssoc(this)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </div>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveTeamAssoc(this)">
                            <i class="fa fa-save"></i>
                        </button>
                    </td>

                </tr>
                <tr class="notA000">
                    <td>Timp estimat (ore)</td>
                    <% let id_est_work = relationships.orders_meta.map(function(item) { if (item.attributes.meta_key === "estimated_work") {return item.id;}}).find(function(item) {if (item) {return item;}}); %>
                    <% let est_work_specific = relationships.orders_meta.map(function(item) { if (item.attributes.meta_key === "estimated_work") {return item.attributes.meta_val;}}).find(function(item) {if (item) {return item;}}); %>
                    <td id="ordersMetaEstimatedWork" name="<%= id_est_work %>">
                        <span id="estTimeText" class="display"><%= est_work_specific ? est_work_specific + " h" : "-" %></span>
                        <span class="edit" style="min-width: 200px">
                            <input type="text" id="estTimeChange" class="form-control form-control-sm" value="<%= est_work_specific ? est_work_specific : '' %>">
                        </span>
                        <div>
                            <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate"
                                    onClick="editEstTimeChange(this)"><i class="fa fa-edit"></i></button>
                        </div>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveEstTimeChange(this)"><i
                                class="fa fa-save"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-6 notA000">
            <table class="order-summary-table">
                <tbody>
                <tr>
                    <td>Data preluare comanda</td>
                    <td><%= attributes.created_on %></td>
                </tr>
                <tr>
                    <td>Data dare in executie</td>
                    <td><%= attributes.startwork_on?attributes.startwork_on:"-" %></td>
                </tr>
                <tr>
                    <td>Data finalizare</td>
                    <td><%= attributes.readytodeliver_on?attributes.readytodeliver_on:"-" %></td>
                </tr>
                <tr>
                    <td>Data estimata livrare</td>
                    <td><%= attributes.closed_on?attributes.closed_on:"-" %></td>
                </tr>
                <tr>
                    <td>Data livrare</td>
                    <td><%= attributes.closed_on?attributes.closed_on:"-" %></td>
                </tr>
                <tr>
                    <td>Pret comanda</td>
                    <td>
                        <span class="display"><%= attributes.order_value ?  attributes.order_value + " " + (relationships.currency?relationships.currency.id:"-") : "-" %></span>
                        <span class="edit" style="min-width: 200px">
                            <input type="text" id="orderValueChange" class="form-control form-control-sm"
                                   value="<%= attributes.order_value %>">
                        </span>
                        <div>
                            <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate"
                                    onClick="editOrderValueChange(this)"><i class="fa fa-edit"></i></button>
                        </div>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveOrderValueChange(this)"><i
                                class="fa fa-save"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Pret calculat</td>
                    <td>
                        <span class="display"><%= attributes.calculated_value ?  attributes.calculated_value + " " + (relationships.currency ? relationships.currency.id:"-") : "-" %></span>
                        <span class="edit" style="min-width: 200px">
                            <input type="text" id="calculatedPriceChange" class="form-control form-control-sm"
                                   value="<%= attributes.calculated_value %>">
                        </span>
                        <div>
                            <button class="btn btn-warning notA000 float-right btn-sm edit checkUpdate"
                                    onClick="editCalcChangeChange(this)"><i class="fa fa-edit"></i></button>
                        </div>
                        <button class="btn btn-success float-right btn-sm save" onClick="saveCalcChangeChange(this)"><i
                                class="fa fa-save"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Pret final</td>
                    <td><%= attributes.final_value ? attributes.final_value + " " + (relationships.currency ?
                        relationships.currency.id:"-") : "-" %>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    // function updateMetaVal(instance) {
    // }

    function editOrderValueChange(src) {
        $(src).parent().parent().addClass('editMode');
    }

    function saveOrderValueChange(src) {
        let $order_value;
        $order_value = $("#orderValueChange");

        $(src).parent().removeClass('editMode');
        $(src).data("instance").update({order_value: $order_value.val()})
            .then(function (a) {
                // updateMetaVal($(src).data("instance"));
            })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }

    function editCalcChangeChange(src) {
        $(src).parent().parent().addClass('editMode');
    }

    function saveCalcChangeChange(src) {
        let $calcPrice;
        $calcPrice = $("#calculatedPriceChange");


        $(src).parent().removeClass('editMode');
        $(src).data("instance").update({calculated_value: $calcPrice.val()}).then(function (a) {
            // console.log(a);
            // updateMetaVal($(src).data("instance"));
        })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }

    function editEstTimeChange(src) {
        $(src).parent().parent().addClass('editMode');
    }

    function saveEstTimeChange(src) {
        let est_time_id = $("#ordersMetaEstimatedWork").attr("name");
        // console.log("asdasd" + est_time_id);

        let instance = $("<span>").apiator({
            resourcetype: "item",
            url: apiRoot + "/orders_meta/" + est_time_id,
            id: est_time_id,
            returninstance: true
        });

        let new_est_time = $("#estTimeChange").val();

        let data = {meta_val: new_est_time};

        // console.log(data);

        instance.update(data)
            .then(function (data) {
                $("#estTimeText").text(new_est_time + " h");
                $(src).parent().removeClass('editMode');
            })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            })

        // console.log("asdasd ", new_est_time);
    }

    function goToPartner(src) {
        komponentor.intent("/views/partners/addPartner").data({
            instance: $(src).data().instance.relationships.partner_id,
            title: "ceva"
        })
            .send();
    }

    function editDenumChange(src) {
        $(src).parent().parent().addClass('editMode');
    }

    function saveDenumChange(src) {
        let $denum;
        $denum = $("#denumChange");


        $(src).parent().removeClass('editMode');
        $(src).data("instance").update({label: $denum.val()}).then(function (a) {
            // updateMetaVal($(src).data("instance"));
        })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }

    function editTeamAssoc(src) {
        $(src).parent().parent().addClass('editMode');
        $("#teamAllocation").select2wrapper({url: apiRoot + "/teams", placeholder: "Aloca echipa", labelfld: "name"});
    }

    function saveTeamAssoc(src) {
        $(src).parent().removeClass('editMode');
        let $teamalloc = $("#teamAllocation");
        $(src).data("instance").update({team: $teamalloc.val()}).then(function (a) {
            // updateMetaVal($(src).data("instance"));
        })
            .catch(function (data) {
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }

    function changeState(src, new_state) {
        let instance = $(src).data("instance");
        let old_state = instance.attributes.state;

        komponentor.intent("/common/messagemodal").data({
            body: "Sunteti sigur ca doriti modificarea starii comenzii <strong>" + instance.attributes.label + "</strong>?",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss": "modal"
                    },
                    callback: function () {
                        instance.update({state: new_state})
                            .catch(function (data) {
                                komponentor.intent("/common/errormodal").data({
                                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss": "modal"
                    }
                }]
        }).send();
    }

    function init_komponent(k) {
        k.$el.addClass("doc_id" + k.data.instance.relationships.doc_id.id);

        if (k.data.instance.relationships.doc_id.id === "0") {
            $("#firstColOrdersDetails").removeClass("col-6").addClass("col-12")
        }

        k.$el.find(".orderStageBtn").each(function () {
            if (!$(this).hasClass("updateAllow"))
                $(this).attr("disabled", true).removeClass("checkUpdate");
        });

        // k.$el.parent().find("*").data("komponent",k);

        k.data.instance.setUrl(apiRoot + "/orders/" + k.data.instance.id + "?include=doc_id,partner_id,team,orders_meta&page[orders_meta][limit]=100")
            .bindView(k.$el.children()).loadFromRemote().then(function (d) {
                // updateMetaVal(k.data.instance);
            })
            .catch(function (data) {
                // console.log(data);
                komponentor.intent("/common/errormodal").data({
                    body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                }).send();
            });
    }

</script>