<style>

</style>

<div id="imageGalleryForm">
    <button onclick="newImage()" type="button" data-toggle="tooltip" title="Adauga imagine" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        Adauga imagine
    </button>
    <button id="saveImageButton" data-toggle="tooltip" title="Salveaza imagine" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary">
        Salveaza imagine
    </button>
    <input type="file" name="files[]" multiple class="" id="addImageInput">
    <span id="fileNameLabel"></span>
    <br>
    <div id="gallery" data-resourcetype="collection">
        <% gallery = JSON.parse(attributes.meta_val); console.log(gallery); %>
        <ul class="mt-4 d-flex flex-row justify-content-start align-items-start" style="list-style-type: none;">
            <% for(img in gallery) { %>
            <li class="m-1 align-self-center"><img class="img-thumbnail img-fluid rounded mx-auto d-block" src="<%=gallery[img].tn%>"></li>
            <% } %>
        </ul>
    </div>
</div>

<script>

    // function newImage() {
    //     $("#imageGalleryForm").find("#addImageInput").click();
    // }

    function init_komponent(k) {
        console.log("@@@@@@@@@@@@@",k)
        k.$el.find("#gallery").apiator(apiRoot + "/orders_items/"+ k.data.instance.id +"/catalog_meta?filter=meta_key=gallery");

        // k.$el.find("#addImageInput").on("change", function () {
        //     let name = $(this).val();
        //     console.log("1111111111111111111111111111111111111111111",name);
        //     name = name.slice(name.lastIndexOf("\\") + 1);
        //     k.$el.find("#fileNameLabel").html(name);
        // });

        function saveImage() {
            var formData = new FormData();
            formData.append('file', k.$el.find("#addImageInput")[0].files[0]);
            console.log("^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^", formData);

            $.ajax({
                url : apiRoot + "/files",
                type : 'POST',
                data : formData,
                processData: false,
                contentType: false,
                success : function(data) {
                    console.log(data);
                    k.$el.find("#gallery").loadFromRemote();
                }
            });
        }

        k.$el.find("#saveImageButton").on("click", function () {
            saveImage();
        });

        //
        // instance = $("#imageGalleryForm").apiator({
        //     resourcetype: "collection",
        //     returninstance: true
        // })
        // instance.setUrl(apiRoot + "/media/").loadFromRemote().then(function (a) {
        //     console.log("pppppppppppppppppppppppppppppppppppppppppppppp")
        //     console.log(instance)
        //
        //     $("#thumb").attr("src", instance.items[0].attributes.thumbnail_path);
        //     console.log(instance.items[0].attributes.thumbnail_path)
        //
        //
        // });

    }

</script>