<style>

    .imageList {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: .5rem;
        align-content: space-evenly;
        justify-content: space-between;
        text-align: center;
    }

    .hide-no-offer{
        display: none;
    }

    .offer .hide-no-offer{
        display: unset;
    }

    .ord .hide-no-offer{
        display: unset;
    }
</style>

<div>
    <div id="imageGalleryKomponent">
        <br>
        <div id="addNewImageOnOfferOrd" class="hide-no-offer">
            <form id="imageGalleryForm" class="checkUpdate">
                <input type="file" name="files[]" multiple class="" id="addFiles">
                <input type="submit" value="Upload" name="upload">
            </form>
        </div>
        <div id="gallery" data-resourcetype="collection" class="checkUpdate">
            <% gallery = JSON.parse(attributes.meta_val); %>
            <ul class="mt-4 imageList" style="list-style-type: none;">
                <% for(let img of gallery) { %>
                <% console.log(img); %>
                <li class="card">
                    <img class="img-fluid mx-auto d-block" src="<%=img.tnp%>" data-fp="<%=img.fp%>" data-lbl="<%=img.lbl%>" style="max-width: 100%; height: 200px">
                    <br>
                    <span class="lbl"><%=img.lbl%></span>
                    <br>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>

<script>

    function init_komponent(k) {

        checkUserRights(k.$el, "orders");

        console.log("asdasdasd", k.data.instance);
        let orderId = k.data.instance.relationships.order.id;
        console.log(orderId);


        let instanceForHide = $("#addNewImageOnOfferOrd").apiator({returninstance: true, resourcetype: "item", url: apiRoot + "/orders/" + orderId});
        instanceForHide.loadFromRemote().then(function () {
            console.log(instanceForHide.attributes.state);
            k.$el.addClass(instanceForHide.attributes.state);
        });
        // update imageList
        const updateSortable = function (e) {
            let upd = [];
            $(e.target).find("li>img").each(function () {
                upd.push({
                    tnp: $(this).attr("src"),
                    fp: $(this).data("fp"),
                    lbl: $(this).data("lbl"),
                });
            });
            galInst.items[0].update({meta_val:JSON.stringify(upd)}).then(function () {
                // DO NOT DELETE - needed cause update rebuilds the list
                setSortable();
            })
        }

        // add sortable to imageList
        const setSortable = function () {
            $("#imageGalleryKomponent").find("ul")
                .sortable({ delay:100, update: updateSortable});
        }

        const galInst = k.$el.find("#gallery")
            .apiator({returninstance:true})
            .setUrl(apiRoot + "/catalog/" + k.data.instance.attributes.cat_id + "/catalog_meta/?filter=meta_key=Gallery");

        galInst.loadFromRemote().then(function () {
            let node = k.$el.find("#gallery");
            if(!node.hasClass("updateAllow")) {
                node.removeClass("checkUpdate");
            } else {
                setSortable();
            }

        }).catch(function(data){
            komponentor.intent("/common/errormodal").data({
                body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
            }).send();
        });

        let form = $("#imageGalleryForm")[0];
        const util = galInst.getUtilities();

        util.captureFormSubmit(form, function (data) {
            let formData = new FormData();
            let $files = form["files[]"];
            for (var index = 0; index < $files.files.length; index++) {
                formData.append("files[]", $files.files[index]);
            }
            $.ajax({
                url : fileApiUrl + "/files",
                type : 'POST',
                data : formData,
                headers: { 'Access-Control-Allow-Origin': fileApiUrl.split(".")[0] + "." },
                processData: false,
                contentType: false,
                success : function(data) {
                    let imageList = galInst.items.length ? JSON.parse(galInst.items[0].attributes.meta_val) : [];

                    data.data.forEach(function (img) {
                        imageList.push({
                            fp: fileApiUrl + "/files/" + img.id,
                            tnp: fileApiUrl + "/files/" + img.id + "/1",
                            lbl: ""
                        });
                    });

                    let p = galInst.items.length
                        ? galInst.items[0].update({meta_val:JSON.stringify(imageList)})
                        : galInst.append({meta_key:"Gallery",meta_val:JSON.stringify(imageList)})
                    p.then(function (data) {
                        setSortable();
                    })
                    .catch(function(data){
                        komponentor.intent("/common/errormodal").data({
                            body: "A aparut o eroare: <pre>"+data.jqXHR.responseText+"</pre>"
                        }).send();
                    });
                }
            });
        });

    }

</script>