<style>

    .order-summary-table {
        width: 100%;
        border-collapse: separate;
        -webkit-border-vertical-spacing: 10px;
    }
    .order-summary-table tr {
        margin-bottom: 5px;
    }
    .order-summary-table td {
        border-bottom: solid #e6e6e6 1px;
        padding: 5px;
        margin-bottom: 5px;
    }
    .order-summary-table td:first-child {
        font-weight: bold;
        background: #E6E6E6;

    }
    .bg-light-me {
        background-color: #d6d6d6 !important
    }
    a.bg-light-me:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus {
        background-color: #d5d5d5 !important
    }
    .employeeIconDelete {
        display: none;
        cursor: pointer;

    }
    .employee:hover {
        box-shadow:0 0.1rem 0.5rem rgba(0,0,0,0.15) !important;
        position: relative;
        top: 0.2rem;
        left: 0.2rem;
    }
    .employee:hover .employeeIconDelete {
        display: inline-block;
    }

    .hide-on-edit .employee:hover .employeeIcon {
        display: inline-block;
    }

    .employee:hover .employeeIcon {
        display: none;
    }

    .employeeName {
        font-weight: bold;
        cursor: pointer;
    }

    .doc_id0 .notA000 {
        display: none;
    }

</style>

<div class="checkRequired modal" data-module="orders" data-level="1">
    <div class="" id="order_details_modal">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header" style="display: flex; align-items: center">
                    <div class="modal-title">
                        Fisa comanda
                    </div>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a data-toggle="tab" href="#sumar" class="nav-link" id="sumarTab">Sumar</a>
                        </li>
                        <li class="nav-item notA000">
                            <a data-toggle="tab" href="#reperePanel" class="nav-link" id="repereTab">Continut</a>
                        </li>
                        <li class="nav-item notA000">
                            <a data-toggle="tab" href="#ordersCostsPanel" class="nav-link" id="orderItemsTab">Costuri</a>
                        </li>
                        <li class="nav-item notA000">
                            <a data-toggle="tab" href="#documentePanel" class="nav-link" id="documenteTab">Documente</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="tab" href="#resursePanel" class="nav-link" id="allocResTab">Resurse</a>
                        </li>
                        <li class="nav-item" id="pontajTabFromOrder">
                            <a data-toggle="tab" href="#pontajPanel" class="nav-link" id="timeTrackTab">Pontaj</a>
                        </li>
                        <li class="nav-item notA000">
                            <a data-toggle="tab" href="#deliveriesPanel" class="nav-link" id="deliveriesTab">Livrari</a>
                        </li>
                        <li class="nav-item notA000">
                            <a data-toggle="tab" href="#reportsPanel" class="nav-link" id="reportsTab">Rapoarte</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-body bg-white">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="sumar" is="komponent" data-url="/views/orders/details"></div>
                        <div class="tab-pane fade" id="reperePanel">
                            <div is="komponent" data-url="/views/orders/partsGallery" id="repere"></div>
                        </div>
                        <div class="tab-pane fade" id="documentePanel">
                            <div is="komponent" data-url="/views/orders/orderDocuments" id="documents"></div>
                        </div>
                        <div class="tab-pane fade" id="ordersCostsPanel">
                            <div is="komponent" data-url="/views/orders/orderCosts" id="ordersCosts"></div>
                        </div>
                        <div class="tab-pane fade included" id="pontajPanel" is="komponent" data-url="/views/pontaj/registru"></div>
                        <div class="tab-pane fade" id="deliveriesPanel">
                            <div is="komponent" data-url="/views/deliveries/list" id="livrari"></div>
                        </div>
                        <div class="tab-pane fade" id="proprietati" is="komponent" data-url="/views/orders/orderDetails"></div>

                        <div class="tab-pane fade" id="resursePanel">
                            <div is="komponent" data-url="/views/orders/orderEmployees" id="resurse"></div>
                        </div>
                        <div class="tab-pane fade" id="reportsPanel">
                            <div is="komponent" data-url="/views/reports/report_order_workedhours" id="reports"></div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function init_komponent(k,d) {

        let source = k.data.source ? k.data.source : "orders";

        k.$el.appendTo("body");

        $(k.$el.filter(".modal"))
            .modal("show")
            .on("hidden.bs.modal",function () {
                k.$el.remove();
            });



        if(!k.data.instance && !k.data.orderId) {
            return;
        }

        if(k.data.instance) {
            load_order();
        }


        if(!k.data.instance && k.data.orderId) {
            k.data.instance = $("<span>").apiator({resourcetype:"item",returninstance:true});
            k.data.instance.setUrl(apiRoot+"/orders/"+k.data.orderId)
                .loadFromRemote()
                .then(function () {
                    load_order();
                })
                .catch(function (resp) {
                    komponentor.intent("/common/errormodal").data({body: "Eroare: <pre>" + resp.jqXHR.responseText + "</pre>"}).send();
                });
        }

        if(!k.data.instance && !k.data.orderId) throw "No order selected";

        function load_order() {

            k.$el.addClass("doc_id" + k.data.instance.relationships.doc_id.id);

            k.$el.appendTo("body");

            $(k.$el.filter("#order_details_modal"))
                .modal("show")
                .on("hidden.bs.modal",function () {
                    k.$el.remove();
                });
            let instanceDeliveries;
            let instanceOtD = $("<span>").apiator({url: apiRoot + "/order_to_delivery/?filter=oid=" + k.data.instance.id, resourcetype: "collection", returninstance: true});
            instanceOtD.loadFromRemote().then(function () {
                let strDeliveries = "";
                instanceOtD.items.forEach(item => {
                    strDeliveries += "(id=" + item.attributes.did + ")||"
                });
                if (strDeliveries.length >= 1){
                    strDeliveries = strDeliveries.substr(0, strDeliveries.length - 2);
                } else {
                    strDeliveries = "(id=null)";
                }
                instanceDeliveries = $("<span>").apiator({resourcetype: "collection", returninstance: true});
                $("#livrari").komponent({data:apiRoot + "/deliveries/?filter_advanced=" + encodeURIComponent(strDeliveries)});
                // instanceDeliveries.setUrl(apiRoot + "/deliveries/?filter_advanced=" + encodeURIComponent(strDeliveries)).loadFromRemote().then(function () {
                // });

            });
            k.updateMe = function (msg) {
                console.log(msg)
            }
            let childKomponents = [];

            // console.log(k);

            $("#ordersCosts").komponent({data:k.data});
            $("#repere").komponent({data:k.data});
            $("#sumar").komponent({data:k.data,parent:k}).then(function (newK){
                childKomponents.push(newK);
            });
            if (source !== "pontaj") {
                $("#pontajPanel").komponent({data:k.data});
            } else {
                $("#pontajTabFromOrder").remove();
            }
            $("#proprietati").komponent({data:k.data});
            $("#resurse").komponent({data:k.data});
            $("#reports").komponent({data:k.data});
            $("#documents").komponent({data:k.data});

            $("#sumarTab").tab("show");
        }

    }
</script>
