<style>
    .order-summary-table{
        width: 100%;
        border-collapse: separate;
        -webkit-border-vertical-spacing: 10px;
    }
    .order-summary-table tr{
        margin-bottom: 5px;
    }
    .order-summary-table td{
        border-bottom: solid #e6e6e6 1px;
        padding: 5px;
        margin-bottom: 5px;
    }
    .order-summary-table td:first-child{
        font-weight: bold;
        background: #E6E6E6;

    }
    .bg-light-me{
        background-color: #d6d6d6 !important
    }
    a.bg-light-me:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus{
        background-color: #d5d5d5 !important
    }
    .employeeIconDelete {
        display: none;
        cursor: pointer;

    }
    .employee:hover {
        box-shadow:0 0.1rem 0.5rem rgba(0,0,0,0.15) !important;
        position: relative;
        top: 0.2rem;
        left: 0.2rem;
    }
    .employee:hover .employeeIconDelete{
        display: inline-block;
    }
    .employee:hover .employeeIcon{
        display: none;
    }
    .employeeName{
        font-weight: bold;
        cursor: pointer;
    }

</style>



<div class="modal" id="order_details_modal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="display: flex; align-items: center">
                <div class="modal-title">
                    Fisa comanda
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a data-toggle="tab" href="#sumar" class="nav-link" id="sumarTab">Sumar</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#reperePanel" class="nav-link" id="repereTab">Continut</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#ordersCostsPanel" class="nav-link" id="orderItemsTab">Elemente de cost</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#resurse" class="nav-link" id="allocResTab">Resurse alocate</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#pontaj" class="nav-link" id="timeTrackTab">Pontaj</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#deliveries" class="nav-link" id="deliveriesTab">Livrari</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#proprietati" class="nav-link" id="metaTab">Proprietati</a>
                    </li>

                </ul>
            </div>
            <div class="modal-body bg-white">
                <div class="tab-content">
                    <!--// sumar-->
                    <div class="tab-pane fade" id="sumar" is="komponent" data-url="/views/orders/details" ></div>

                    <!--// resurse-->
                    <div class="tab-pane fade" id="resurse">
                        <button class="btn btn-primary" id="allocateEmpl"><i class="fa fa-user-plus"></i> Adauga</button>
                        <hr>
                        <div class="row" id="allocatedEmployees">
                            <div class="col-3 mb-4 ">
                                <div class="employee shadow bg-light-me rounded p-2" >
                                    <button class="btn employeeIcon rounded-circle bg-primary text-center float-left p-1 mr-2"
                                            style="width: 50px; height: 50px; color: white; font-size: 25px">
                                        <i class="fa fa-user"></i>
                                    </button>
                                    <button class="employeeIconDelete btn rounded-circle bg-danger text-center float-left p-1 mr-2" onclick="remove_employee_from_order(this)"
                                            style="width: 50px; height: 50px; color: white; font-size: 25px">
                                        <i class="fa fa-user-minus"></i>
                                    </button>
                                    <span class="employeeName" onclick="edit_employee_association(this)">
                                        <%= relationships.emplid.attributes.fname+" "+relationships.emplid.attributes.lname %>
                                    </span><br>
                                    <%= relationships.operation.attributes.name %>
                                    <div style="clear: left"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--// sumar-->
                    <div class="tab-pane fade" id="reperePanel">
                        <div is="komponent" data-url="/views/orders/partsGallery" id="repere"></div>
                    </div>

                    <div class="tab-pane fade" id="ordersCostsPanel">
                        <div is="komponent" data-url="/views/orders/orderCosts" id="ordersCosts"></div>

                    </div>
                    <div class="tab-pane fade" id="pontaj" is="komponent" data-url="/views/pontaj/lista">
                        Pontaj
                    </div>
                    <div class="tab-pane fade" id="deliveriesContent" is="komponent" data-url="/views/pontaj/deliveries">
                        Deliveries
                    </div>
                    <div class="tab-pane fade" id="proprietati" is="komponent" data-url="/views/orders/orderDetails">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>

<script>
    function remove_employee_from_order(src) {
        let emplid = ($(src).data("instance")).relationships.emplid;
        komponentor.intent("/common/messagemodal").data({
            body: "Sigur vrei sa dealoci angajatul <br><strong>"+ emplid.attributes.fname + " " + emplid.attributes.lname + "</strong>",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        $(src).data('instance').delete().then(()=>{console.log("ok",arguments)}).catch(function(data){
                            console.log(data);
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
    }

    function edit_employee_association(src) {
        komponentor.intent("/views/orders/assign_empl").data({instance: $(src).data("instance")}).send();
    }

    function init_komponent(k,d) {
        k.$el.appendTo("body");

        let url = apiRoot+"/orders/"+k.data.instance.id+"/orders_2_employees?include=emplid,operation&page[orders_2_employees][limit]=100";
        try {
            let allocatedEmployees = $("#allocatedEmployees")
                .apiator({url: url, type: "orders_2_employees", resourcetype: "collection"})
                .data("instance");

            $("#allocateEmpl").on("click",function () {
                komponentor.intent("/views/orders/assign_empl").data({instance: allocatedEmployees}).send();
            });
        }
        catch (e) {
            console.log("//////////",e);
        }

        let modal = $(k.$el.filter("#order_details_modal")).modal("show")
            .on("hidden.bs.modal",function () {
                k.$el.remove();
            });

        $("#ordersCosts").komponent({data:k.data});
        $("#repere").komponent({data:k.data});
        $("#sumar").komponent({data:k.data});
        $("#pontaj").komponent({data:k.data});
        $("#proprietati").komponent({data:k.data});



        $("#sumarTab").tab("show");
        // console.log($("#comandaid").text(k.data.instance.id).text());
    }
</script>
