<style>
    #orderPartForm .row>div{
        padding: 5px;
    }
    #orderPartForm .row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }
    #orderPartForm .row>div:nth-child(2){
        padding: 10px;
    }
    #orderPartForm .row{
        border-bottom: silver solid 1px;
    }
    #orderPartForm .row>div:nth-child(3) {
        display: none;
    }
    #orderPartForm.editMode>div>.row>div:nth-child(2) {
        display: none;
    }
    #orderPartForm.editMode>div>.row>div:nth-child(3) {
        display: inline-block;
    }
    .btn.btn-save{
        display: none;
    }
    .editMode .btn.btn-edit{
        display: none;
    }
    .editMode .btn.btn-delete{
        display: none;
    }
    .editMode .btn.btn-save{
        display: inline-block;
    }
    .editMode .hide-on-edit{
        display: none;
    }
    .hide-on-view{
        display: none;
    }
    .editMode .hide-on-view{
        display: flex;
    }

</style>

<div class="modal" id="orderPartModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Element de comanda
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a data-toggle="tab" href="#sumarRepere" class="nav-link" id="sumarReperePanel">Sumar</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#galleryPanel" class="nav-link" id="galleryTab">Galerie</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#detaliiPanel" class="nav-link" id="detaliiPanelTab">Detalii</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body bg-light">
                <div class="tab-content">
                    <div class="tab-pane fade" id="sumarRepere">
                        <form id="orderPartForm">
                            <div id="orderPart">
                                <div class="row hide-on-edit">
                                    <div class="col-3">Id</div>
                                    <div class="col-9"><%= attributes.id %></div>
                                    <div class="col-9"><input name="id" class="form-control form-control-sm" type="text"></div>
                                </div>
                                <div class="row hide-on-edit">
                                    <div class="col-3">Denumire</div>
                                    <div class="col-9"><%= attributes.name %></div>
                                    <div class="col-9"><input name="name" class="form-control form-control-sm" type="text"></div>
                                </div>
                                <div class="row">
                                    <div class="col-3">Cantitate comanda</div>
                                    <div class="col-9"><%= attributes.qty %> bucati</div>
                                    <div class="col-9"><input name="qty" class="form-control form-control-sm" type="text"></div>
                                </div>
                                <div class="row">
                                    <div class="col-3">Pret unitar</div>
                                    <div class="col-1"><%= attributes.unit_price %> <%= attributes.currency %></div>
                                    <div class="col-9"><input name="unit_price" class="form-control form-control-sm" type="text"></div>
                                </div>
                                <div class="row hide-on-view">
                                    <div class="col-3">Moneda</div>
                                    <div class="col-1"><%= attributes.currency %></div>
                                    <div class="col-9">
                                        <label></label>
                                        <select id="currencySelect" class="form-control form-control-sm custom-select custom-select-sm" name="currency" style="width: 100%"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <button class="btn btn-warning btn-save" type="submit">Salveaza</button>
                                <button class="btn btn-secondary btn-save" type="button" id="cancelButton">Renunta</button>
                                <button class="btn btn-success btn-edit" type="button">Editeaza</button>
                                <button class="btn btn-danger btn-delete" data-dismiss="modal" type="button">Sterge</button>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="galleryPanel">
                        <div is="komponent" data-url="/views/orders/imageGallery" id="imageGallery"></div>
                    </div>

                    <div class="tab-pane fade" id="detaliiPanel">
                        <div is="komponent" data-url="/views/orders/partDetails" id="partDetails"></div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>

<script>

    function init_komponent(k) {

        function editMode() {
            // set form to edit mode
            $('#orderPartForm').addClass('editMode');

            let form = $("#orderPartForm")[0];
            let util = instance.getUtilities();

            form.reset();

            util.captureFormSubmit(form, function (data) {
                if (data.id !== "") {
                    let updateCopy = {...instance.updateUrl};
                    updateCopy.path = updateCopy.path.replace("orders_items_wmeta", "orders_items");
                    instance.setUrl({updateUrl: updateCopy});
                    instance.type = "orders_items";
                    console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1",data)
                    instance.update(data)
                        .then(function () {
                            $('#orderPartForm').removeClass('editMode');
                            instance.type = "orders_items_wmeta";
                            instance.loadFromRemote();
                        })
                        .catch(function (jqxhr) {
                            if (jqxhr.errorThrown==="Conflict") {
                                komponentor.intent("/common/errormodal").data({
                                    body: "Card-ul este asociat cu alt angajat.<br> Pentru a il asociat cu acest angajat, mai intai trebuie sa il dezasociati."
                                }).send();
                            }
                            console.log(jqxhr);
                        });
                }
                // instance is item
                else {
                    instance.createItem(data).then(function () {
                        $("#cancelButton").click();
                    });
                }
            });

            util.fillForm(form, instance);

            let option = document.createElement("option");
            option.value = instance.attributes.currency;
            option.text = instance.attributes.currency;

            $("#orderPartModal").find("#currencySelect").append(option).select2wrapper({
                url: apiRoot + "/currencies",
                labelfld: function (item) {
                    return item.attributes.id;
                },
                idfld: function (item) {
                    return item.attributes.id;
                },
            });

        }

        //
        function deleteOrderPart() {

            let bodyQuery = "Esti sigur ca vrei sa stergi parte din comanda?";
            let bodyData = "<br><strong>" + instance.attributes.partid + ' - ' + instance.attributes.name + "</strong>";

            komponentor.intent("/common/messagemodal").data({
                body: bodyQuery + bodyData,
                buttons: [
                    {
                        label: "Da",
                        class: "btn-danger",
                        attrs: {
                            "data-dismiss":"modal"
                        },
                        callback: function () {
                            let deleteCopy = {...instance.deleteUrl};
                            deleteCopy.path = deleteCopy.path.replace("orders_items_wmeta", "orders_items");
                            instance.setUrl({deleteUrl: deleteCopy});
                            instance.delete().then(() => { console.log("ok", arguments) })
                            .catch( function(data) {
                                komponentor.intent("/common/errormodal").data({
                                    body: "A aparut o eroare:<pre>"+JSON.stringify(data.jqXHR.responseText)+"</pre>"
                                }).send();
                            });
                        }
                    },
                    {
                        label: "Nu",
                        class: "btn-secondary",
                        attrs: {
                            "data-dismiss":"modal"
                        }
                    }
                ]
            }).send().then(function () {
                // instance.loadFromRemote();
            });
        }

        if(!k.data || !k.data.instance) {
            return;
        }
        //
        let instance = k.data.instance;
        let $modal = k.$el.appendTo("body")
            .filter(".modal")
            .on("hidden.bs.modal", function () {
                k.$el.remove();
            })
            .modal("show");
        //
        $modal.find(".btn-edit").off().on("click", editMode);
        $modal.find(".btn-delete").off().on("click", deleteOrderPart);
        $modal.find("#cancelButton").off().on("click", function (e) {
            if (e.target.form.id.value !== "") {
                $('#orderPartForm').removeClass('editMode');
                return;
            }
        });

        instance.bindView("#orderPart").loadFromRemote().then(function () {
            $("#sumarReperePanel").tab("show");
        });

        $("#imageGallery").komponent({data:k.data});
        $("#partDetails").komponent({data:k.data});


    }

</script>

