<style>
    @media print {
        body * {
            visibility: hidden;
        }
        #partsTable * {
            visibility: visible;
        }
        #partsTable {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
</style>


<table class="table" id="partsTable">
    <thead class="thead-light">
    <tr>
        <th>
            Denumire
            <input type="text" class="form-control form-control-sm">
        </th>
        <th class="align-top">
            Cantitate
        </th>
        <th class="align-top">
            Pret Unitar
        </th>
        <th class="align-top">
        Total</th>
    </tr>
    </thead>
    <tbody id="orderPartsList">
    <tr>
        <td><%= attributes.name %></td>
        <td><%= Math.round(attributes.qty*100)/100+"/"+attributes.um %></td>
        <td><%= attributes.unit_price + "" + attributes.currency %></td>
        <td><%= Math.round(attributes.unit_price*attributes.qty*100)/100 + "" + attributes.currency %></td>
        <td>
<!--            <svg class="barcode"-->
<!--                 jsbarcode-format="upc"-->
<!--                 jsbarcode-value="asdas"-->
<!--                 jsbarcode-textmargin="0"-->
<!--                 jsbarcode-fontoptions="bold"></svg>-->
            <svg class="barcode" jsbarcode-height="50"
                 jsbarcode-value="<%= attributes.partid %>"
                 jsbarcode-textmargin="0"
                 jsbarcode-fontoptions="bold">
            </svg>
            </td>
        <td><%= attributes.design %></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4"></td>
    </tr>
    </tfoot>
</table>
<script>
    function init_komponent(k) {
        $("#orderPartsList").apiator({
            type: "inventory",
            resourcetype: "collection"
        }).data("instance").setUrl(apiRoot+"/orders/"+k.data.orderId+"/orders_items_wmeta").loadFromRemote().then(function () {
            JsBarcode(".barcode").init();
        });

    }
</script>