<style>

    #orderPartsList{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    .btn input{
        width: 60px;
        padding: 0px;
        font-size: 0.9em;
    }

    #orderPartsListFilter{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background: #212529;
        margin-bottom: 5px;
        padding: 5px;
    }
    #orderPartsListFilter>div{
        flex: 0 0 auto;
        padding: .75rem;
    }
    #orderPartsListFilter:nth-child(1){
        flex: 1 0 60%;
    }

    #orderPartsList>li{
        box-shadow: silver 2px 2px 2px;
        background: #f5f5f5;
        margin-bottom: 5px;
        padding: 5px;
        cursor: pointer;
    }
    #orderPartsList:not(.grid_4)>li{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #orderPartsList>li:hover{
        color: #212529;
        background-color: rgba(0,0,0,.075);
    }
    #orderPartsList:not(.grid_4)>li>span{
        flex-grow: 1;
        flex-basis: 15%;
        padding-left: .75rem;
        /*margin: 10px;*/
    }
    #orderPartsList:not(.grid_4)>li>div>img {
        visibility: hidden;
        position: absolute;
    }

    #orderPartsList>li>span.name{
        flex: 1 0 60%;
    }

    #orderPartsList>li>span:last-child{
        text-align: right;
    }

    .grid_4 {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: .5rem;
        align-content: space-evenly;
        justify-content: space-between;
        text-align: center;
    }
    .grid_4>li>span.count {
        display: none;
    }

    .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 1rem; }
    .toggle.ios .toggle-handle { border-radius: 1rem; }

</style>

<div>
    <div id="orderPartsMe" class="checkRead">
        <form id="orderPartsForm">
            <button type="submit" class="d-none" id="filterSubmitBtn"></button>
        </form>
        <div id="orderPartsListFilter">
            <div class="align-top" style="width: 100px">
                <a class="text-white" data-sortfld="partid">Part id
                    <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i>
                </a>
                <input type="text" name="partid" class="form-control-sm form-control" form="orderPartsForm" data-operator="~=~">
            </div>
            <div class="align-top">
                <a class="text-white" data-sortfld="name">Denumire
                    <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i>
                </a>
                <input type="text" name="name" class="form-control-sm form-control" form="orderPartsForm" data-operator="~=~">
            </div>
            <div class="align-top">
                <a class="text-white" data-sortfld="design">Cod desen
                    <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i>
                </a>
                <input type="text" name="design" class="form-control-sm form-control" form="orderPartsForm" data-operator="~=~">
            </div>
            <div>

            </div>
            <div>
                <input type="checkbox" id="viewToggle" checked data-toggle="toggle" data-style="ios" data-size="sm">
            </div>
            <div>
                <div class="float-sm-right">
                    <button onclick="newOrderPart()" type="button" data-toggle="tooltip" title="Adauga reper" data-placement="bottom" class="btn-shadow mr-3 btn btn-primary checkUpdate">
                        Adauga reper
                    </button>
                </div>
            </div>
        </div>
        <ul class="grid_4" id="orderPartsList"
            data-filter="#orderPartsForm"
            data-sort="#orderPartsListFilter"
            data-paging="#orderPartsPaging"
            data-pagesizeinp="#orderPartsPageSizeInp">

            <li onclick="orderPartModal(this)">
                <% let tn = "assets/images/spaleck.png"; %>
                <% if(attributes.gallery != null && attributes.gallery != {}) {  %>
                <% try { let gallery = JSON.parse(attributes.gallery); tn = gallery[0].tnp; } catch (err) {}%>
                <% }%>
                <div class="">
                    <img src="<%=tn%>" class="img-thumbnail img-fluid rounded mx-auto d-block" style="max-width: 200px; max-height: 150px">
                </div>
                <span class="partid"><%= attributes.partid %></span>
                <br>
                <span class="name"><%= attributes.name %></span>
                <span class="count"><%= attributes.qty %> bucati</span>

            </li>
        </ul>

        <div class="card-footer">
            <div class="btn-group"  id="orderPartsPaging" data-pagesize="10">
                <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
            </div>
            <select id="orderPartsPageSizeInp">
                <option></option>
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>75</option>
            </select> inregistrari pe pagina
        </div>

    </div>
</div>

<script>

    function newOrderPart() {

        let insertCopy = {...$("#orderPartsList").data("instance").insertUrl};
        insertCopy.path = insertCopy.path.replace("orders_items_wmeta", "orders_items");
        $("#orderPartsList").data("instance").insertUrl = insertCopy;

        komponentor.intent("/common/formmodal").data({
            callback:function (data) {
                $("#orderPartsList").data("instance").createItem(data).then().catch(function (data) {
                        komponentor.intent("/common/errormodal").data({
                            body: "A aparut o eroare: <pre>" + (data.jqXHR.responseText) + "</pre>"
                        }).send();
                    });
                },
            title:"Adauga Reper Nou",
            fields:[
                {type:"text", name: "name", default: "", placeholder: "", label: "Denumire", options:[]},
                {type:"number", name: "qty", default: "0", placeholder: "", label: "Cantitate comanda", options:[]},
                {type:"number", name: "unit_price", default: "0", placeholder: "", label: "Pret unitar", options:[]},
                {type:"select", name: "currency", label: "Moneda", url: "/currencies", labelfnc: "id", idfnc: "id"},
                {type:"select", name: "unit", label: "Unitate de masura", url: "/units", labelfnc: "unit", idfnc: "unit"}
            ]
        }).send();
    }

    function orderPartModal(src) {

        if($(src).data("locked")) {
            return;
        }

        $(src).data("locked",true);

        komponentor.intent('/views/orders/orderPart')
            .data({instance:$(src).data('instance')})
            .send().finally(()=>$(src).data("locked",null));

    }

    function toggleSwitch() {

        let $toggle = $("#orderPartsList");
        if ($toggle.hasClass("grid_4")) {
            $toggle.removeClass("grid_4");
        } else {
            $toggle.addClass("grid_4");
        }

    }

    function init_komponent(k) {

        checkUserRights(k.$el, "orders")

        let instance = $("#orderPartsList").apiator({
            type: "orders_items_wmeta",
            resourcetype: "collection"
        }).data("instance");

        instance.setUrl(apiRoot+"/orders/"+k.data.instance.id+"/orders_items_wmeta?page[orders_items_wmeta][limit]=1000&page[orders_items_wmeta][limit]=8")
            .loadFromRemote()
            .then(function () {
                console.log(instance);
                $("#orderPartsListFilter").find("#viewToggle").bootstrapToggle().change(toggleSwitch);

                let submitBtn = $("#orderPartsForm").find("#filterSubmitBtn");
                $("#orderPartsListFilter").find("input").on("input",function () {
                    submitBtn.click();
                });
            });



    }

</script>

