<div data-resourcetype="item" data-type="item">
    <form id="customerDataForm"></form>
    <div class="alert alert-success d-none" role="alert" id="insertJobSuccessAlert">
        Datele au fost salvate cu succes!
    </div>

    <div class="alert alert-danger d-none" role="alert" id="insertJobServerErrorAlert">
        A aparut o eroare la salvare
        <button type="button" class="close" aria-label="Close" onclick="$(this).parent().addClass('d-none')">
            <span aria-hidden="true">&times;</span>
        </button>
        <pre class="errorMsg bg-light border border-focus mt-2 p-3 rounded"></pre>
        <button class="btn btn-primary" onclick="komponentor.intent('/common/report').send({data:$(this).prev().data('error')})">Raporteaza eroare</button>
    </div>

    <div class="form-row">
        <div class="form-group col-3">
            <label for="nameInput">ID</label>
            <input form="customerDataForm" id="idInput" name="id" class="form-control form-control-sm" type="number" required="">
            <div class="invalid-feedback"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <label for="nameInput">Denumire</label>
            <input form="customerDataForm" type="text" maxlength="155" id="nameInput" name="name" class="form-control form-control-sm" required="">
            <div class="invalid-feedback"></div>
        </div>
    </div>
    <button type="submit" form="customerDataForm">Save</button>
</div>