<style>

    #productListHeader a{
        cursor: pointer;
    }

</style>

<div class="container-fluid">
    <div id="newComponent">
        <button type="button" aria-haspopup="true" aria-expanded="false" class="mb-2 mr-2 btn btn-primary checkUpdate" id="newComponentButton">Componenta noua</button>
    </div>

    <div class="recipeTable">
        <table class="table table-hover table-striped">
            <thead class="thead-dark" id="productListHeader">
                <tr>
                    <th class="align-top" style="width: 100px">Nr. crt.</th>
                    <th class="align-top">Nume</th>
                    <th class="align-top">Tip</th>
                    <th class="align-top">Unitate</th>
                    <th class="align-top">Pret</th>
                </tr>
            </thead>
            <tbody id="recipeList" data-resourcetype="collection">
                <tr>
                    <td><%= id %></td>
                    <td><%= attributes.name %></td>
                    <td><%= attributes.type %></td>
                    <td><%= attributes.unit %></td>
                    <td><%= attributes.unit_price ? attributes.unit_price : "-" %> <%= attributes.currency !== null ? attributes.currency : "" %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

    function init_komponent(k) {

        checkUserRights(k.$el, "catalog");

        let instance_recipes = $("#recipeList").apiator({url: apiRoot + "/recipes_expanded?filter=parent_id=" + k.data.instance.id, returninstance: true});
        let formData;
        let instance = $("<span></span>").apiator({returninstance: true, resourcetype: "collection"}).setUrl(apiRoot+"/recipes");

        formData = {
            callback: function (data) {
                data.parent_id = k.data.instance.id;
                if (data.component_id === null || data.qty === "") {
                    komponentor.intent("/common/errormodal").data({
                        body: "Cantitatea si componenta sunt necesare."
                    }).send();
                    return 1;
                }
                instance.createItem(data).then(function () {
                    instance_recipes.loadFromRemote();
                }).catch(function(data){
                    komponentor.intent("/common/errormodal").data({
                        body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                    }).send();
                });

                // k.data.instance.view.el.children().last().fadeIn(500)[0].scrollIntoView();
            },
            title:"Adauga Comanda Noua",
            fields: [
                {
                    label: "Cantitate",
                    type: "number",
                    name: "qty",
                },
                {
                    label: "Componenta",
                    type: "select",
                    name: "component_id",
                    url: "/catalog",
                    labelfnc: "name",
                    idfnc: "id"
                },
            ]
        }

        k.$el.find("#newComponentButton").on("click", function () {
            komponentor.intent("/common/formmodal").data(formData).send();
        });
    }

</script>