<div class="modal" id="jobModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body bg-light">
        <div class="card">
          <div class="card-header-tab card-header-tab-animation card-header">
            <div class="card-header-title">
              <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"></i>
              Detalii Produs <span id="jobid"></span>
              <span style="position: absolute; right: 50px; cursor: pointer" id="closeModal">X</span>
            </div>
          </div>
          <div class="card-body" style="min-height: 200px">
            <div id="updateProductModal" is="komponent" data-url="/views/products/details"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  function init_komponent(k){
    k.hideModal = function() {
      $modal.modal("hide");
    };
    let $modal = k.$el.appendTo("body")
            .filter(".modal")
            .on("hidden.bs.modal",function (event) {
              k.$el.remove();
            });

    k.$el.find("#updateProductModal")
            .komponent({
              data: {
                instance: k.data.instance,
              },
              parent: k
            })
            .then(function (d) {
              $modal.modal();
            });
    $("#closeModal").on("click", function () {
      k.hideModal();
    });
  }
</script>