<style>

    #teamEditDiv>.row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }
    #teamEditDiv>.row>div:nth-child(2){
         padding: 10px;
    }
    #teamEditDiv>.row>div:nth-child(3) {
        display: none;
    }
    #teamEditDiv.editMode>.row>div:nth-child(2) {
        display: none;
    }
    #teamEditDiv.editMode>.row>div:nth-child(3) {
        display: inline-block;
    }
    #teamEditDiv>.row{
        border-bottom: silver solid 1px;
    }

    .dont-hide-on-edit, .editMode .hide-on-edit{
        display: none;
    }
    .editMode .dont-hide-on-edit {
        display: inline-block;
    }

</style>

<div class="checkRequired" data-module="teams" data-level="1">
    <form id="teamEditForm">
        <div class="content" id="teamEditDiv">
            <input type="number" name="tid" value="<%= id %>" style="display:none;">
            <div class="row">
                <div class="col-3">Team Name</div>
                <div class="col-9"><%= attributes.name %></div>
                <div class="col-9">
                    <input type="text" input="teamName" name="name" value="<%= attributes.name %>" class="form-control-sm form-control" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="col-3">Team Leader</div>
                <% if(relationships.teamlead) { %>
                    <div class="col-9"><a href="#" onclick="event.preventDefault(); goToTeamlead(this);"><%= relationships.teamlead.attributes.fname + " " + relationships.teamlead.attributes.lname%></a></div>
                <% } else { %>
                    <div class="col-9">-</div>
                <% } %>
                <div class="col-9">
                    <select name="teamlead" id="selectLead">
                        <option value="<%= relationships.teamlead ? relationships.teamlead.id : '' %>"><%= relationships.teamlead ? relationships.teamlead.attributes.fname : '-' %></option>
                    </select>
                </div>
            </div>
            <div class="mt-5" >
                <button class="btn btn-success dont-hide-on-edit btn-save" type="submit">Salveaza</button>
                <button class="btn btn-secondary dont-hide-on-edit btn-save" type="button" id="cancelButton" onclick="exitEditMode();">Renunta</button>
                <div class="row hide-on-edit">
                    &nbsp;
                    <button class="btn btn-warning btn-edit checkUpdate" onclick="editMode($(this).data('instance'))" type="button">Editeaza</button>
                    &nbsp;
                    <button class="btn btn-danger checkDelete" onclick="deleteEntry($(this).data('instance'))" data-dismiss="modal" type="button">Sterge</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    function goToTeamlead(src) {
        console.log("go to team lead", $(src).data().instance.relationships.teamlead);

        komponentor.intent("/views/employees/employee").data({emplId:$(src).data().instance.relationships.teamlead.id, source: "teamlead"})
            .send();
    }

    function exitEditMode() {
        $("#teamEditDiv").removeClass("editMode");
    }

    function deleteEntry(instance) {
        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa stergi echipa <br><strong>" + instance.attributes.name + "</strong>?",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        instance.delete().catch(function(data){
                            console.log(data);
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
    }

    function editMode(instance) {

        $("#selectLead").select2wrapper({
            url: apiRoot+"/teams/" + instance.id+"/employees",
            labelfld: function (item) {
                console.log(item)
                return item.attributes.fname + " " + item.attributes.lname;
            },
            idfld: function (item) {
                console.log(item.attributes);
                return item.attributes.id;
            },
            placeholder: "Team Leader"
        });

        $("#teamEditDiv").addClass("editMode");
        let form = $("#teamEditForm")[0];
        let util = instance.getUtilities();

        util.captureFormSubmit(form, function (data) {
            console.log(data);
            instance.update(data)
                .then( function () {
                    $("#teamEditDiv").removeClass("editMode");
                })
                .catch(function(data){
                    komponentor.intent("/common/errormodal").data({
                        body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                    }).send();
                });
        });
    }

    function init_komponent(k) {

        let teamDiv = $("#teamEditDiv");
        console.log("instasdasdasdasd", k.data.instance)
        k.data.instance.url.parameters.include = "teamlead";
        k.data.instance.bindView("#teamEditDiv").loadFromRemote();

    }
</script>