<style>
    #teamEditDiv>.row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }
    #teamEditDiv>.row>div:nth-child(2){
         padding: 10px;
    }
    #teamEditDiv>.row>div:nth-child(3) {
        display: none;
    }
    #teamEditDiv.editMode>.row>div:nth-child(2) {
        display: none;
    }
    #teamEditDiv.editMode>.row>div:nth-child(3) {
        display: inline-block;
    }
    #teamEditDiv>.row{
        border-bottom: silver solid 1px;
    }

    .btn-warning, .btn-secondary, .editMode .btn-success, .editMode .btn-danger{
        display: none;
    }
    .editMode .btn-warning,.editMode .btn-secondary, .btn-success, .btn-danger{
        display: block;
    }
</style>
<div>
<form id="teamEditForm">
    <div class="content" id="teamEditDiv">
        <input type="number" name="tid" value="<%= id %>" style="display:none;">
        <div class="row">
            <div class="col-3">Team Name</div>
            <div class="col-9"><%= attributes.name %></div>
            <div class="col-9">
                <input type="text" input="teamName" name="name" value="<%= attributes.name %>" class="form-control-sm form-control" autocomplete="off">
            </div>
        </div>
        <div class="row">
            <div class="col-3">Team Leader</div>
            <div class="col-9"><%= relationships.teamlead ? relationships.teamlead.attributes.fname : '-' %></div>
            <div class="col-9">
                <select name="teamlead" id="selectLead">
                    <option value="<%= relationships.teamlead ? relationships.teamlead.id : '' %>"><%= relationships.teamlead ? relationships.teamlead.attributes.fname : '-' %></option>
                </select>
            </div>
        </div>
        <div class="input-group mt-5">
            <button class="btn btn-warning btn-save" type="submit">Salveaza</button>
            <button class="btn btn-secondary btn-save" type="button" id="cancelButton" onclick="exitEditMode();">Renunta</button>
            <button class="btn btn-success btn-edit" onclick="editMode($(this).data('instance'))" type="button">Editeaza</button>
            <button class="btn btn-danger" onclick="deleteEntry($(this).data('instance'))" data-dismiss="modal" type="button">Sterge</button>
        </div>
    </div>
</form>
</div>
<script>
    function exitEditMode(){
        $("#teamEditDiv").removeClass("editMode");
    }

    function deleteEntry(instance) {
        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa stergi echipa <br><strong>" + instance.attributes.name + "</strong>?",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss":"modal"
                    },
                    callback: function () {
                        instance.delete().catch(function(data){
                            console.log(data);
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+JSON.stringify(data.jqXHR.responseText)+"</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss":"modal"
                    }
                }
            ]
        }).send();
    }

    function editMode(instance) {

        $("#selectLead").select2wrapper({
            url: apiRoot+"/teams/" + instance.id+"/employees",
            labelfld: function (item) {
                return item.attributes.fname + " " + item.attributes.lname;
            },
            idfld: function (item) {
                console.log(item.attributes);
                return item.attributes.id;
            },
            placeholder: "Team Leader"
        });

        $("#teamEditDiv").addClass("editMode");
        let form = $("#teamEditForm")[0];
        let util = instance.getUtilities();

        util.captureFormSubmit(form, function (data) {
            console.log(data);
            instance.update(data)
                .then( function () {
                    $("#teamEditDiv").removeClass("editMode");
                })
                .catch(function (jqxhr){
                    komponentor.intent("/common/errormodal").data({
                        body: "Eroare la transferul de date catre Server."
                }).send();
                })
        });
    }

    function init_komponent(k){
        let teamDiv = $("#teamEditDiv");
        // let url = apiRoot + "/teams/" + k.data.filter[0].val+"?include=teamlead";
        console.log(k.data.instance)
        k.data.instance.url.parameters.include = "teamlead";
        k.data.instance.bindView("#teamEditDiv").loadFromRemote();

    }
</script>