<style>
    #filterEmployees{
        display: none;
    }
</style>
<div class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <span id="teamName" class="ml-2"><%=attributes.name%></span>
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a data-toggle="tab" href="#teamMembersPanel" class="nav-link active">Membrii echipei</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#tab2Content" class="nav-link">Comenzi</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body bg-light">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="teamMembersPanel">
                        <div is="komponent" id="teamMembersList" data-url="/views/employees/list"></div>
                    </div>
                    <div class="tab-pane" id="tab2Content" data-resourcetype="collection" role="tabpanel">
                        2
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>
<script>
    function init_komponent(k) {
        // console.log(data)
        let $modal =  k.$el.appendTo("body").filter(".modal").modal().on("hidden.bs.modal",function (event) {
            k.$el.remove();
        });
        k.data.instance.bindView($modal.find('.modal-title')).loadFromRemote();

        $("#teamMembersList").komponent({
            data: {filter: [{fld: 'team',val:k.data.instance.id,op:"="}]}
        })
        // console.log($modal);
        // k.exec = function (data) {
        //     $("#employeeModal .modal-title").html(data.instance.attributes.fname+' '+ data.instance.attributes.lname);
        //     $modal.modal("show");
        // }
    }
</script>
