<style>

    #filterEmployees {
        display: none;
    }

</style>

<div class="modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <span id="teamName" class="ml-2"><%=attributes.name%></span>
                </div>
                <ul class="nav nav-pills">

                    <li class="nav-item">
                        <a data-toggle="tab" href="#teamEditPanel" class="nav-link active">Echipa</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#teamMembersPanel" class="nav-link ">Membrii echipei</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#tab2Content" class="nav-link">Comenzi</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body bg-light">
                <div class="tab-content">
                    <div class="tab-pane " role="tabpanel" id="teamMembersPanel">
                        <div is="komponent" id="teamMembersList" data-url="/views/employees/list"></div>
                    </div>
                    <div class="tab-pane" id="tab2Content" data-resourcetype="collection" role="tabpanel">
                        <div is="komponent" id="teamOrders" data-url="/views/orders/ordersTable"></div>
                    </div>
                    <div class="tab-pane active" role="tabpanel" id="teamEditPanel">
                        <div is="komponent" id="editTeam" data-url="/views/teams/details"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>

<script>

    function init_komponent(k) {

        checkUserRights(k.$el, "teams");

        let $modal =  k.$el.appendTo("body").filter(".modal").modal().on("hidden.bs.modal",function (event) {
            k.$el.remove();
        });
        k.data.instance.bindView($modal.find('.modal-title')).loadFromRemote();

        $("#teamMembersList").komponent({data: k.data});
        $("#editTeam").komponent({data: k.data});
        $("#teamOrders").komponent({data: k.data});
    }

</script>
