
<div class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body bg-light">
                <div class="card">
                    <div class="card-header-tab card-header-tab-animation card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"></i>
                            Detalii comanda <span id="comandaid"></span>
                        </div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a data-toggle="tab" href="#tab1Content" class="nav-link active">Date client</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="#tab2Content" class="nav-link">Comenzi</a>
                            </li>


                        </ul>
                    </div>
                    <div class="card-body" style="min-height: 400px">

                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="tab1Content" role="tabpanel" aria-labelledby="detaliiPartener-tab">
                                1
                            </div>

                            <div class="tab-pane" id="tab2Content" data-resourcetype="collection" role="tabpanel">
                                2
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function init_komponent(k,data) {
        let $modal =  k.$el.appendTo("body").filter(".modal").modal();
        console.log($modal);
        // k.exec = function (data) {
        //     $("#employeeModal .modal-title").html(data.instance.attributes.fname+' '+ data.instance.attributes.lname);
        //     $modal.modal("show");
        // }
    }
</script>
