<style>

</style>

<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="2">
                Comanda<br>
                <select name=""></select>
            </th>
            <th>Operatie</th>
            <th>Ore lucrate</th>
            <th>Tarif orar</th>
            <th>
                <button class="btn btn-success btn-sm" onclick="exportInstanceDataAsFile($('#emplAllocOrders'),'xls')"><i class="fa fa-file-excel"></i> Excel</button>
            </th>
        </tr>
        </thead>
        <tbody id="emplAllocOrders" >
        <tr>
            <td><%=attributes.docnum%></td>
            <td><%=attributes.label%></td>
<!--            <td><%=attributes.status%></td>-->
            <td><%=attributes.opname%></td>
            <td><%=attributes.hourlyrate%> <%=attributes.currency%></td>
            <td><%=Math.floor(attributes.duration/60)%>:<%=attributes.duration%60%></td>
        </tr>
        </tbody>
        <tbody id="emplAllocOrdersEmpty">
        <tr><td colspan="5">Nu exista nicio comanda</td></tr>
        </tbody>
        <tfoot id="emplAllocOrdersPaging">
        <tr>
            <td colspan="6">
                <div class="btn-group" data-pagesize="20">
                    <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                    <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                    <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                    <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                    <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
                </div>
                Pagina <input type="number" size="3" value="0" id="emplAllocOrdersOffset">
                <select id="emplAllocOrdersLimit" >
                    <option></option>
                    <option>5</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>75</option>
                </select> inregistrari pe pagina
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<script>

    function init_komponent(k) {

        let emplid;

        if (k.data.instance && k.data.instance.type==="employees") {
            emplid = k.data.instance.id;
        }

        if (k.data.emplid) {
            emplid = k.data.emplid;
        } else {
            if (k.data.emplId) {
                emplid = k.data.emplId;
            }
        }

        if (!emplid) {
            //todo render some error stuff
            return;
        }

        $("#emplAllocOrders").apiator({
            resourcetype: "collection",
            type: "emplToOrdAssoc",
            url: apiRoot + "/emplToOrdAssoc?filter=emplid=" + emplid,
            paging: "#emplAllocOrdersPaging",
            offsetinp: "#emplAllocOrdersOffset",
            pagesizeinp: "#emplAllocOrdersLimit",
            emptyview: "#emplAllocOrdersEmpty"
        });

    }

</script>