<div class="modal" id="pontaj_entry_modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Intrari manuale</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>
                            Angajat
                        </th>
                        <th>Proiect</th>
                        <th>Operatie</th>
                        <th>
                            Start
                        </th>
                        <th>
                            Stop
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Ion Popescu</td>
                        <td>A325</td>
                        <td>sudura</td>
                        <td>2020-01-03 08:00</td>
                        <td>2020-01-03 11:00</td>
                        <td>
                            <button type="button" class="btn btn-success">Some button</button>
                        </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="5" align="left">
                            <div class="btn-group" id="usersPaging" data-pagesize="20">
                                <button data-type="first" class="btn btn-outline-secondary">&lt;&lt;</button>
                                <button data-type="prev" class="btn btn-outline-secondary">&lt;</button>
                                <button data-type="page" class="btn btn-outline-secondary">1</button>
                                <button data-type="next" class="btn btn-outline-secondary">&gt;</button>
                                <button data-type="last" class="btn btn-outline-secondary">&gt;&gt;</button>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script>
    function init_komponent(k) {
        let modal = $("#pontaj_entry_modal").remove().appendTo("body");
        k.exec = function (data) {
            modal.modal("show");
        };
        k.exec();
    }
</script>