<style>
    #anotherTTData>.row>div{
        padding: 5px;
    }

    #anotherTTData>.row{
        border-bottom: silver solid 1px;
    }

    #anotherTTData>.row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }

    #newTTData>.row>div{
        padding: 5px;
    }

    #newTTData>.row{
        border-bottom: silver solid 1px;
    }

    #newTTData>.row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }

    .hide-till-empl, .hide-till-comm{
        display: none;
    }
</style>
<div class="modal" id="newTTModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Adaugati o Intrare
                </div>
            </div>
            <div class="modal-body">
                <form id="newTTForm" class="d-none"></form>
                <div>

                    <div id="anotherTTData">
                        <div class="row">
                            <div class="col-3">Angajat</div>
                            <div class="col-9"><select id="selectAngajat" name="employee" form="newTTForm" class="form-control"></select></div>
                        </div>
                        <div class="row hide-till-empl">
                            <div class="col-3">Comanda - Operatie</div>
                            <div class="col-9"><select id="selectComm" name="operation" form="newTTForm" class="form-control"></select></div>
                        </div>
                        <div id="newTTData">
                            <div class="row hide-till-comm">
                                <div class="col-3">Start</div>
                                <% let today_date = new Date(); %>
                                <% let time_offset = today_date.getTimezoneOffset()/60; %>
                                <% today_date.setHours(8-time_offset);  %>
                                <% today_date.setMinutes(0);  %>
                                <% today_date.setSeconds(0);  %>
                                <% today_date.setMilliseconds(0);  %>
                                <div class="col-9"><input type="datetime-local" value="<%= today_date.toISOString().slice(0, -1) %>" name="start" id="datetimeStart" form="newTTForm" class="form-control"></div>
                            </div>
                            <div class="row hide-till-comm">
                                <div class="col-3">Stop</div>
                                <div class="col-9"><input type="datetime-local" name="stop" id="datetimeStop" form="newTTForm" class="form-control"></div>
                            </div>
                            <div class="row hide-till-comm">
                                <div class="col-3">Durata (min)</div>
                                <div class="col-9"><input type="number" name="duration" id="durationInput" form="newTTForm" class="form-control" pattern="[1-9][0-9]*"></div>
                            </div>
                            <div class="row hide-till-comm">
                                <div class="col-3">Tarif Orar</div>
                                <div class="col-9"><input type="number" name="hourly_rate" id="numberTarif" form="newTTForm" class="form-control" pattern="[1-9][0-9]*"></div>
                            </div>
                            <div class="row hide-till-comm">
                                <div class="col-3">Moneda</div>
                                <div class="col-9"><select name="currency" id="selectCurrency" form="newTTForm" class="form-control"></select></div>
                            </div>
                            <button class="btn btn-warning btn-save hide-till-comm" type="submit" form="newTTForm" style="margin-top: 10px;">Salveaza</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>

<script>
    function addMinutes(date, minutes){
        let date2 = new Date(date);
        console.log(date2, date2.getMinutes() + minutes);
        date2.setMinutes(date2.getMinutes() + minutes);
        return date2;
    }

    function init_komponent(k){

        let $modal = k.$el.appendTo("body")
            .filter(".modal")
            .on("hidden.bs.modal",function (event) {
                k.$el.remove();
            });

        $modal.modal();

        let $dataDiv = k.$el.find("#newTTData");
        let $selectAng = k.$el.find("#selectAngajat");
        let $selectComm = k.$el.find("#selectComm");
        let $tarif;
        let $selectMoneda;
        // let date = new Date();
        // console.log($("input[name=start]"));
        // console.log(date.toISOString().slice(0, -1))

        $selectAng.select2wrapper({placeholder: null, url:apiRoot+"/employees_names", labelfld: "fullname"});


        $selectAng.on("select2:select", function (e){
            $selectComm.empty();
            $(".hide-till-comm").css("display", "none");
            $(".hide-till-empl").css("display", "flex");
            let data = e.params.data;
            $selectComm.select2wrapper({
                placeholder: null,
                url: apiRoot+"/emplToOrdAssoc?filter=emplid=" + data.id + "&status=proc",
                labelfld: function (item) {
                    return item.attributes.docnum + " - " + item.attributes.opname
                },
                idfld: function (item) {
                    return item.attributes.opid + "-" + item.attributes.oid + "-" + item.attributes.id;
                }
            });
        });

        $selectAng.on("select2:clear", function (){
            $(".hide-till-empl").css("display", "none");
            $(".hide-till-comm").css("display", "none");
            $selectComm.empty();
        });
        let tarifOrarDefault;

        let monedaDefault;
        let instance_moneda;

        $selectComm.on("select2:select", function (e){
            $(".hide-till-comm").css("display", "flex");
            let data = e.params.data;
            // $("input[name=start]").val(date.toISOString().slice(0, -1));

            let instance = $dataDiv.apiator({returninstance:true, resourcetype: "item"})
                .setUrl(apiRoot + "/emplToOrdAssoc/" + data.id.split("-")[2]);


            instance.loadFromRemote()
                .then(function (data){
                    tarifOrarDefault = instance.attributes.hourlyrate;
                    monedaDefault = instance.attributes.currency;
                    $tarif = k.$el.find("#numberTarif");

                    $tarif.val(tarifOrarDefault);
                    $selectMoneda = k.$el.find("#selectCurrency");
                    instance_moneda = $("<span></span>").apiator({returninstance: true, resourcetype: "item"})
                        .setUrl(apiRoot + "/currencies/" + monedaDefault);
                    instance_moneda.loadFromRemote()
                        .then(function (monezi) {
                            $selectMoneda.html("<option value=" + monedaDefault + ">" + monedaDefault + " - " + monezi.attributes.desc + "</option>");

                            $selectMoneda.select2wrapper({
                                placeholder: null,
                                url: apiRoot + "/currencies",
                                labelfld: function (item) {
                                    return item.attributes.id + " - " + item.attributes.desc
                                }
                            });

                            let startInp = k.$el.find("input[name=start]");
                            let stopInp = k.$el.find("input[name=stop]");
                            let durataInp = k.$el.find("input[name=duration]");

                            let time_offset = -(new Date().getTimezoneOffset())/60;

                            durataInp.on("change", function (val) {
                                let value = parseInt(val.target.value);
                                console.log("[[[[[[[[[[[[[[[]]]", value, "\n[]]]]]]]]]]", stopInp.val(), "\n;;;;;;;;;;;;;", startInp.val());
                                if (startInp.val() !== ""){
                                    let new_stop = addMinutes(startInp.val(), value);
                                    // let new_stop = ;
                                    console.log(new_stop);
                                    new_stop.setHours(new_stop.getHours() + time_offset);
                                    stopInp.val(new_stop.toISOString().slice(0, -1));
                                } else {
                                    if (stopInp.val() !== ""){
                                        let new_start = addMinutes(new Date(stopInp.val()), -value)
                                        new_start.setHours(new_start.getHours() + time_offset);
                                        startInp.val(new_start.toISOString().slice(0, -1));
                                    }
                                }
                                console.log("after[[[[[[[[[[[[[[[]]]", durataInp.val(), "\n[]]]]]]]]]]", stopInp.val(), "\n;;;;;;;;;;;;;", startInp.val());
                            });

                            stopInp.on("change", function (val) {
                                if (startInp.val() !== ""){
                                    durataInp.val((new Date(val.target.value).getTime() - new Date(startInp.val()).getTime())/60000);
                                } else {
                                    if (durataInp.val() !== ""){
                                        let new_start = addMinutes(new Date(val.target.value), -durataInp.val());
                                        new_start.setHours(new_start.getHours() + time_offset);
                                        startInp.val(new_start.toISOString().slice(0, -1));
                                    }
                                }
                            });

                            startInp.on("change", function (val) {
                                if (stopInp.val() !== ""){
                                    durataInp.val((new Date(stopInp.val()).getTime() - new Date(val.target.value).getTime())/60000);
                                } else {
                                    if (durataInp.val() !== ""){
                                        let new_stop = addMinutes(new Date(val.target.value), durataInp.val());
                                        new_stop.setHours(new_stop.getHours() + time_offset);
                                        stopInp.val(new_stop.toISOString().slice(0, -1));
                                    }
                                }
                            });
                        })
                        }).catch(function(data){
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                            }).send();
                        });

        });

        $selectComm.on("select2:clear", function (){
            $(".hide-till-comm").css("display", "none");
        });

        let form = $("#newTTForm")[0];
        let aux_instance = k.data.instance;
        let util = aux_instance.getUtilities();



        util.captureFormSubmit(form, function (data) {
            if (data.currency && data.hourly_rate && data.start && data.stop && data.employee && data.operation){
                let op_cpy = data.operation;
                delete data.operation;
                data["operation"] = op_cpy.split("-")[0];
                data["order"] = op_cpy.split("-")[1];
                data.start = data.start.replace("T", " ");
                data.start = data.start.split(".")[0];
                data.stop = data.stop.replace("T", " ");
                data.stop = data.stop.split(".")[0];

                if(data.hourly_rate > 0){
                    aux_instance.createItem(data).then(function () {
                        aux_instance.loadFromRemote();
                    }).catch(function(data){
                        komponentor.intent("/common/errormodal").data({
                            body: "A aparut o eroare:<pre>"+data.jqXHR.responseText+"</pre>"
                        }).send();
                    });
                    $modal.modal("hide");
                } else {
                    komponentor.intent("/common/errormodal").data({
                        body: "Tariful orar trebuie sa fie mai mare ca 0."
                    }).send();
                }


            } else {
                komponentor.intent("/common/errormodal").data({
                    body: "Toate campurile sunt obligatorii."
                }).send();
            }
        });


    }
</script>







