<style>
    #newTTData .row>div{
        padding: 5px;
    }

    #newTTData .row{
        border-bottom: silver solid 1px;
    }

    #newTTData .row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }

    .hide-till-empl, .hide-till-comm{
        display: none;
    }

    .empl-sel>.hide-till-empl{
        display: flex;
    }

    .empl-sel.comm-sel>.hide-till-comm{
        display: flex;
    }

</style>
<div class="modal" id="newTTModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Adaugati o Intrare
                </div>
            </div>
            <div class="modal-body">
                <form id="newTTForm" class="d-none"></form>
                <div id="newTTData">
                    <div class="row">
                        <div class="col-3">Angajat</div>
                        <div class="col-9"><select id="selectAngajat" name="employee" form="newTTForm" class="form-control"></select></div>
                    </div>
                    <div class="row hide-till-empl">
                        <div class="col-3">Comanda - Operatie</div>
                        <div class="col-9"><select id="selectComm" name="operation" form="newTTForm" class="form-control"></select></div>
                    </div>
                    <div class="row hide-till-comm">
                        <div class="col-3">Start</div>
                        <div class="col-9"><input type="datetime-local" name="start" id="datetimeStart" form="newTTForm" class="form-control"></div>
                    </div>
                    <div class="row hide-till-comm">
                        <div class="col-3">Stop</div>
                        <div class="col-9"><input type="datetime-local" name="stop" id="datetimeStop" form="newTTForm" class="form-control"></div>
                    </div>
                    <div class="row hide-till-comm">
                        <div class="col-3">Tarif Orar</div>
                        <div class="col-9"><input type="number" name="hourly_rate" id="numberTarif" form="newTTForm" class="form-control" pattern="[1-9][0-9]*"></div>
                    </div>
                    <div class="row hide-till-comm">
                        <div class="col-3">Moneda</div>
                        <div class="col-9"><select name="currency" id="selectCurrency" form="newTTForm" class="form-control"></select></div>
                    </div>
                    <button class="btn btn-warning btn-save hide-till-comm" type="submit" form="newTTForm" style="margin-top: 10px;">Salveaza</button>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>

<script>
    function init_komponent(k){
        console.log("oyoyoyoy");

        let $modal = k.$el.appendTo("body")
            .filter(".modal")
            .on("hidden.bs.modal",function (event) {
                k.$el.remove();
            });

        $modal.modal();
        console.log(k.data);

        let $dataDiv = k.$el.find("#newTTData");
        let $selectAng = k.$el.find("#selectAngajat");
        let $selectComm = k.$el.find("#selectComm");
        let $start = k.$el.find("#datetimeStart");
        let $stop = k.$el.find("#datetimeStop");
        let $tarif;
        let $selectMoneda;
        $selectAng.select2wrapper({placeholder: null, url:apiRoot+"/employees_names", labelfld: "fullname"});


        $selectAng.on("select2:select", function (e){
            $dataDiv.addClass("empl-sel");
            let data = e.params.data;
            console.log(data);
            $selectComm.select2wrapper({
                placeholder: null,
                url: apiRoot+"/emplToOrdAssoc?filter=emplid=" + data.id + "&status=proc",
                labelfld: function (item) {
                    return item.attributes.docnum + " - " + item.attributes.opname
                },
                idfld: function (item) {
                    return item.attributes.opid + "-" + item.attributes.oid + "-" + item.attributes.id;
                }
            })
        });

        $selectAng.on("select2:clear", function (){
            $dataDiv.removeClass("empl-sel");
        });
        let tarifOrarDefault;

        let monedaDefault;
        let instance_moneda;

        $selectComm.on("select2:select", function (e){
            let data = e.params.data;

            $dataDiv.addClass("comm-sel");
            console.log(data);
            let instance = $dataDiv.apiator({returninstance:true, resourcetype: "item"})
                .setUrl(apiRoot + "/emplToOrdAssoc/" + data.id.split("-")[2]);

            instance.loadFromRemote()
                .then(function (data){

                    tarifOrarDefault = instance.attributes.hourlyrate;
                    monedaDefault = instance.attributes.currency;
                    $tarif = k.$el.find("#numberTarif");
                    console.log(instance,$tarif);

                    $tarif.val(tarifOrarDefault);
                    $selectMoneda = k.$el.find("#selectCurrency");
                    instance_moneda = $("<span></span>").apiator({returninstance: true, resourcetype: "item"})
                        .setUrl(apiRoot + "/currencies/" + monedaDefault);
                    instance_moneda.loadFromRemote()
                        .then(function (monezi) {
                            console.log(monezi);
                            console.log($selectMoneda);
                            $selectMoneda.html("<option value=" + monedaDefault + ">" + monedaDefault + " - " + monezi.attributes.desc + "</option>");

                            $selectMoneda.select2wrapper({
                                placeholder: null,
                                url: apiRoot + "/currencies",
                                labelfld: function (item) {
                                    return item.attributes.id + " - " + item.attributes.desc
                                }
                            });
                        });
                });

        });
        $selectComm.on("select2:clear", function (){
            $dataDiv.removeClass("comm-sel");
        });

        let form = $("#newTTForm")[0];
        let aux_instance = k.data.instance;
        let util = aux_instance.getUtilities();


        util.captureFormSubmit(form, function (data) {
            if (data.currency && data.hourly_rate && data.start && data.stop && data.employee && data.operation){
                let op_cpy = data.operation;
                delete data.operation;
                data["operation"] = op_cpy.split("-")[0];
                data["order"] = op_cpy.split("-")[1];
                data.start = data.start.replace("T", " ");
                data.start += ":00";
                data.stop = data.stop.replace("T", " ");
                data.stop += ":00";
                console.log(data);

                if(data.hourly_rate > 0){
                    aux_instance.createItem(data).then(function () {
                        aux_instance.loadFromRemote();
                    });
                    $modal.modal("hide");
                } else {
                    komponentor.intent("/common/errormodal").data({
                        body: "Tariful orar trebuie sa fie mai mare ca 0."
                    }).send();
                }


            } else {
                komponentor.intent("/common/errormodal").data({
                    body: "Toate campurile sunt obligatorii."
                }).send();
            }
        });



    }
</script>







