<tr class="table-primary">
    <form id="newTTForm"></form>
    <td class="align-bottom" style="width: 200px">
        <p>Angajat</p>
        <input type="text" name="empl_name" data-operator="~=~" class="form-control-sm form-control" form="newTTForm">
    </td>
    <td class="align-bottom" style="width: 200px">
        <p>Comanda si Operatie</p>
        <select id="docNumFilter" name="docnum" class="form-control-sm form-control" form="newTTForm" data-operator="="><option> </option></select>
    </td>
    <td>3</td>
    <td class="align-bottom" style="width: 200px">
        <p>Start</p>
        <div class="input-group input-group-sm ">
            <input type="datetime-local" name="start" class="form-control-sm form-control" form="newTTForm">
        </div>
    </td>
    <td class="align-bottom" style="width: 200px">
        <p>
            Stop
        </p>
        <div class="input-group input-group-sm ">
            <input type="datetime-local" name="stop" class="form-control-sm form-control" form="newTTForm">
        </div>

    </td>
    <td class="align-bottom">

    6</td>
    <td class="align-bottom" style="width: 100px">
        <p>Tarif Orar</p>
        <input type="number" name="hourly_rate" data-operator="~=~" class="form-control-sm form-control" form="newTTForm">
    </td>
    <td class="align-bottom" style="width: 100px">
        <p>Moneda</p>
        <select id="unitFilter" name="docnum" class="form-control-sm form-control" form="newTTForm" data-operator="="><option> </option></select>
    </td>
    <td class="align-bottom" style="width: 100px">
        <button class="btn btn-primary">Salveaza</button>
    </td>
</tr>

<script>
    function init_komponent(){
        console.log("oyoyoyoy");

    }
</script>