<style>
    #timeTrackingTable .inputs, #timeTrackingTable button.edit{
        display: none;
    }

    #timeTrackingTable tr.edit .inputs,#timeTrackingTable tr.edit button.edit{
        display: unset;
    }

    #timeTrackingTable tr.edit .values, #timeTrackingTable tr.edit button  {
        display: none;
    }
    #timeTrackingTable tr.edit button.edit{
        display: unset;
    }


    .employeeView .emplCol{
        display: none;
    }

    .orderView .orderCol{
        display: none;
    }
    .mytable{
        width: 100%;
    }

    .someSelect{
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-top: 5px;
        background: rgba(239, 239, 239, 0.04);
        max-height: 300px;
        overflow: scroll;
    }
    .someSelect li{
        border-bottom: dashed 1px silver;
        cursor: pointer;
    }
    .someSelect li:hover{
        background: #dddddd;
    }
    .someSelect a{

    }

</style>

<div>
    <div class="checkRead">
        <div class="alert" style="background: #d6d6d6">
            <div class="row">
                <div class="col-8">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Marti, 7 Sep. 2021
                        </button>
                        <div class="dropdown-menu" style="min-width: 500px;">
                            <div class="row">
                                <div class="col-5">
                                    <ul style="margin: 0; padding: 4px;list-style: none">
                                        <li>Astazi</li>
                                        <li>Ieri</li>
                                        <li>Saptamana aceasta</li>
                                        <li>Saptamana trecuta</li>
                                        <li>Luna aceasta</li>
                                        <li>Luna trecuta</li>
                                        <li>Anul acesta</li>
                                        <li>Anul trecut</li>
                                    </ul>
                                </div>
                                <div class="col-7">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Angajat
                        </button>
                        <div class="dropdown-menu p-3">
                            <form id="employeeSelectSearch">
                                <input type="text" name="fullname" data-operator="~=~" placeholder="Nume angajat" onkeyup="this.form.submitBut.click()">
                                <input type="submit" name="submitBut" class="d-none" autocomplete="false">
                            </form>
                            <ul class="someSelect" id="employeeSelect" data-resourcetype="collection" data-filter="#employeeSelectSearch">
                                <li onclick="performSearch('#timeTrackingEntriesFiltering','employee',$(this).data('emplid'));$('#employeeSelectSearch')[0].fullname.value=$(this).text()" data-emplid="<%= id %>"><%= attributes.fullname%></li>
                            </ul>
                            <button class="btn btn-secondary btn-sm" onclick="performSearch('#timeTrackingEntriesFiltering','employee','');$('#employeeSelectSearch')[0].reset()">Sterge selectia</button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Echipa
                        </button>
                        <div class="dropdown-menu p-3">
                            <form id="teamSelectSearch">
                                <input type="text" name="name" data-operator="~=~" placeholder="Nume echipa" onkeyup="this.form.submitBut.click()">
                                <input type="submit" name="submitBut" class="d-none" autocomplete="false">
                            </form>
                            <ul class="someSelect" id="teamSelect" data-resourcetype="collection" data-filter="#teamSelectSearch">
                                <li><a onclick="performSearch('#timeTrackingEntriesFiltering','team',$(this).data('teamid'));$('#teamSelectSearch')[0].name.value=$(this).text()" data-teamid="<%= id %>"><%= attributes.name%></a></li>
                            </ul>
                            <button class="btn btn-secondary btn-sm" onclick="performSearch('#timeTrackingEntriesFiltering','team','');$('#teamSelectSearch')[0].reset()">Sterge selectia</button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comanda
                        </button>
                        <div class="dropdown-menu p-3">
                            <form id="orderSelectSearch">
                                <input type="text" name="docnum" data-operator="~=~" placeholder="ID Comanda" onkeyup="this.form.submitBut.click()">
                                <input type="submit" name="submitBut" class="d-none" autocomplete="false">
                            </form>
                            <ul class="someSelect" id="orderSelect" data-resourcetype="collection" data-filter="#orderSelectSearch">
                                <li><a onclick="performSearch('#timeTrackingEntriesFiltering','order',$(this).data('teamid'));$('#orderSelectSearch')[0].docnum.value=$(this).text()"
                                       data-teamid="<%= id %>"><%= attributes.docnum%></a></li>
                            </ul>
                            <button class="btn btn-secondary btn-sm" onclick="performSearch('#timeTrackingEntriesFiltering','order','');$('#orderSelectSearch')[0].reset()">Sterge selectia</button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Audit
                        </button>
                        <div class="dropdown-menu p-3" style="min-width: 350px">
                            <ul class="someSelect" id="" data-resourcetype="collection" data-filter="#orderSelectSearch">
                                <li>Durata mai mare de <input typeof="number" style="width: 40px" value="8"> ore </li>
                                <li>Comanda nealocata</li>
                            </ul>
                            <button class="btn btn-secondary btn-sm" onclick="performSearch('#timeTrackingEntriesFiltering','order','');$('#orderSelectSearch')[0].reset()">Sterge selectia</button>
                        </div>
                    </div>


<!--                    <div class="btn-group">-->
<!--                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                            Angajat-->
<!--                        </button>-->
<!--                        <div class="dropdown-menu p-3">-->
<!--                            <form id="employeeSelectSearch">-->
<!--                                <input type="text" name="fullname" data-operator="~=~" placeholder="Cauta angajati" onkeyup="this.form.submitBut.click()">-->
<!--                                <input type="submit" name="submitBut" class="d-none" autocomplete="false">-->
<!--                            </form>-->
<!--                            <ul class="someSelect" id="employeeSelect" data-resourcetype="collection" data-filter="#employeeSelectSearch">-->
<!--                                <li><a onclick="performSearch('#timeTrackingEntriesFiltering','employee',$(this).data('emplid'));$('#employeeSelectSearch')[0].fullname.value=$(this).text()" data-emplid="<%= id %>"><%= attributes.fullname%></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->


                </div>
                <div class="col" style="text-align: right">
                    <button class="btn btn-primary checkCreate float-right"  id="newTTBtn"><i class="fa fa-plus-square"></i> Introducere manuala</button>
                </div>

            </div>
        </div>
        <form id="timeTrackingEntriesFiltering" class="d-none">
<!--            <button type="submit" name="submit" id="submitBtn"></button>-->
            <input name="order" type="text" data-operator="=">
            <input name="employee" type="text" data-operator="=">
            <input name="operation" type="text" data-operator="=">
            <input name="team" type="text" data-operator="=">
            <input name="start" type="text" id="startFrom" data-operator=">=">
            <input name="start" type="text" id="startTo" data-operator="<=">
        </form>
        <table class="table" id="timeTrackingTable">
            <thead class="thead-dark none" id="pontajListHeader">
                <tr>
                    <th class="emplCol align-top">
                        Angajat
                    </th>
                    <th class="orderCol align-top">
                        Comanda
                    </th>
                    <th class="align-top" >
                        Operatie
                    </th>
                    <th class="align-top" >
                        Tarif
                    </th>
                    <th class="align-top" >
                        <a class="text-white" data-sortfld="start">Start
                            <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i>
                        </a>
                    </th>
                    <th class="align-top" style="min-width: 160px">
                        <a class="text-white" data-sortfld="duration">Durata (minute)
                            <i class="fa fa-sort-up sort-up" style="display: none"></i><i class="fa fa-sort-down sort-down" style="display: none"></i><i class="fa fa-sort sort-default text-light"></i>
                        </a>

                    </th>
                    <th width="150px"></th>
                </tr>
            </thead>
            <tbody id="timeTrackingEntries" data-type="timetracking" data-resourcetype="collection" data-paging="#timeTrackingEntriesPaging"
                   data-filter="#timeTrackingEntriesFiltering" data-sort="#pontajListHeader"
                   data-pagesizeinp="#timeTrackingEntriesLimit" data-offsetinp="#timeTrackingEntriesOffset">
            <tr>
                <td class="emplCol">
                    <%= relationships.employee.attributes.fname %> <%= relationships.employee.attributes.lname %> <br>
                    <% if(relationships.team) { %>
                    <span class="badge badge-secondary"><%= relationships.team.attributes.name %></span>
                    <% } %>

                </td>
                <td style="max-width: 100px">
                    <div class="values"><%= relationships.order.relationships.doc_id.attributes.docnum %></div>
                    <div class="inputs">
                        <select name="order"  style="width: 100%"></select>
                    </div>
                </td>
                <td class="orderCol" style="width: 150px">
                    <div class="values"><%= relationships.operation.attributes.name %></div>
                    <div class="inputs">
                        <select name="op"  style="width: 100%"><option value="<%= relationships.operation.id %>"><%= relationships.operation.attributes.name %></option></select>
                    </div>
                </td>
                <td>
                    <div class="values"><%= attributes.hourly_rate %> <%= relationships.currency.id %></div>
                    <div style="white-space: nowrap" class="inputs">
                        <input type="number" name="hourly_rate" value="<%= attributes.hourly_rate %>" style="max-width: 60px">
                        <select name="currency">
                            <option><%= relationships.currency.id %></option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="values"><%= attributes.start.split(' ')[0] %></div>
                    <div class="values" style="min-width: 100px; "><%= attributes.start.split(' ')[1] %> - <%= attributes.stop?attributes.stop.split(' ')[1]:'-' %></div>
                    <div class="inputs">
                        <div class="d-inline">De la<br><input type="datetime-local" style="max-width: 220px" class="form-control form-control-sm" id="inputStart" name="start" value="<%= (new Date(attributes.start)).toISOString().slice(0,-1) %>"></div>
                        <div class="d-inline">Pana la<br><input type="datetime-local" style="max-width: 220px" class="form-control form-control-sm" id="inputStop" name="stop" value="<%= attributes.stop?(new Date(attributes.stop)).toISOString().slice(0,-1):'' %>"></div>
                    </div>
                </td>
                <td style="width: 100px">
                    <div class="values"><%= attributes.duration %></div>
                    <div class="inputs">
                        <input type="number" value="<%= attributes.duration %>" style="max-width: 100px">
                    </div>
                </td>
                <td style="width: 100px">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-secondary btn-sm checkCreate" onclick="duplicateItem(this);"><i class="fa fa-copy" title="Duplicare"></i></button>
                        <button class="btn btn-danger btn-sm checkDelete" onclick="deleteUnit(this);" title="Stergere"><i class="fa fa-trash"></i></button>
                        <button class="btn btn-warning btn-sm checkUpdate" onclick="edit(this)" title="Editare"><i class="fa fa-edit"></i> </button>
                        <button class="btn btn-primary btn-sm edit" onclick="save(this)" title="Salvare"><i class="fa fa-save"></i> </button>
                        <button class="btn btn-secondary btn-sm edit" onclick="cancelEdit(this)" title="Anulare"><i class="fa fa-window-close"></i> </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7">
                    <div class="btn-group"  id="timeTrackingEntriesPaging" data-pagesize="20">
                        <button name="first" class="btn btn-outline-secondary" title="0">&lt;&lt;</button>
                        <button name="prev" class="btn btn-outline-secondary" title="-20">&lt;</button>
                        <button name="page" class="btn btn-outline-secondary" title="0">1</button>
                        <button name="next" class="btn btn-outline-secondary" title="20">&gt;</button>
                        <button name="last" class="btn btn-outline-secondary" title="140">&gt;&gt;</button>
                    </div>
                    <select id="timeTrackingEntriesLimit">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>75</option>
                    </select> inregistrari pe pagina
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>

<script>

    timeRegex = /(\d+):(\d+):(\d+)/;
    
    function performSearch(form, field, value) {
        $($(form)[0][field]).val(value);
        $(form).submit();
    }

    function cancelEdit(src) {
        $(src).parents('tr').removeClass('edit')
            .find("select[name=op]").select2("destroy");
        $(src).parents('tr').find("select[name=order]").select2("destroy");
        $(src).parents('tr').find("select[name=currency]").select2("destroy");

    }

    function save(src) {
        let itemContainer = $(src).parents("tr");
        let orderSel = itemContainer.find("select[name=order]").val();
        let opSel = itemContainer.find("select[name=op]").val();

        let startVal = itemContainer.find("input[name=start]").val();
        let stopVal = itemContainer.find("input[name=stop]").val();
        let hourly_rate = itemContainer.find("input[name=hourly_rate]").val();
        let currency = itemContainer.find("select[name=currency]").val();

        let instance = $(src).data("instance");
        console.log(instance);

        if(opSel === null || startVal.length === 0 || stopVal.length === 0){
            komponentor.intent("/common/messagemodal").data({
                body: "Completati campurile \"Operatie\", \"Start\" si \"Stop\" pentru a continua.",
                buttons: [
                    {
                        label: "Ok",
                        class: "btn-secondary",
                        attrs: {
                            "data-dismiss":"modal"
                        }
                    }
                ]
            }).send();
            return;
        }

        let data = {
            order: orderSel,
            operation: opSel,
            start: startVal.replace("T", " ").split(".")[0],
            stop: stopVal.replace("T", " ").split(".")[0],
            currency: currency,
            hourly_rate: hourly_rate
        };

        console.log(data);

        instance.update(data).catch(function (e) {
            komponentor.intent("/common/errormodal").data({body: "Eroare: <pre>" + e.jqXHR.responseText + "</pre>"}).send();
        });
    }

    function edit(src) {
        let itemContainer = $(src).parents("tr").addClass("edit");
        let opSel = itemContainer.find("select[name=op]");
        let orderSel = itemContainer.find("select[name=order]");
        let currencySel = itemContainer.find("select[name=currency]");
        let instance = $(src).data("instance");

        if(opSel.hasClass("select2")) opSel.select2("destroy");
        if(orderSel.hasClass("select2")) orderSel.select2("destroy");

        orderSel.empty().append("<option value='"+instance.relationships.order.id + "'>"
            +instance.relationships.order.relationships.doc_id.attributes.docnum + "</option>");

        opSel.select2wrapper({
            // url: apiRoot+"/employees/"+instance.attributes.employee+"/emplToOrdAssoc?filter=status=ord",
            // url: apiRoot+"/emplToOrdAssoc?filter=status!><offer,ready,dlvd",
            url: apiRoot+"/catalog?filter=type=service",
            labelfld: "name",
            idfld: "id",
            placeholder: "Comanda/proiect"
        });

        opSel.on("select2:select", function (val) {
            opSel.val(val.params.data.id);
        });

        orderSel.select2wrapper({
            url: apiRoot + "/orders_extended",
            labelfld: "docnum",
            idfld: "oid",
            placeholder: "Doc num"
        });

        orderSel.on("select2:select", function (val) {
            console.log(val.params.data.id);
            orderSel.val(val.params.data.id);
        });

        currencySel.select2wrapper({
            url: apiRoot + "/currencies",
            labelfld: "id",
            idfld: "id",
        });

        currencySel.on("select2:select", function (val) {
            currencySel.val(val.params.data.id);
        });


        itemContainer.find("input[name=submit]");
    }

    function deleteUnit(src) {

        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa stergi pontajul lui <br><strong>" + $(src).data("instance").relationships.employee.attributes.fname + " " + $(src).data("instance").relationships.employee.attributes.lname + "</strong> de <strong>" + $(src).data("instance").attributes.duration + "ore?</strong>",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss": "modal"
                    },
                    callback: function () {
                        $(src).data('instance').delete().catch(function (data) {
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                            }).send();
                        });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss": "modal"
                    }
                }
            ]
        }).send();
    }

    function duplicateItem(src) {
        let itemInstance = $(src).data("instance");
        komponentor.intent("/common/messagemodal").data({
            body: "Esti sigur ca vrei sa creezi o dublura pontajului lui <br><strong>" + itemInstance.relationships.employee.attributes.fname + " " + $(src).data("instance").relationships.employee.attributes.lname + "</strong> de <strong>" + $(src).data("instance").attributes.duration + "ore?</strong>",
            buttons: [
                {
                    label: "Da",
                    class: "btn-danger",
                    attrs: {
                        "data-dismiss": "modal"
                    },
                    callback: function () {
                        let data = itemInstance.attributes;
                        data.employee = itemInstance.relationships.employee.id;
                        data.operation = itemInstance.relationships.operation.id;
                        data.order = itemInstance.relationships.order.id;
                        data.currency = itemInstance.relationships.currency.id;
                        delete data.id;
                        itemInstance.collection.createItem(data)
                            .catch(function (data) {
                                komponentor.intent("/common/errormodal")
                                    .data({
                                        body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                                    })
                                    .send();
                            });
                    }
                },
                {
                    label: "Nu",
                    class: "btn-secondary",
                    attrs: {
                        "data-dismiss": "modal"
                    }
                }
            ]
        }).send();
    }

    function customUrl(k) {
        if (!k.data) {
            throw "Empty data";
        }

        let data = k.data;

        if(data.instance) {
            switch (data.instance.type) {
                case "employees":
                    k.$el.find("#timeTrackingTable").addClass("employeeView");
                    return apiRoot + "/timetracking?sort=-start&include=employee,order,order.doc_id,operation&filter=employee="+data.instance.id;
                case "orders":
                    k.$el.find("#timeTrackingTable").addClass("orderView");
                    return apiRoot + "/timetracking?sort=-start&include=employee,order,order.doc_id,operation&filter=order="+data.instance.id;
                default:
                    console.log(data.instance);
                    throw "Unknown type";
            }
        }

        if(data.emplid) {
            return apiRoot + "/timetracking?sort=-start&filter=employee="+data.emplid;
        }
    }

    function init_komponent(k) {

        checkUserRights(k.$el, "timetracking");

        let url = apiRoot + "/timetracking?sort=-start&include=employee,order,order.doc_id,operation,team";

        try {
            url = customUrl(k);
        } catch (e) {
            console.log(e)
        }

        let instance = $("#timeTrackingEntries").apiator({
            url: url,
            returninstance: true
        });

        k.$el.find("#employeeSelect").apiator({returninstance: true})
            .setUrl(apiRoot+"/employees_names?page[employees_names][limit]=20").loadFromRemote();

        k.$el.find("#teamSelect").apiator({returninstance: true})
            .setUrl(apiRoot+"/teams?page[teams][limit]=20").loadFromRemote();

        k.$el.find("#orderSelect").apiator({returninstance: true})
            .setUrl(apiRoot+"/orders_extended?page[orders_extended][limit]=20").loadFromRemote();



        k.$el.find("#newTTBtn").on("click", function () {
            komponentor.intent("/views/pontaj/newTTModal")
                .data({instance: instance})
                .send();
        });

        k.$el.find("#emplNamefilter").select2wrapper({
            url: apiRoot + "/employees_names",
            labelfld: "fullname",
            idfld: "id",
            placeholder: "Nume Angajat"
        });
        k.$el.find("#teamNamefilter").select2wrapper({
            url: apiRoot + "/teams",
            labelfld: "fullname",
            idfld: "id",
            placeholder: "Nume Angajat"
        });


        k.$el.find("#docNumFilter").select2wrapper({
            url: apiRoot + "/orders_extended",
            labelfld: "docnum",
            idfld: "oid",
            placeholder: "Doc num"
        });

        k.$el.find("#operationFilter").select2wrapper({
            url: apiRoot + "/catalog?filter=type=service",
            labelfld: "name",
            idfld: "id",
            placeholder: "Operatie"
        });

        let submitButton = k.$el.find("#timeTrackingEntriesFiltering").find("#submitBtn");

        $("#emplNamefilter").on("select2:select", function () {
            submitButton.click();
        }).on("select2:clear", function () {
            submitButton.click();
        });

        $("#docNumFilter").on("select2:select", function () {
            submitButton.click();
        }).on("select2:clear", function () {
            submitButton.click();
        });

        $("#operationFilter").on("select2:select", function () {
            submitButton.click();
        }).on("select2:clear", function () {
            submitButton.click();
        });

        $("#timeTrackingTable").find("input").on("change", function () {
            submitButton.click();
        });


        let util = instance.getUtilities();
        let form = $("#newTTForm")[0];

        util.captureFormSubmit(form, function (data) {
            addNewTT(data);
        });

        function addNewTT(data) {

            if (data.employee === null || data.docnum === null || data.start.length === 0 || data.stop.length === 0 || data.hourly_rate.length === 0 || data.currency === null) {

                komponentor.intent("/common/messagemodal").data({
                    body: "Completati toate campurile pentru a continua.",
                    buttons: [
                        {
                            label: "Ok",
                            class: "btn-secondary",
                            attrs: {
                                "data-dismiss": "modal"
                            }
                        }
                    ]
                }).send();
                return;
            }
            data.start = data.start.replace("T", " ");
            data.stop = data.stop.replace("T", " ");

            data.operation = data.docnum.split("/")[1];
            data.order = data.docnum.split("/")[0];

            delete data.docnum;
            instance.createItem(data).then(function () {
                $("[name=newTT]").toggle();
                instance.loadFromRemote();
            })
                .catch(function (data) {
                    komponentor.intent("/common/errormodal").data({
                        body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                    }).send();
                });


            k.exec = function (b) {
                console.log("exec order", k, b);
            }
        }

    }

</script>
