<style>
    .loading-overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fdfdfd; /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
    }
    #projectSelect ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    #projectSelect li{
        padding: 5px;
    }

</style>
<div class="container p-0 text-center">
    <h3 class="bg-secondary p-3 ">ClientPontaj</h3>
    <div id="loader" class="loading-overlay" style="display: none">
        Loading...
    </div>
    <div id="login">
        <form onsubmit="event.preventDefault();$(this).data().komponent.checkuser();">
            <div class="input-group">
                <input type="text" name="uid" value="121212" required class="form-control">
                <div class="input-group-append">
                    <button type="submit" id="submButt" class="btn btn-primary">Verifica</button>
                </div>
            </div>
        </form>
    </div>
    <div id="invalidCode" style="display: none">
        Codul introdus este invalid
    </div>
    <div id="stopOk" style="display: none">
        <p>
            Pontajul a fost oprit.
        </p>
        <p>
            Ai lucrat in total <span class="duration"></span>.
        </p>
        <button class=""></button>

    </div>
    <div id="severError" style="display: none">
        Eroare pe server
    </div>
    <div id="serviceUnavail" style="display: none">
        Serviciul este indisponibil
    </div>
    <div id="unknowError" style="display: none">
        Eroare necunoscuta
    </div>

    <div id="projectSelect" style="display: none">
        <h3></h3>
        <form onsubmit="event.preventDefault();$(this).data().komponent.startWork(this);">
            <select name="project">
                <option value="<%= id %>"><%= attributes.order_name ? attributes.order_name : "fara nume" %> <%= attributes.op_name ? "/ "+attributes.op_name : "fara nume" %></option>
            </select>
            <button class="btn btn-success">Incepe pontarea</button>
            <button class="btn btn-secondary" type="button" onclick="$(this).parents('#projectSelect').hide();$(this).data().komponent.$el.find('#login').show();">Anuleaza</button>
        </form>
    </div>
    <div id="working" style="display: none">
        <h2 class="emplName"></h2>
        <h3 class="project"></h3>
        <h4 class="operation"></h4>
        <h5>In lucru de <span class="elapsedTime"></span> ore</h5>
        <button onclick="$(this).data().komponent.stopWork(this);" class="btn btn-danger">Opreste lucru</button>
        <button onclick="$(this).parent().hide();$(this).data().komponent.$el.find('#login').show()" class="btn btn-secondary">Inapoi</button>
    </div>
</div>

<script>
    function init_komponent(k) {
        k.stopWork = function() {
            k.$el.find("#loader").show();
            let ttid = current_ttregistry.relationships.started_work[0].id;
            let inst = $("<span>").apiator({returninstance:true,resourcetype:"item"}).setUrl(apiRoot+"/timetracking/"+ttid)
            inst.id = ttid;
            inst.update({status:"f"})
                .then(function (data) {
                    console.log(data)
                    k.$el.find("#loader").hide();
                    k.$el.find("#working").hide();
                    k.$el.find("#stopOk").show();
                    setTimeout(function () {
                        k.$el.find("#stopOk").hide();
                        k.$el.find('#login').show();
                    },3000);
                    // k.checkuser();
                })
        };


        k.startWork = function(src) {
            k.$el.find("#loader").show();
            let sel = $("#projectSelect form").find("option:selected").data().instance;
            let data = {
                employee: current_ttregistry.relationships.emplid.id,
            };
            if(sel.attributes.hourly_rate) {
                data.hourly_rate = sel.attributes.hourly_rate;
            }
            if(sel.attributes.op_id) {
                data.operation = sel.attributes.op_id;
            }
            if(sel.attributes.order_id) {
                data.order = sel.attributes.order_id;
            }
            if(sel.attributes.currency) {
                data.currency = sel.attributes.currency;
            }

            console.log(data);
            $("<span>")
                .apiator({returninstance: true,resourcetype: "collection"})
                .setUrl(apiRoot+"/timetracking")
                .append(data)
                .then(function () {
                    k.$el.find("#loader").hide();
                    k.$el.find("#projectSelect").hide();
                    k.checkuser();
                })
                .catch(function (xhr) {
                    
                });

        };

        k.checkuser = function () {
            let form = k.$el.find("#login form")[0];
            k.$el.find("#loader").show();
            // k.$el.find("#login").hide();

            let inst = $("<span>").apiator({returninstance: true,resourcetype: "item"});
            inst.setUrl(apiRoot+"/tags/"+form.uid.value+"?include=started_work,emplid,alloc_orders")
                .loadFromRemote()
                .then(function (data) {
                    k.$el.find("#login").hide();
                    current_ttregistry = data;

                    k.$el.find("#loader").hide();
                    if(data.relationships.started_work.length) {
                        let cont = k.$el.find("#working").show();
                        if(data.relationships.started_work[0].attributes.order_label) {
                            cont.find("h3").html(data.relationships.started_work[0].attributes.order_label);
                        }
                        if(data.relationships.started_work[0].attributes.operation_name) {
                            cont.find("h4").html(data.relationships.started_work[0].attributes.operation_name);
                        }

                        showKontor = true;

                        cont.find(".emplName").text(data.attributes.fname+" "+data.attributes.lname);
                        // cont.find(".project").text(data.attributes.fname+" "+data.attributes.lname);
                        function showTime() {

                            let dateDiffSeconds = Math.round(((new Date()).getTime()-(new Date(data.relationships.started_work[0].attributes.start)).getTime())/1000);
                            let seconds = dateDiffSeconds%60;
                            let minutes = Math.floor(dateDiffSeconds/60);
                            let hours = Math.floor(minutes/60);
                            minutes = minutes%60;
                            // let minutes = Math.floor(dateDiffSeconds/3600);

                            let elapsed = ("0" + hours).slice(-2) + ":"+("0" + minutes).slice(-2) + ":"+("0" + seconds).slice(-2);
                            cont.find(".elapsedTime").html(elapsed);

                            if(showKontor) {
                                setTimeout(showTime,1000);
                            }
                        }
                        showTime();
                        return;
                    }

                    let projView = k.$el.find("#projectSelect");
                    projView.find("h3").html(data.attributes.fname + " " + data.attributes.lname);
                    let instance = projView.show().find("select").apiator({returninstance: true,resourcetype: "collection"});

                    let projects = [
                        {
                            id: null,
                            attributes:{
                                op_id: null,
                                op_name: null,
                                order_id: null,
                                order_name: null,
                                hourly_rate: null,
                                currency: null
                            }
                        },
                        ...data.relationships.alloc_orders
                    ];

                    instance.loadFromData(projects);
                    if(projects.length<2) {
                        k.$el.find("#projectSelect").find("select").hide();
                    }
                })
                .catch(function (xhr) {
                    k.$el.find("#loader").hide();
                    let cb;
                    switch(xhr.jqXHR.status) {
                        case "404":
                            k.$el.find("#invalidCode").show();
                            cb = ()=>k.$el.find("#invalidCode").hide();
                            break;
                        case 500:
                            k.$el.find("#severError").show();
                            cb = ()=>k.$el.find("#severError").hide();
                            break;
                        case 0:
                            k.$el.find("#serviceUnavail").show();
                            cb = ()=>k.$el.find("#serviceUnavail").hide();
                            break;
                        default:
                            k.$el.find("#unknowError").show();
                            cb = ()=>k.$el.find("#unknowError").hide();
                    }
                    setTimeout(cb,1000);
                    form.uid.disabled = false;
                    form.submButt.disabled = false;
                });
        }
    }
</script>