<script>

    function init_komponent(k) {
        let instance = k.data.instance;
        let fields = [
            {type:"text", name: "name", label: "Denumire",attrs:{required:true}},
            {type:"text", name: "grouping", label: "Grupaj",attrs:{required:true},options:["manopera","materii prime","diverse"]},
            {type:"number", name: "qty", label: "Cantitate",attrs:{required:true, step:"0.01"}},
            {type:"select", name: "unit", label: "Unitate de masura", url: "/units", labelfnc: "unit", idfnc: "unit",attrs:{required:true}},
            {type:"number", name: "unit_price", label: "Pret unitar",attrs:{required:true, step:"0.01"}},
            {type:"select", name: "currency", label: "Moneda", url: "/currencies", labelfnc: "id", idfnc: "id",attrs:{required:true}},
            {type:"number", name: "vat", label: "Cota TVA",attrs:{required:true},default:19},
        ];
        let title = "Adaugare cost";

        if(typeof instance.items==="undefined") {
            title = "Editare cost";
            fields[0].default = instance.attributes.name;
            fields[1].default = instance.attributes.grouping;
            fields[2].default = instance.attributes.qty;
            fields[3].default = {id:instance.relationships.unit.id,description:instance.relationships.unit.id};
            fields[4].default = instance.attributes.unit_price;
            fields[5].default = {id:instance.relationships.currency.id,description:instance.relationships.currency.id};
            fields[6].default = instance.attributes.vat;
            fields.push({type:"hidden", name: "id", default:instance.id});
        }

        let options = {
            title: title,
            fields: fields,
            autoClose: false,
            callback: function (data) {
                let fmk = data.k;
                data = data.data;
                let promise = (typeof instance.items==="undefined") ? instance.update(data) : instance.createItem(data);
                promise.then(function () {
                    fmk.hide();
                    if(typeof k.data.cb === "function") {
                        k.data.cb();
                    }
                })
                    .catch(function(d) {
                        komponentor.intent("/common/errormodal").data({
                            body: "A aparut o eroare:<pre>" + data.jqXHR.responseText + "</pre>"
                        }).send();
                    });
            }
        };

        komponentor
            .intent("/common/formmodal")
            .data(options).send();
    }

</script>