<div>
    <table class="table table-sm" id="receptionsItemsTable">
        <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Reper</th>
            <th>Cont</th>
            <th>Gestiune</th>
            <th>Cantitate</th>
            <th>U/M</th>
            <th>P.U. Achizitie</th>
            <th>Adaos comercial (%)</th>
            <th>Valoare adaos</th>
            <th>TVA</th>
            <th>Valoare + TVA</th>
        </tr>
        </thead>
        <tbody id="receptionItems">
        <tr>
            <td><%= id %></td>
            <td><%=relationships.product_id.attributes.name%></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tfoot id="receptionsItemsFooter">
        <tr>
            <td colspan="5"></td>
        </tr>
        </tfoot>
    </table>
</div>

<script>
    // function init_komponent(k) {
    //     console.log(k.data)
    // }
</script>