

<div class="container-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Pontaj</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div is="komponent" data-replace="true" data-url="/views/pontaj/lista"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    function init_komponent(k) {
        komponentor.loadKomponents(k.$el);
        console.log(komponentor.routing);
    }

</script>