<style>

    #usersThead a {
        cursor: pointer;
    }

</style>

<div class="checkRequired" data-module="users" data-level="3">
    <div class="container-fluid">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Utilizatori</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6 ">
                        <div class="breadcrumb float-sm-right">
                            <button class="btn btn-primary checkCreate" id="newJobModalButton" ><i class="fa fa-user-plus"></i> Adauga</button>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body checkRead">
                        <form id="filterUsers" class="d-none"><button type="submit" name="submit"></button></form>
                        <table class="table table-striped table-hover">
                            <thead class="thead-dark" id="usersThead"                                                                               >
                            <tr>
                                <th>
                                    <a class="text-white" data-sortfld="userid">UserID
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                    <input form="filterUsers" type="text" name="userid" data-operator="~=~" class="form-control form-control-sm" onkeyup="this.form.submit.click()">
                                </th>
                                <th>
                                    <a class="text-white" data-sortfld="lname">Nume
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                    <input form="filterUsers" type="text" name="lname" data-operator="~=~" class="form-control form-control-sm" onkeyup="this.form.submit.click()">
                                </th>
                                <th>
                                    <a class="text-white" data-sortfld="fname">Prenume
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                    <input form="filterUsers" type="text" name="fname" data-operator="~=~" class="form-control form-control-sm" onkeyup="this.form.submit.click()">
                                </th>
                                <th>
                                    <a class="text-white" data-sortfld="active">Activ
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                    <select form="filterUsers" name="active" class="form-control custom-select custom-select-sm" onchange="this.form.submit.click()">
                                        <option value=""></option>
                                        <option value="1">Activ</option>
                                        <option value="0">Inactiv</option>
                                    </select>
                                </th>
                            </tr>
                            </thead>
                            <tbody data-resourcetype="collection" id="users"
                                   data-type="users" data-sort="#usersThead"
                                   data-paging="#usersPaging" data-filter="#filterUsers">
                            <tr onclick="openUserModal(this);" style="cursor: pointer">
                                <td><%= attributes.userid %></td>
                                <td><%= attributes.lname %></td>
                                <td><%= attributes.fname %></td>
                                <td><span class="badge badge-<%= attributes.active*1===0?'danger':'success' %>"><%= attributes.active*1===1?'activ':'inactiv' %></span> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <td colspan="5" align="left">
                            <div class="btn-group" id="usersPaging" data-pagesize="20">
                                <button data-type="first" class="btn btn-outline-secondary">&lt;&lt;</button>
                                <button data-type="prev" class="btn btn-outline-secondary">&lt;</button>
                                <button data-type="page" class="btn btn-outline-secondary">1</button>
                                <button data-type="next" class="btn btn-outline-secondary">&gt;</button>
                                <button data-type="last" class="btn btn-outline-secondary">&gt;&gt;</button>
                            </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

</div>

<script>

    function openUserModal(src){
        komponentor.intent("/views/users/user").data({instance: $(src).data().instance}).send();
    }

    function init_komponent(k,html) {

        let instance = $("#users").apiator({url:apiRoot+"/users?page[users][limit]=20&sort=userid",returninstance: true,addontop:true});
        k.$el.find("#newJobModalButton").off("click").on("click", function (src){
            komponentor.intent("/views/users/addUser").data({instance:instance}).send();
        });
    }
</script>