<style>
        .overlay {
            position: fixed; /* Sit on top of the page content */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fdfdfd; /* Black background with opacity */
            z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }
    #projectSelect ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    #projectSelect li{
        padding: 5px;
    }
    body{
        font-family: Poppins,'Source Sans Pro';
        background: none;
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }


</style>

<div id="invalidApiUrl" class="loading-overlay unit" style="display: none">
    <p class="vertical-center text-center">
        Invalid API URL. Please configure it using the extension options.
    </p>
</div>
<div id="loader" class="loading-overlay unit"  style="display: none">
    <div class="vertical-center text-center">
        Loading...
    </div>
</div>
<div class="container p-2 text-center">
    <h4 class="p-2 rounded rounded-lg bg-dark text-white ">Pontaj SportsGames </h4>
    <div id="login" class="unit">
        <form id="lookupform">
            <input type="text" name="uid" value="" required class="form-control" placeholder="ID Angajat">
            <button type="button" id="submButt" class="mt-1 btn btn-primary form-control" onclick="if(this.form.uid.value!=='') checkuser(this.form.uid.value)">Verifica stare</button>
        </form>
    </div>
    <div id="invalidUserId" style="display: none" class="unit text-center">
        Utilizatorul nu este valid
    </div>
    <div id="unknownErr" style="display: none" class="unit text-center">
        Utilizatorul nu este valid
    </div>
    <div id="invalidCode" style="display: none" class="unit text-center">
        Codul introdus este invalid
    </div>

    <div id="stopOk" style="display: none" class="unit text-center">
        <p>
            Pontajul a fost oprit.
        </p>
        <p>
            Ai lucrat in total <span class="durationh"></span> ore si <span class="durationm"></span> minute
        </p>
        <!--        <button class="btn btn-secondary" onclick="checkuser()">OK</button>-->

    </div>
    <div id="severError" style="display: none" class="unit text-center">
        Eroare pe server
    </div>
    <div id="serviceUnavail" style="display: none" class="unit text-center">
        Serviciul este indisponibil
    </div>
    <div id="unknowError" style="display: none" class="unit text-center">
        Eroare necunoscuta
    </div>

    <div id="projectSelect" style="display: none" class="unit text-center">
        <h3></h3>
        <form onsubmit="event.preventDefault();startWork(this);">
            <select name="project">
                <option value="<%= id %>"><%= attributes.order_name ? attributes.order_name : "fara nume" %> <%= attributes.op_name ? "/ "+attributes.op_name : "fara nume" %></option>
            </select>
            <button class="btn btn-success form-control"><i class="fa fa-clock"></i> Incepe pontarea</button>
            <button class="btn btn-secondary form-control mt-2" type="button" onclick="backToLogin()"><i class="fa fa-sign-out-alt"></i> Deconectare</button>
        </form>
    </div>
    <div id="working" style="display: none" class="unit text-center">
        <h2 class="emplName"></h2>
        <h3 class="project"></h3>
        <h4 class="operation"></h4>
        <h5>In lucru de <span class="elapsedTime"></span> ore</h5>
        <button onclick="stopWork(this);" class="btn btn-danger form-control">Opreste lucru</button>
        <button class="btn btn-secondary form-control mt-2" type="button" onclick="backToLogin()"><i class="fa fa-sign-out-alt"></i> Deconectare</button>
    </div>
</div>

<script>

    apiUrl = apiRoot;

    function stopWork() {
        $("#loader").fadeIn();
        let ttid = current_ttregistry.relationships.started_work[0].id;
        let inst = $("<span>").apiator({returninstance:true,resourcetype:"item"}).setUrl(apiUrl+"/timetracking/"+ttid)
        inst.id = ttid;
        inst.update({status:"f"})
            .then(function (data) {

                $("#loader").fadeOut();
                $("#working").fadeOut();
                $("#stopOk").fadeIn();
                $("#stopOk .durationh").text(Math.floor(data.attributes.duration/60));
                $("#stopOk .durationm").text(Math.floor(data.attributes.duration%60));
                setTimeout(function () {
                    $("#stopOk").fadeOut();
                    checkuser();
                },3000);
            })
    }


    function startWork(src) {
        $("#loader").fadeIn();
        let sel = $("#projectSelect form").find("option:selected").data().instance;
        let data = {
            employee: current_ttregistry.relationships.emplid.id,
        };
        if(sel.attributes.hourly_rate) {
            data.hourly_rate = sel.attributes.hourly_rate;
        }
        if(sel.attributes.op_id) {
            data.operation = sel.attributes.op_id;
        }
        if(sel.attributes.order_id) {
            data.order = sel.attributes.order_id;
        }
        if(sel.attributes.currency) {
            data.currency = sel.attributes.currency;
        }

        $("<span>")
            .apiator({returninstance: true,resourcetype: "collection"})
            .setUrl(apiUrl+"/timetracking")
            .append(data)
            .then(function () {
                $("#projectSelect").fadeOut();
                checkuser();
            })
            .catch(function (xhr) {
                $("#unknownErr").text(JSON.stringify(xhr)).fadeIn();
            });

    }

    function backToLogin() {
        $("#lookupform")[0].uid.value = null;
        $('.unit').hide();
        $('#login').show();
        parent.postMessage({command:"set",data:{userId:null}},"*");

    }

    function checkuser(uid) {
        if(uid && typeof uid==="string") {
            userId = uid;
        }
        if(typeof userId==="undefined" || userId==="" || userId===null) {
            console.log("back to login")
            backToLogin();
            return;
        }
        $("#loader").show();
        $("#login").hide();

        saveUserId(userId);

        $("<span>").apiator({returninstance: true,resourcetype: "item"})
            .setUrl(apiUrl+"/tags/"+userId+"?include=started_work,emplid,alloc_orders")
            .loadFromRemote()
            .then(function (data) {
                $("#loader").fadeOut();

                current_ttregistry = data;

                if(data.relationships.started_work.length) {
                    let cont = $("#working").fadeIn();
                    if(data.relationships.started_work[0].attributes.order_label) {
                        cont.find(".project").html(data.relationships.started_work[0].attributes.order_label);
                    }
                    if(data.relationships.started_work[0].attributes.operation_name) {
                        cont.find(".operation").html(data.relationships.started_work[0].attributes.operation_name);
                    }

                    showKontor = true;

                    cont.find(".emplName").text(data.attributes.fname+" "+data.attributes.lname);

                    function showTime() {

                        let dateDiffSeconds = Math.round(((new Date()).getTime()-(new Date(data.relationships.started_work[0].attributes.start)).getTime())/1000);
                        let seconds = dateDiffSeconds%60;
                        let minutes = Math.floor(dateDiffSeconds/60);
                        let hours = Math.floor(minutes/60);
                        minutes = minutes%60;

                        let elapsed = ("0" + hours).slice(-2) + ":"+("0" + minutes).slice(-2) + ":"+("0" + seconds).slice(-2);
                        cont.find(".elapsedTime").html(elapsed);

                        if(showKontor) {
                            setTimeout(showTime,1000);
                        }
                    }
                    showTime();
                    return;
                }

                let projView = $("#projectSelect");
                projView.find("h3").html(data.attributes.fname + " " + data.attributes.lname);
                let instance = projView.fadeIn().find("select").apiator({returninstance: true,resourcetype: "collection"});

                let projects = [
                    {
                        id: null,
                        attributes:{
                            op_id: null,
                            op_name: null,
                            order_id: null,
                            order_name: null,
                            hourly_rate: null,
                            currency: null
                        }
                    },
                    ...data.relationships.alloc_orders
                ];

                instance.loadFromData(projects);
                if(projects.length<2) {
                    $("#projectSelect").find("select").fadeOut();
                }
            })
            .catch(function (xhr) {
                $("#loader").fadeOut();
                let cb;
                switch(xhr.jqXHR.status) {
                    case 404:
                        $("#invalidCode").show();
                        cb = ()=>{$("#invalidCode").fadeOut();backToLogin()};
                        console.log("Saving userid 2")

                        saveUserId(null);
                        break;
                    case 500:
                        $("#severError").fadeIn();
                        cb = ()=>$("#severError").fadeOut();
                        break;
                    case 0:
                        $("#serviceUnavail").fadeIn().text(JSON.stringify(xhr.jqXHR));
                        cb = ()=>$("#serviceUnavail").fadeOut();
                        break;
                    default:
                        $("#unknowError").fadeIn();
                        cb = ()=>$("#unknowError").fadeOut();
                }
                setTimeout(cb,2000);
            });
    }

    var saveUserId;

    function saveUserIdAsExtension(userId) {
        console.log(userId);
        parent.postMessage({command:"set",data:{userId:userId}},"*");
    }

    function saveUserIdAsApp(userId) {
        localStorage.setItem("userId",userId);
    }

    window.addEventListener('message', function(event) {
        if(typeof event.data.command==="undefined") {
            return;
        }

        switch (event.data.command) {
            case "sync":
                console.log(event.data);
                if(typeof event.data.data.userId!=="undefined") {
                    checkuser(event.data.data.userId);
                }
                else {
                    backToLogin();
                }
                break;
            case "reload":
                window.location.reload();
                break;
        }
    });


    function init_komponent(k) {
        if(parent===window) {
            saveUserId = saveUserIdAsApp;
            checkuser(localStorage.getItem("userId"));
            return;
        }

        $("#loader").show();
        parent.postMessage({command:"get",data:{userId:null}},"*");
        saveUserId = saveUserIdAsExtension;
    }
</script>