<script>
    function init_komponent(k){
        let instance = k.data.instance;
        console.log(k);
        komponentor
            .intent("/common/formmodal")
            .data({
                title: "Editare",
                fields: [
                    {type:"text", name: "userid", default: instance.attributes.userid, placeholder: "", label: "Login", attrs:{disabled:true}},
                    {type:"text", name: "fname", default: instance.attributes.fname, placeholder: "", label: "Prenume"},
                    {type:"text", name: "lname", default: instance.attributes.lname, placeholder: "", label: "Nume"},
                    {type:"text", name: "email", default: instance.attributes.email, placeholder: "", label: "E-Mail", pattern: `[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$`},
                    {type:"text", name: "password", default: "", placeholder: "", label: "Parola"},
                ],
                callback: function (data) {
                    console.log(data);
                    if(data.fname === "" || data.lname === "" || data.email === ""){
                        komponentor.intent("/common/messagemodal").data({
                            body:"Campurile Prenume, Nume si E-Mail trebuie sa fie completate. Parola va fi completata doar daca se doreste schimbarea acesteia.",
                            buttons:[
                                {
                                    label: "Ok",
                                    attrs: {
                                        "data-dismiss": "modal",
                                    },
                                    class: "btn btn-danger",
                                }
                            ]
                        }).send();
                        return 1;
                    } else {
                        if(data.password !== ""){
                            komponentor.intent("/common/messagemodal").data({
                                body:"Sunteti sigur ca doriti schimbarea parolei?",
                                buttons:[
                                    {
                                        label: "Da",
                                        attrs: {
                                            "data-dismiss": "modal",
                                        },
                                        class: "btn btn-danger",
                                        callback: function () {
                                            instance.update(data);
                                        }
                                    },
                                    {
                                        label: "Nu",
                                        attrs: {
                                            "data-dismiss": "modal",
                                        },
                                        class: "btn btn-danger",
                                        callback: function () {
                                            delete data.password;
                                            instance.update(data);
                                        }
                                    }
                                ]
                            }).send();
                        } else {
                            delete data.password;
                            instance.update(data);
                        }
                    }
                }
            }).send();
    }
</script>