<style>
    #userDetailsForm .row>div{
        padding: 5px;
    }
    #userDetailsForm .row>div:nth-child(1) {
        padding: 10px;
        font-weight: bold;
    }
    #userDetailsForm .row>div:nth-child(2){
        padding: 10px;
    }
    #userDetailsForm .row{
        border-bottom: silver solid 1px;
    }
    #userDetailsForm .row:last-of-type{
        border-bottom: none;
    }
    #userDetailsForm .row>div:nth-child(3) {
        display: none;
    }
    #userDetailsForm.editMode>div>.row>div:nth-child(2) {
        display: none;
    }
    #userDetailsForm.editMode>div>.row>div:nth-child(3) {
        display: inline-block;
    }
    .btn.btn-save{
        display: none;
    }
    .editMode .btn.btn-edit{
        display: none;
    }
    .editMode .btn.btn-delete{
        display: none;
    }
    .editMode .btn.btn-save{
        display: inline-block;
    }
    .editMode .hide-on-edit{
        display: none;
    }
    .hide-on-view{
        display: none;
    }
    .editMode .hide-on-view{
        display: flex;
    }

</style>

<div class="modal" id="userModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Utilizator
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a data-toggle="tab" href="#userSummary" class="nav-link" id="userSummeryTab">Sumar</a>
                    </li>
                    <li class="nav-item checkUpdate">
                        <a data-toggle="tab" href="#userRightsPanel" class="nav-link" id="userRightsTab">Drepturi de access</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body bg-light">
                <div class="tab-content">
                    <div class="tab-pane fade" id="userSummary">
                        <form id="userDetailsForm">
                            <div id="userDetails">
                                <div class="row hide-on-edit">
                                    <div class="col-3">login</div>
                                    <div class="col-9"><%= attributes.userid %></div>
                                    <div class="col-9"><input name="userid" class="form-control form-control-sm" type="text"></div>
                                </div>
                                <div class="row">
                                    <div class="col-3">Nume</div>
                                    <div class="col-9"><%= attributes.lname %></div>
                                    <div class="col-9"><input name="lname" class="form-control form-control-sm" type="text"></div>
                                </div>
                                <div class="row">
                                    <div class="col-3">Prenume</div>
                                    <div class="col-9"><%= attributes.fname %></div>
                                    <div class="col-9"><input name="fname" class="form-control form-control-sm" type="text"></div>
                                </div>
                                <div class="row">
                                    <div class="col-3">Email</div>
                                    <div class="col-1"><%= attributes.email %></div>
                                    <div class="col-9"><input name="email" class="form-control form-control-sm" type="text"></div>
                                </div>
                                <div class="row">
                                    <div class="col-3">Status</div>
                                    <div class="col-1"><%= attributes.active %></div>
                                    <div class="col-9">
                                        <label></label>
                                        <select id="userStatusSelect" class="form-control form-control-sm custom-select custom-select-sm" name="active" style="width: 100%">
                                            <option value="0">Inactiv</option>
                                            <option value="1">Activ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row hide-on-view">
                                    <div class="col-3">Parola</div>
                                    <div class="col-1"></div>
                                    <div class="col-9"><input name="password" class="form-control form-control-sm" type="text"></div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <button class="btn btn-warning btn-save" type="submit">Salveaza</button>
                                <button class="btn btn-secondary btn-save" type="button" id="cancelButton">Renunta</button>
                                <div class="row">
                                    &nbsp;
                                    <button class="btn btn-success btn-edit checkUpdate" type="button">Editeaza</button>
                                    &nbsp;
                                    <button class="btn btn-danger btn-delete checkDelete" data-dismiss="modal" type="button">Sterge</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="userRightsPanel">
                        <div is="komponent" data-url="/views/users/userRights" id="userRights"></div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-secondary">Inchide</button>
            </div>
        </div>
    </div>
</div>

<script>

    function init_komponent(k) {

        checkUserRights(k.$el, "users");

        function editMode() {
            $('#userDetailsForm').addClass('editMode');

            let form = $("#userDetailsForm")[0];
            let util = instance.getUtilities();

            form.reset();
            let tmpPassword = "" + instance.attributes.password;
            instance.attributes.password = "";

            util.captureFormSubmit(form, function (data) {
                if (data.password === "") {
                    data.password = tmpPassword;
                }

                instance.update(data)
                    .then(function () {
                        $('#userDetailsForm').removeClass('editMode');
                        instance.loadFromRemote();
                    })
                    .catch(function (jqxhr) {
                        if (jqxhr.errorThrown==="Conflict") {
                            komponentor.intent("/common/errormodal").data({
                                body: "Conflict."
                            }).send();
                        } else {
                            komponentor.intent("/common/errormodal").data({
                                body: "A aparut o eroare: <pre>"+JSON.stringify(jqxhr.jqXHR.responseText)+"</pre>"
                            }).send();
                        }
                        console.log(jqxhr);
                    });

            });

            console.log(instance.attributes.active);
            $(form).find("#userStatusSelect").select2().val(instance.attributes.active).trigger("change");
            util.fillForm(form, instance);

        }

        function deleteUser() {

            let bodyQuery = "Esti sigur ca vrei sa stergi acest utilizator?";
            let bodyData = "<br><strong>" + instance.attributes.lname + " " + instance.attributes.fname + "</strong>";

            komponentor.intent("/common/messagemodal").data({
                body: bodyQuery + bodyData,
                buttons: [
                    {
                        label: "Da",
                        class: "btn-danger",
                        attrs: {
                            "data-dismiss":"modal"
                        },
                        callback: function () {
                            instance.delete().then(() => { console.log("ok", arguments) })
                                .catch( function(data) {
                                    komponentor.intent("/common/errormodal").data({
                                        body: "A aparut o eroare:<pre>"+JSON.stringify(data.jqXHR.responseText)+"</pre>"
                                    }).send();
                                });
                        }
                    },
                    {
                        label: "Nu",
                        class: "btn-secondary",
                        attrs: {
                            "data-dismiss":"modal"
                        }
                    }
                ]
            }).send().then(function () {
                // instance.loadFromRemote();
            });
        }

        if(!k.data || !k.data.instance) {
            return;
        }

        let instance = k.data.instance;
        let $modal = k.$el.appendTo("body")
            .filter(".modal")
            .on("hidden.bs.modal", function () {
                k.$el.remove();
            })
            .modal("show");

        $modal.find(".btn-edit").off().on("click", editMode);
        $modal.find(".btn-delete").off().on("click", deleteUser);
        $modal.find("#cancelButton").off().on("click", function (e) {
            if (e.target.form.id.value !== "") {
                $('#userDetailsForm').removeClass('editMode');
                return;
            }
        });

        instance.bindView("#userDetails").loadFromRemote().then(function () {
            $("#userSummeryTab").tab("show");
        })
        .catch(function(data){
            komponentor.intent("/common/errormodal").data({
                body: "A aparut o eroare:<pre>"+JSON.stringify(data.jqXHR.responseText)+"</pre>"
            }).send();
        });

        $("#userRights").komponent({data:k.data});

    }

</script>

